[2021-11-26 13:42] manicminer commented on #683
Hi @Va55ago, thanks for reporting this! It looks like our validation for public client redirect URIs was disallowing URNs, which as you point out should be allowed. I've opened a PR to address this, the fix will go out in the next weekly release of the provider. Thanks!

[2021-11-26 13:54] manicminer commented on #681
@Andrei-Predoiu It looks like this is a bug! Sorry about this, I'll work on a fix to be included in next week's release.

[2021-11-26 15:55] Bhodges94 commented on #682
Well I tested with a hotmail account and corporate account and both resulted in no email. I've checked the AD audit logs and can see that the invite external user was success.

Like I said, it works if I do it manually from the portal but not when using the Terraform azuread provider.

Here's the code I'm using:

resource "azuread_invitation" "user-creation" {
  for_each            = {for user in

[2021-11-26 18:55] manicminer commented on #682
@Bhodges94 You'll need to include a `message` block in your configuration, as shown in the [documentation](https://registry.terraform.io/providers/hashicorp/azuread/latest/docs/resources/invitation#example-usage) :)

[2021-11-26 19:22] spa5603 opened #686 "Conditional Access: Error if users condition contains roles "All""
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritise this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritise the request
* If you are interest

[2021-11-26 21:07] manicminer commented on #686
Hi @spa5603, thanks for reporting this. We recently fixed a couple of casing errors in this resource and I suspect the docs may be out of date. Can you try again using `all` as the value (all lowercase)?

[2021-11-26 21:13] spa5603 commented on #686
Hi @manicminer thanks for your fast reply on this issue. Unfortunately is the result the same:

 Error: Could not create conditional access policy
│
│   with azuread_conditional_access_policy.mfa01,
│   on conditionalaccess.tf line 1, in resource "azuread_conditional_access_policy" "mfa01":
│    1: resource "azuread_conditional_access_policy" "mfa01" {
│
│ ConditionalAccessPoliciesClient.BaseClien

[2021-11-30 07:34] Uvindu96 opened #687 "Getting Could not disable OAuth2 Permission Scopes for application error"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritise this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritise the request
* If you are interest

[2021-11-30 18:59] gtmtech commented on #679
This would be great - would you take a pull request on this?

I was thinking to do something similar to the google provider (GCP) where they make a distinction between authoritative and non-authoritative policies.

I am guessing I am thinking to create a new azuread_application_app_role_assignments (plural) resource with a List parameter, which would then detect drift across all member assignments

[2021-11-30 20:53] jimsheldon opened #688 "azuread_group "objects changed outside of Terraform" message after apply"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritise this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritise the request
* If you are interest

[2021-12-01 17:25] SteveKurutz commented on #329
I picked up on this thread while trying to figure out how to get TF to link a TF-created AzureAD group to an administrative unit.  I see that the AzureAD provider supports the management of AU's, and the management of AzureAD groups . . . but I can't seem to find where I can link an AU to an AzureAD group.  Is that feature planned?

[2021-12-01 19:32] manicminer commented on #329
@SteveKurutz are you looking for the [azuread_administrative_unit_member resource](https://registry.terraform.io/providers/hashicorp/azuread/latest/docs/resources/administrative_unit_member) (or the `members` property of azuread_administrative_unit)?

Also, closing this issue as this was recently released!

[2021-12-01 19:32] #329 closed

[2021-12-01 21:06] SteveKurutz commented on #329
@manicminer  - thanks for checking back on this.  Regarding your question, yes, that's it.  I had gotten confused regarding the term 'member' and didn't recognize that principals managed within an AU scope are "members".  I think I'm set, thanks!

[2021-12-02 07:34] Bhodges94 commented on #682
Thanks @manicminer I will give it a try. Would be nice if the documentation said that it was required. It should be made mandatory because without it, the user doesn't get invited.

[2021-12-02 14:19] manicminer commented on #679
@gtmtech Yes, a PR would be great!

Your proposal sounds good, although I wonder if it might be best to add this as an attribute to the `azuread_service_principal` resource, since that's the entity for which it would be authoritative?

In terms of conflict between this and the `app_role_assignment` resource, yes we'd just document this caveat and advise users to not use both resources for the same

[2021-12-02 16:03] manicminer commented on #688
Hi @jimsheldon, thanks for reporting this. The output you are seeing is due to changes in Terraform Core that were included in the [Terraform v0.15.4 release](https://github.com/hashicorp/terraform/blob/v0.15/CHANGELOG.md#0154-may-19-2021). I appreciate that in this case, such output isn't helpful since the resource was literally just created by Terraform and the diff being surfaced here consists

[2021-12-02 16:03] #688 closed

[2021-12-02 22:02] #683 closed

[2021-12-02 22:30] manicminer commented on #686
Hi @spa5603, thanks for reporting back. Taking a closer look at this, I don't believe this is affected by any of our recent changes. We sourced these values from the [API documentation](https://docs.microsoft.com/en-us/graph/api/resources/conditionalaccessusers?view=graph-rest-beta) which states that the keyword "All" is valid for both `includeGroups` (TF property `included_groups`) and `includeRo

[2021-12-02 22:35] manicminer commented on #675
Thanks @Uvindu96, you beat me to it :)

I'll close this issue in favor of https://github.com/hashicorp/terraform-provider-time/issues/57

[2021-12-02 22:35] #675 closed

[2021-12-02 22:44] manicminer commented on #485
@elthanor Circling back on this, now that we have a few 2.x releases out the door, are you able to confirm if you're still seeing this in the latest release (2.11.0 at time of writing)? A lot of changes went into the schema here and I'm hoping this has cleared up this bug. If not, I'll be happy to investigate further. Thanks!

[2021-12-02 23:19] manicminer commented on #687
Hi @Uvindu96, thanks for reporting this and sorry you are experiencing this difficulty when upgrading the provider.

There are a few things to bear in mind when upgrading from a 1.x to 2.x release, these are covered in our [Upgrade Guide](https://registry.terraform.io/providers/hashicorp/azuread/latest/docs/guides/microsoft-graph). I note that in your diff the `user_impersonation` scope is set to

[2021-12-02 23:20] #687 closed

[2021-12-02 23:32] manicminer commented on #428
Hi all, I appreciate this gap in functionality is frustrating when trying to manage apps that require an identifier URI containing their own client ID. It is a feature that we would like to support, however, given the stateful and idempotent architecture of Terraform, this is difficult - to the extent that we have been unable to implement this to date without breaking existing configurations and l

[2021-12-02 23:33] manicminer commented on #428
@alex-oswald Unfortunately it's not possible to have a conditional Terraform schema

[2021-12-03 00:45] #686 closed

[2021-12-03 01:21] xplor-liviuelama opened #690 "DelegatedPermissionGrantsClient.BaseClient.Post(): unexpected status 409 with OData error: Request_MultipleObjectsWithSameKeyValue: Permission entry already exists."
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritise this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritise the request
* If you are interest

[2021-12-03 10:30] rufer7 commented on #624
I faced the same error and was able to "fix" it by assigning the authenticated user principal to the directory role `Groups Administrator` as stated in the documentation

[2021-12-03 15:24] ndrone-kr opened #691 "Ability to use OIDC federated credentials"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritise this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritise the request
* If you are interest

[2021-12-05 08:06] manicminer commented on #690
Hi @xplor-liviuelama, thanks for raising this. I believe the reason you're seeing a 409 error is because each delegated permission grant represents the scopes for a unique set comprising the service principal, the resource service principal, and the user(s) for which the grant is given. In other words, rather than creating a grant for each scope, you'll need to create a single grant per service pr

[2021-12-05 19:49] xplor-liviuelama commented on #690
hey @manicminer. Thanks for the direction. That has solve the problem indeed. I had to modify my locals to manipulate the data i needed and pass a list to the claim_values. Pretty easy since I already had it in a list, just a matter of splitting delegated grants vs application grants (this one does want a grant at a time).

[2021-12-05 19:49] #690 closed

[2021-12-06 11:14] manicminer commented on #662
@Divya1388 As this seems to be more of a usage question, I'm going to close this issue for now so that we can concentrate on bug reports and feature requests. Please feel free to comment further if I have misunderstood your report, or if you have any other information to add. Thanks!

[2021-12-06 11:14] #662 closed

[2021-12-06 11:16] manicminer commented on #651
@noampc As this looks like a platform limitation rather than a problem with the provider, I'm going to close this issue for now. Please feel free to comment further if I have missed some context from your report, but at the moment as I mentioned in my earlier reply, it looks like nested role-assignable groups are not supported by Azure AD at this time.

[2021-12-06 11:16] #651 closed

[2021-12-06 12:08] manali14 opened #692 "Terraform fails to add members to azure AD Group with version 2.x upgrade"
### Terraform (and AzureAD Provider) Version

Terraform v0.15.1
Azuread Plugin Version v2.x

### Affected Resource(s)

* `azuread_group_member`

### Debug Output

[code]

### Expected Behavior

The SP used to run the terraform code already has access to add members to the AD Group and works fine with version 1.x. However, it fails when we run it with provider version 1.x

[2021-12-06 13:31] Bhodges94 commented on #682
this worked btw, someone really needs to update the documentation

[2021-12-06 14:53] manicminer commented on #682
Hi @Bhodges94, thanks for reporting back. We do already include examples both with and without a message in the docs, and the description for the `message` block does already state

Glad you were able to get it working! :)

[2021-12-07 13:39] Satak commented on #691
This would be great addition indeed and adds lot of security in Azure. Please implement.

[2021-12-07 19:43] gtmtech commented on #679
Hi @manicminer , I have started work on this, however have noticed:

In the process, I realised that in order for my approles to appear in the myapplications.microsoft.com portal, they have to be set on the `azuread_service_principal` object, and not the `azuread_application` object. Also it requires slightly different permissions to set approles on the service_principal as opposed to the enterpri

[2021-12-07 20:10] gtmtech opened #694 "make tools fails on darwin/arm64"
Following the instructions on developing the provider, the first step- `make tools` failed on darwin/arm64 on a fresh clone:

[code]

I fixed this by upgrading `golangci` to the lastest version on https://github.com/hashicorp/terraform-provider-azuread/pull/693

### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-request

[2021-12-07 20:12] gtmtech commented on #694
#693  is now merged, will close

[2021-12-07 20:12] #694 closed

[2021-12-07 20:20] manicminer commented on #679
Hi @gtmtech, that's fantastic, thanks for working on this.

The app roles for a service principal are actually inherited from the linked application. The application defines the roles, and service principals that are linked to that application can declare role assignments on behalf of users, groups or SPs in that tenant. Due to the multi-tenant architecture of applications, service principals in d

[2021-12-07 20:23] manicminer commented on #694
Sorry, happy trigger finger on my part there :D

[2021-12-08 07:34] Bhodges94 commented on #682
Yeah and that message is stupid. What's the point in doing it if no message will be sent.

[2021-12-08 10:05] manicminer commented on #682
@Bhodges94 There are lots of reasons why someone may wish to customize or omit the message, which is why both the service and the provider expose this functionality.

There doesn't appear to be anything further to add to this resolved user issue, so we'll lock this for now. Please feel free to open another issue if you encounter a bug with the provider, or if you have a feature request.

[2021-12-08 10:23] gtmtech commented on #679
Hi @manicminer , very useful info thanks!

So on our azure setup, when I query approles on one of our service principals I get this:

[code]

Note the first one with `origin=Application`, but the second has `origin=ServicePrincipal`. Indeed if I query the associated application itself, I only see appRoles which in this list have an origin of Application. Therefore I believe you can add AppRoles to

[2021-12-08 10:34] gtmtech commented on #679
@manicminer I checked with my Azure guy, and he pointed me to this documentation from microsoft whereby they advise you to specifically patch the servicePrincipals appRoles with extra appRoles to make aws sso work. (This is what we are doing).

So it seems their API docs dont fully explain that you can have extra appRoles on service_principals, but their other docs say this is how you get stuff wo

[2021-12-08 10:42] manicminer commented on #679
@gtmtech Very interesting! I have heard about app roles being configured for service principals before but I believed this to be legacy behavior. I have tried this before with MS Graph but with my test configurations it simply ignored any app roles I attempted to add to the service principal manifest - it looks like to enable this for the service principal, the application must first export an app

[2021-12-08 11:09] awoimbee opened #696 "asuread_user: password field doesn't accept "known after apply" values"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritise this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritise the request
* If you are interest

[2021-12-08 11:56] awoimbee commented on #696
@manicminer you might want to update the documentation then, I copy-pasted from it and it says to use version `~>2.0.0` if I'm not mistaken

[2021-12-08 11:58] manicminer commented on #696
Thanks @awoimbee, we do try to keep examples up to date but perhaps worth nothing the authoritative documentation is the [Terraform Registry page](https://registry.terraform.io/providers/hashicorp/azuread/latest)

[2021-12-10 04:54] josh-barker opened #697 "prevent_duplicate_names prevents aad group from being recreated"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritise this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritise the request
* If you are interest

[2021-12-13 15:28] tomaciazek opened #698 "Reintroduce `azuread_application_app_role`"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritise this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritise the request
* If you are interest

[2021-12-13 16:36] ibacalu opened #699 "azuread_app_role_assignment unexpected status 404 with OData"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritise this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritise the request
* If you are interest

[2021-12-13 17:23] manicminer commented on #699
Hi @ibacalu, thanks for reporting this! I believe this is an eventual consistency issue with the API, which we might be able to mitigate. Given the scenario I'm pretty sure where this is happening so I don't think I need a debug log at this time.

[2021-12-13 17:25] manicminer commented on #697
Hi @josh-barker, thanks for reporting this. I believe the error during recreate is due to an eventual consistency issue with the API, which we might be able to mitigate.

For the import case, can you expand a little more how you're able to trigger this error? Thanks!

[2021-12-13 17:31] manicminer commented on #698
Hi @tomaciazek, thanks for requesting this. For background, at the time we removed the `azuread_application_app_role` resource, this was to resolve some other bugs which occurred at the unfortunate confluence of API semantics and limitations in Terraform. In the near future, it's possible these Terraform limitations may be able to be lifted, but it's not clear right now and requires further invest

[2021-12-14 03:49] josh-barker commented on #697
Hi @manicminer,

I've just updated the description.
To replicate the problem, follow the replication case:
1. Create an AAD group
2. Update the AAD group

I'll work on a small PR to show a failing test case and a potential solution.

[2021-12-14 22:21] trentmillar opened #700 "Panic output - creating azuread_application"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritise this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritise the request
* If you are interest

[2021-12-14 22:54] manicminer commented on #700
Hi @trentmillar, many thanks for reporting this crash and for the attached log.

It looks like this is related to a state migration, most likely the changing of `group_membership_claims` from a string to a list of strings in the v2.x series of the provider.

Can you confirm which provider version you're running now, and which version you upgraded from when this crash was triggered? Thanks!

[2021-12-15 14:13] aleqsss opened #701 "azuread_service_principal_password - end_date"
Since updating to version 2.0.0 of the provider (I guess that you updated to use the Microsoft Graph API instead of the deprecated Azure Active Directory Graph API), it's not possible to specify any **end_date** for the **azuread_service_principal_password** resource. It automatically defaults to two years.

I can see that it's still possible for the **azuread_application_password** resource thoug

[2021-12-15 22:21] #132 closed

[2021-12-16 11:08] ibacalu commented on #699
Thank you for the fast response @manicminer !

[2021-12-16 16:22] ju-la-berger commented on #624
In the enterprise I am working at, it is impossible for ordinary mortals to acquire such elevated rights.

My workaround for daily use in Terraform is to create the group via Azure CLI and import it into the state for further management via Terraform, e.g. like this:

[code]

(It is only the *creation* of the group that fails. Further modifications are working.)

[2021-12-17 07:58] ArveSystad commented on #631
Was stuck at the same problem. Worked when accessing app_role_ids from the application directly.

Would be nice if https://registry.terraform.io/providers/hashicorp/azuread/latest/docs/resources/app_role_assignment is updated to reflect reality.

[2021-12-20 14:57] trentmillar commented on #700
Hi @manicminer

Correct, this is an upgrade from v1 to v2 but I did modify `group_membership_claims` from a string to a list before posting this issue. Here's the state of one of the applications,

[code]

[2021-12-20 22:45] manicminer commented on #700
Thanks @trentmillar - just to confirm, did you manually update the state for the application resource? Fixing the state is only necessary for application data sources, as the state migration for the resource handles that. This might be why you are getting this error; if the sate migration is attempting to fix up the `group_membership_claims` value but it has already been changed, then you'd likely

[2021-12-21 11:13] tsologub opened #703 "DirectoryObjects.BaseClient.Get() 403 during assigning the owners for azuread_application"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritise this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritise the request
* If you are interest

[2021-12-21 14:15] pbeckendorf-gkgab commented on #68
Dear All, as Microsoft changed it's PIM API in October (https://docs.microsoft.com/en-us/graph/api/resources/privilegedidentitymanagement-root?view=graph-rest-beta), it might be a good thing to ask once again how the Status for the Azure PIM Terraform Provider is at the Moment? Anything planed or is there nothing on the horizon? Just wondering, as i think this would be a great thing for AAD PIM an

[2021-12-21 14:18] PatMcHugh opened #704 "Grant Controls not working for B2C Directories"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritise this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritise the request
* If you are interest

[2021-12-21 14:48] manicminer commented on #703
Hi @tsologub, thanks for the detailed report. This possibly requires `User.Read.All` in order to retrieve the other user owner, whereas retrieving the object for oneself is implicitly allowed. Does this also happen when you try to add another service principal as an owner? Does the error go away if you grant `User.Read.All` for the calling principal? I'll do some testing to try and reproduce this.

[2021-12-21 14:51] manicminer commented on #704
Hi @PatMcHugh, thanks for reporting this. I'll do some testing to try and reproduce. In the meantime, if you are able to post a [debug log](https://registry.terraform.io/providers/hashicorp/azuread/latest/docs#logging-and-tracing) covering this error, that would be really helpful as it shows exactly what is being sent to the API. Thanks!

[2021-12-21 16:17] tsologub commented on #703
Yes, I have tested and can confirm. Adding `User.Read.All` solves the issue.

Yes, the error goes away.

Funny thing, but no.

<img width="960" alt="Screenshot 2021-12-21 at 17 08 49" src="https://user-images.githubusercontent.com/7289706/146961909-d60acc8d-495f-4591-b3d3-cb2259055548.png">

This set of permissions is sufficient to set as an owner **any** service principal. But if I want to set a

[2021-12-21 17:51] manicminer commented on #703
Thanks @tsologub, that correlates with my expectations. With a default configuration, service principals are readable by anyone. I'll factor this in and see what I can come up with. We need to improve our testing with minimal permission grants to try and catch these earlier, but I believe we'll be able to resolve this.

[2021-12-21 20:50] trentmillar commented on #700
Hi @manicminer

I reverted the state file and updated the one application data source to an empty list, leaving the application resource blocks as empty strings. This time I get this,

[code]

Here's the state for one of the failing applications,

[code]

The latest AzureAD provider version after the upgrade is,

[code]

Any idea?

[2021-12-21 20:55] trentmillar commented on #700
Forget that, I see `azuread_application_app_role` is no longer in this version

[2021-12-22 00:12] chrisst commented on #691
I just set up a federated credential against a azuread_application that is already managed with Terraform, so I think you will only need the `azuread_service_principal_federated ` resource

API reference: https://docs.microsoft.com/en-us/graph/api/resources/federatedidentitycredential?view=graph-rest-beta
Other relevent docs: https://docs.microsoft.com/en-us/azure/active-directory/develop/workload

[2021-12-22 01:03] manicminer commented on #701
Hi @aleqsss, thanks for requesting this. At the time 2.0.0 was released, and for a period afterwards, the API exhibited a bug where the display name, start date and expiry date for service principal passwords was simply ignored and set to default values on creation. Unfortunately this meant we had to remove these properties from the resource as they were having no effect.

Although I revisited thi

[2021-12-22 09:39] dougan001 commented on #704
Hey @manicminer  - was doing some debug on this yesterday.

= Begin AzureAD Request ============================
Request ID: 637de6e4-0602-8923-a334-f08e6ab005bb

POST /v1.0/TENANTID/identity/conditionalAccess/policies HTTP/1.1
Host: graph.microsoft.com
User-Agent: HashiCorp Terraform/0.14.5 (+https://www.terraform.io) Terraform Plugin SDK/2.8.0 terraform-provider-azuread/2.13.0 Hamilton (Go-http-

[2021-12-22 10:29] aleqsss commented on #701
Makes sense @manicminer, thank you for looking into this, appreciated! 🙂

[2021-12-22 23:17] Va55ago commented on #683
Can confirm that this is now working as expected. Many thanks for the quick turnaround.

[2021-12-24 17:42] #700 closed

[2021-12-29 16:01] mauricehermens opened #708 "Can't create Conditional Access policy to force a password reset on high-risk users"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritise this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritise the request
* If you are interest

[2022-01-03 03:12] daramir opened #709 "Reference users by on-prem SAM account name, when defining an azuread_group"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritise this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritise the request
* If you are interest

[2022-01-03 03:13] daramir commented on #709
Have submitted a Pull Request for this: https://github.com/hashicorp/terraform-provider-azuread/pull/707

[2022-01-04 13:46] paullly opened #710 "Cannot add service principal to Azure AD Group"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritise this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritise the request
* If you are interest

[2022-01-04 14:32] robertbrandso commented on #624
I experienced this issue when I was authenticating using a service principal.

After I gave the Group.ReadWrite.All API permission to the SPN it worked.

This is also stated in the [documentation](https://registry.terraform.io/providers/hashicorp/azuread/latest/docs/resources/group):

I must admit it isn't the ideal solution to give such broad permissions.

[2022-01-05 08:54] miqm opened #711 "Creating Azure AD group without owners"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritise this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritise the request
* If you are interest

[2022-01-05 08:54] paullly commented on #710
Hello,
I guess I figured it out: tried to supply the object id of the app registration instead of the service principal (enterprise app). When using the sp object id, it works like a charm.

Thank you!

[2022-01-05 08:54] #710 closed

[2022-01-05 09:51] manicminer commented on #711
Hi @miqm, unfortunately API changes in the last few months means we are unable to create groups without owners. We have done our best to document this and other constraints on the [documentation page for the azuread_group resource](https://registry.terraform.io/providers/hashicorp/azuread/latest/docs/resources/group).

[2022-01-05 09:51] #711 closed

[2022-01-05 10:44] miqm commented on #711
@manicminer - in the docs you say `It's recommended` - not `it's required`. Through Azure Portal I can create an AAD group without owners and also I can remove all owners of particular group. I'm just asking to provide same functionality as there is in the CLI and Portal.

[2022-01-06 15:52] alexwilcox9 commented on #587
Hi @manicminer hope you had a good holiday!

Deployed some new policies today and noticed the sign in frequency was set correctly! Normally I go in and change it myself to align with the code
Not entirely sure when this was fixed but if you see the same correct behaviour I think we can close this off :)

[2022-01-06 21:48] manicminer commented on #711
@miqm Thanks, that isn't as clear as it could be and we can improve the wording there. Though in the description for the `owners` property we do state:

I'll look at tidying up the info box as I can se how that might be misleading.

[2022-01-06 21:53] enorlando commented on #587
Hi @manicminer
Seems to be working where I am able to now update the included_applications in the `applications` block of an existing CA policy without error

[2022-01-06 22:10] miqm commented on #711
AAD Security Groups **can** be created without owners or have all owners or members removed. I'm not talking about M365 groups but the security ones.

[2022-01-06 22:16] manicminer commented on #711
There is an API bug which applies the same conditions to security groups. It's inconsistently applied to different users/tenants so in order to support those for whom this bug manifests, we have to enforce group ownership regardless of group type.

[2022-01-06 22:23] miqm commented on #711
So if it is a bug this means that it will work someday. All CLI and portal uses API to create groups, enforcing owners by TF while rest of the tools doesn't have this problem is odd. Perhaps you could add some switch on provider to wave this limitation for users that are sure it'll work?

[2022-01-06 22:28] manicminer commented on #587
@alexwilcox9, @enorlando Thanks for testing and reporting, I'll do some testing around this and also see whether this allows us to stop forcing a new resource for changes to `sign_in_frequency`

[2022-01-06 22:34] manicminer commented on #711
Unfortunately the behavior of the Portal and CLI isn't representative of the experience when using a tool like Terraform, as they are first-party Microsoft apps. We're unlikely to change the provider behavior here until such as time as we can confirm the API is fixed, as the logic around group ownership is complex and balanced right now to avoid breaking users as much as possible.

[2022-01-06 22:38] manicminer commented on #711
Please see https://github.com/hashicorp/terraform-provider-azuread/issues/464, https://github.com/hashicorp/terraform-provider-azuread/issues/473, https://github.com/hashicorp/terraform-provider-azuread/issues/478 and https://github.com/hashicorp/terraform-provider-azuread/issues/567 for context.

[2022-01-06 22:49] miqm commented on #711
Thanks. I saw also your GH issue https://github.com/microsoftgraph/msgraph-metadata/issues/92 and there's a comment

Could TF provider implement such behaviour as an alternative?

[2022-01-06 23:05] miqm commented on #711
Also if #435 is considered to implement you shouldn't set owners to empty list if property is not provided - just don't provide and the api should not clear it and will allow to create security groups without owners but then we'll need to maintain group owners by using separate resources.

[2022-01-06 23:10] manicminer commented on #711
That comment is prefixed with "When using the portal", which as I mentioned isn't a good indicator as the portal is a first-party app.

One person's experience doesn't always match another's. When no owners are specified on group creation, sometimes the API obliges, but sometimes it adds an owner automatically, and sometimes it just returns a 400 error - both for security groups and M365 (unified)

[2022-01-07 00:20] #701 closed

[2022-01-07 00:37] #691 closed

[2022-01-07 07:31] tsologub commented on #703
I was trying to implement this one on my own and dug deeper into this. Have some findings that I'd like to share.
I have these permissions for my tests:
![Screenshot 2022-01-07 at 07 46 02](https://user-images.githubusercontent.com/7289706/148503440-1f1678a3-c807-48bc-8ec2-56b3da915c2b.png)
***

First, I found the [code line](https://github.com/hashicorp/terraform-provider-azuread/blob/main/intern

[2022-01-07 10:05] dimbleby commented on #661
@manicminer did you manage to do this?  Is there an upstream bug somewhere that I can go vote on?  thanks!

[2022-01-10 09:32] sce81 opened #712 "Data Source azuread_groups"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritise this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritise the request
* If you are interest

[2022-01-10 23:35] manicminer commented on #703
@tsologub I believe #713 should resolve this. We don't actually need to call the `/directoryObjects` endpoint any more, at least for applications or service principals. Managing owners for groups will however continue to require permission to retrieve each owner principal.

[2022-01-11 01:37] karimelmel opened #714 "Add User Settings configuration"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritise this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritise the request
* If you are interest

[2022-01-11 07:29] stawik-mesa commented on #668
Hi, we are facing the same issue, I tried to rollout this policy via Terraform: https://github.com/AlexFilipin/ConditionalAccess/blob/master/PolicyRepository/Data%20protection/500%20-%20RING%20-%20Data%20protection%20-%20All%20apps%20No%20persistent%20browser%20session%20When%20on%20untrusted%20device.json

Same issue:

[code]

[2022-01-11 10:07] rmihael opened #715 "Is is possible to create policy keys for Trust Framework?"
Hi.

I am trying to describe our Azure AD B2C directory in Terraform. We use custom policies, and they require defining a bunch of policy keys under the "Identity Experience Framework" section in the B2C configuration in the portal. I cannot find anything relevant in neither azuread nor azurerm providers. Am I missing something, or is it not implemented yet?

I really appreciate any help you can p

[2022-01-11 11:32] manicminer commented on #715
Hi @rmihael, not at the moment but it is on our roadmap for the AzureAD provider. Would you mind reformatting your original message using our feature request template and we can use this issue to track that feature. Thanks!

[2022-01-11 11:55] sce81 commented on #698
just to put my own 2p into this.
i need to integrate into a customers existing application. The only way for me to utilise app role functionality would be to import the customers entire application into terraform (i don't have the required permissions to do this) or to recreate the application in terraform (i don't have the budget for this) or not to use Terraform at all.
I can create app roles wi

[2022-01-12 08:23] manicminer commented on #712
Hi @sce81, thanks for requesting this feature. I think it makes sense to add some additional filtering support to the plural data sources like `azuread_groups` and `azuread_users`. Would a prefix match on the display name work for your use case?

[2022-01-12 10:10] sce81 commented on #712
Hi Tom, thansk for getting back to me. I'd say prefix would work in same cases, but not necessarily all. my customers vault identifier is in the middle of the name eg: "GRP_XX_VAULT_TEAM_FUNCTION"
i would be hoping to put in a filter like "*_VAULT_*"

[2022-01-12 12:23] manicminer commented on #712
That makes sense. I'll have to do a little more digging as support for complex matching beyond the `startsWith` function seems to be patchy - ideally we'd like to make use of API-supported filters where possible. The `startsWith` $filter function seems to be supported everywhere, however the $search filter (which you have to use for more complex matching) requires additional headers (which we can

[2022-01-12 12:38] sce81 commented on #712
Hey tom, thanks again for your update. I guess startsWith is a step up from where it is now, providing theres no restrictive character limit it can be a workable solution..

[2022-01-12 12:58] rmihael commented on #715
@manicminer, thank you for your reply. I updated the issue according to the feature request template. However, I do not feel qualified enough in Terraform and AD to suggest the potential configuration sample.

[2022-01-12 13:39] manicminer commented on #715
@rmihael Thanks! No worries, the schema will probably need some working out anyway based on what the API offers.

[2022-01-12 16:57] josefismael commented on #668
Coming back to this - the grant_controls block is required as per the documentation [here](https://registry.terraform.io/providers/hashicorp/azuread/latest/docs/resources/conditional_access_policy).

My problem was that if the Grant_controls aren't explicitly defined in the policy itself, `terraform show` doesn't return the block at all.

I haven't tested this with the newer versions of terraform

[2022-01-14 05:21] tsologub commented on #703
As I've mentioned in this comment https://github.com/hashicorp/terraform-provider-azuread/pull/713#issuecomment-1009979130, the #713 doesn't solve this issue. I didn't fully get why the PR was merged. 😮 Could you reproduce it on your side? What is the solution?

[2022-01-14 07:44] manicminer commented on #703
Hi @tsologub, the PR made sense to merge even if it did not necessarily fix the issue, although I intended to not close the issue - so I've reopened it. Sorry about that :)

[2022-01-14 22:17] kratkyzobak commented on #667
Does missing API apply to assigning scoped directory roles too? There is possibility in portal to assign Directory role (Built-In) to ObjectId scoped to only part of directory (currently searching for assigning App Administrator for group to specific applications only)

[2022-01-15 17:45] kaovd commented on #667
Just watching this issue, appears API support is now availiable in at least beta
https://docs.microsoft.com/en-us/azure/active-directory/roles/custom-create#create-a-role-with-the-microsoft-graph-api

[2022-01-17 08:02] Satak commented on #173
How can we create the saml single sign on certificate with Terraform for Azure AD enterprise app? Is this supported? Now I have to create the signing certificate from UI.

[2022-01-17 08:27] antonbormotov commented on #173
@Satak It is possible: https://registry.terraform.io/providers/hashicorp/azuread/latest/docs/resources/service_principal_certificate
However, requires to keep the self-signed certificate somewhere (you don't want to keep it in git)
That is why but I did provisioned it the UI.

[2022-01-17 12:46] manicminer commented on #668
Having done some more testing with the API around `grantControls`, it appears the API does require this to be specified - so the schema for this resource is appropriate.

For the wider issue of Terraform not showing nil values from state when importing a resource, that behavior is not handled by the provider. When reading a policy (e.g. during import), the provider sets the `grant_controls` block

[2022-01-17 12:46] #668 closed

[2022-01-17 12:53] manicminer commented on #704
@dougan001 Many thanks for the feedback, that helps narrow down the cause.

This may be challenging to resolve since the API has bugs around handling of the `sessionControls` field - in order to work round this we currently opt to explicitly specify that field when empty. When updating an existing CA policy, it's only possible to remove session controls from the policy by specifying an empty json

[2022-01-17 12:57] manicminer commented on #708
Hi @mauricehermens, thanks for reporting this issue. Unfortunately for the use case you describe, the API cannot be used in its current state because as you noted in your error output, the API requires the `platforms` field to be set. The 400 error you are seeing comes directly from the API and is not a result of validation in the Terraform provider.

Accordingly, this is blocked on the API right

[2022-01-17 13:13] manicminer commented on #587
Alas it would appear the API is still broken when updating session controls, so the conditional ForceNew will have to stay for now.

[2022-01-17 13:13] #587 closed

[2022-01-17 14:51] craigbryson opened #717 "service_principal permissions Directory.ReadWrite.All"
Hi!

We are trying to use a service principal to provision other service principals using the provider and according to the docs:

Could someone explain why the permissions need to be so broad? We are a little constrained by our governance, but we are able to use `az ad sp create` as objects without the above permissions and it works ok

[2022-01-17 15:25] manicminer commented on #717
Hi Craig, thanks for opening this issue. This is more of a usage question but I'll try to explain.

At this time I don't believe az-cli is using the same API as we are using in the Terraform provider. We generally base our indicated permissions off of the [API documentation for the endpoints that we're using](https://docs.microsoft.com/en-us/graph/api/serviceprincipal-post-serviceprincipals?view=g

[2022-01-17 15:25] #717 closed

[2022-01-17 17:17] craigbryson commented on #717
Thank you @manicminer that helps! I'll have a play around with permissions and see if I can make something fit

[2022-01-18 13:48] skeletonrush opened #718 "Issue azuread provider 2.15 - "URI must have a trailing slash when there is no path segment""
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritise this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritise the request
* If you are interest

[2022-01-18 14:51] manicminer commented on #718
Hi @skeletonrush, thanks for raising this issue. The validation rules for redirect URIs in the provider are based off [Microsoft documentation](https://docs.microsoft.com/en-us/azure/active-directory/develop/reply-url) and the behavior that we observe with the API that we use.

As per the above docs, redirect URIs with no path segment are returned by the API with a trailing slash. In order to main

[2022-01-18 20:21] andyshinn opened #719 "Support external email for mail enabled groups"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritise this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritise the request
* If you are interest

[2022-01-18 21:08] manicminer commented on #719
Hi @andyshinn, many thanks for requesting this feature. It looks like this should be a straightforward addition, I'll take a look at adding this soon.

[2022-01-19 08:53] skeletonrush commented on #718
Hi @manicminer , yes you're right, it only applies for a single URI. Sorry, I thought it was also for the "callback" URI. Now, with "https://${local.default_as_domain}/" the deployment is ok and the oidc login process works well.

[2022-01-19 08:53] #718 closed

[2022-01-20 11:46] tsologub commented on #703
@manicminer I have noticed that it works if one populates the `owners` via a separate `AddOwners` request.
i.e., First, `CreateApplication` without any owners (only the calling service principals will be auto-set to owners list). Then, `AddOwners` with a list of service principals/users/etc. <-- in this case, **only** the `Application.ReadWrite.Ownedby` **is sufficient.**

Mapping my words onto co

[2022-01-24 10:31] timothyclarke commented on #698
I'd like this to extend to `azuread_application_oauth2_permission`. Managing the entire app as one monolithic thing makes the code quite large and brittle.

[2022-01-24 19:17] mauricehermens commented on #708
Hi @manicminer,
You're almost right ;), the API will return the error message, but that's because the Terraform Azure AD Provider will **require** the `platform { }` block. So the Terraform (AzureAD provider) will force me to specify this block. And when you specify it, ofcourse you also need to specify a correct value for the parameters within the block, like `included_platforms = ["all"]` for ex

[2022-01-25 00:07] manicminer commented on #708
@mauricehermens Interesting, on initial investigation I did try this locally, in fact I commented out the code that adds the `platforms` field to the request but I still got the same 400 response.

I will do some more digging to try to get this to work.

[2022-01-25 13:32] maxarndt opened #720 "azuread_service_principal_password special characters"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritise this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritise the request
* If you are interest

[2022-01-25 14:52] StefanSchoof opened #721 "Add in second app_role to existing `azuread_application` fails"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritise this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritise the request
* If you are interest

[2022-01-26 10:19] sigurdfalk commented on #547
@kaovd any progress on this one? 🙏🏻

[2022-01-26 10:51] kaovd commented on #547
@sigurdfalk Some upstream fixes have been merged just waiting for the hamiltion release so can get changes in but AccessPackages,catalogs and policy is pretty much finalized

[2022-01-26 12:34] manicminer commented on #720
Hi @maxarndt, thanks for raising this. As you noted, it's no longer possible to have any control over client secrets / password credentials for applications or service principals, as these are now generated by the API with no option to affect the complexity.

This has had a few side effects as generated passwords are occasionally incompatible with existing scripts, or at time even with other Azure

[2022-01-26 12:34] #720 closed

[2022-01-26 12:44] manicminer commented on #721
Hi @StefanSchoof, thanks for reporting this issue.

Looking through the debug log, the API is indeed reporting an error for the `appRoles` field, however as best I can tell, the request to add the second app role is formatted correctly and there should be no problems with this request. To verify, I tried to reproduce this locally with the same setup; an existing application with one app role, and

[2022-01-26 12:50] manicminer commented on #547
@kaovd You beat me to it, your upstream PR is now released! Thanks for your work on this! :D

[2022-01-26 16:37] StefanSchoof commented on #721
Thanks @manicminer to look into this.

I figured it out. The problem is that the azure ad does not allow a Value named `User` and is returning a this not very matching error message.

Having
[code]
is working

(and
[code]
not)

[2022-01-26 16:42] StefanSchoof commented on #721
This restriction is not document at https://docs.microsoft.com/en-us/graph/api/resources/approle?view=graph-rest-beta

[2022-01-28 00:58] IdahoVandal opened #724 "unnecessary changes in azuread_named_location ip_ranges"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritise this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritise the request
* If you are interest

[2022-01-28 02:06] manicminer commented on #724
Hi @IdahoVandal, thanks for reporting this flapping diff - this looks like a potential ordering issue, which we should be able to address but due to Terraform limitations such a fix would require a breaking change to the schema. Before proceeding with that, could you confirm the following as it will help us figure out how the ordering of this field is behaving in API responses.

1. Are you explici

[2022-01-28 02:33] #719 closed

[2022-01-28 16:34] andyshinn commented on #719
Super dope. Really quick turn around. Thanks for making Azure AD easy to work with through automation :)

[2022-01-28 22:48] andyshinn commented on #719
Dang, it looks like this doesn't actually work via the API. On https://docs.microsoft.com/en-us/graph/known-issues#groups it mentions:

Any idea if there is a public issue tracking this that can be followed or any other information on it?

[2022-01-30 22:11] manicminer commented on #719
Hi @andyshinn, can you confirm where you are looking to verify the setting (i.e. the source of the screenshot in your original message)?

I've tried it out now, and accounting for some delay since changes to Azure AD are not synchronous, the setting appears to work for me? After setting `external_senders_allowed = true` using Terraform, the API returns the correct setting and it's also reflected i

[2022-01-30 22:15] andyshinn commented on #719
Interesting. I am getting a 403. Maybe it is a specific permission required? I have the following API permissions for the application:

- Group.Create
- Group.Read.All
- Group.ReadWrite.All
- GroupMember.Read.All
- User.Read.All

[2022-01-30 22:18] manicminer commented on #719
Ah, alas these new properties for unified groups are only supported with delegated authentication - which for the TF provider translates to Azure CLI authentication. They unfortunately don't work when authenticating with app roles (i.e. as a service principal).

I don't know if/when this will get fixed, nor whether these's a public issue tracking this, but I will try to raise it with the service t

[2022-01-31 01:05] manicminer commented on #721
@StefanSchoof That's great, thanks for testing and coming back to this. We can validate this in the provider to provide a more meaningful error message to aid other users in future.

[2022-01-31 01:08] manicminer commented on #679
Hi @gtmtech, just wondering if you'd perhaps had any time to work on this? No worries if not, just checking to avoid duplication of effort :)

[2022-02-01 10:51] leothereal commented on #699
Hi @manicminer,

the error still exists. Is there any progress on this issue?

[2022-02-01 12:09] Lucero7919 opened #726 "Resource: azuread_service_principal Tags does not allow multiple values:"
**### Terraform (and AzureAD Provider) Version**
TF v1.1.4 and AzureAD v2.16.0

**### Affected Resource(s)**
azuread_service_principal

**### Terraform Configuration Files**
[code]

**### Expected Behaviour**

The tags value should adopt the merged values of capability (from module), description and core_common_tags (from module). On any other resource, this would appear as:
[code]

**### Actual B

[2022-02-01 12:27] Lucero7919 commented on #726
Upon further investigation, I've noticed that the tag block for the resource outputs tags [ ] whereas every other resource outputs tags as {}

Example:
Any other resource:
[code]
note curly brackets.

And the output tags for the azuread_service_principal
[code]
note the square brackets

[2022-02-01 15:14] manicminer commented on #726
Hi @Lucero7919, thanks for raising this issue. Whilst most Azure resources provide tags as a store for user metadata, in Azure AD, applications and service principals are different. For these resources, tags are lists of special magic values that affect the behavior of the resource in question. For more information on this, please see the [documentation](https://registry.terraform.io/providers/has

[2022-02-01 15:15] #726 closed

[2022-02-03 23:35] #667 closed

[2022-02-04 23:21] webframp commented on #644
Our team internally has started some work to add this support since we have a need for it. Based on early work in the hamilton sdk we currently have an alpha quality functional resource that works like this to create a claims mapping policy:

[code]
Plan output is still a bit funny as it shows a diff every single time for the entire definition block, this is something we'll still need to improve b

[2022-02-05 00:08] andyshinn opened #729 "external_senders_allowed failing even when unset with Service Principal authentication"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritise this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritise the request
* If you are interest

[2022-02-07 17:59] ithahn opened #730 "azuread_conditional_access_policy - included_platforms = ["unknownFutureValue"] - BadRequest: 1007: Incoming ConditionalAccessPolicy object is null or does not match the schema of ConditionalAccessPolicy type"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritise this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritise the request
* If you are interest

[2022-02-07 21:21] manicminer commented on #730
Hi @ithahn, thanks for raising this. I have been able to reproduce this error and this unfortunately looks to be an API bug rather than a bug in the provider. I would suggest raising this in an Azure support ticket or via any account contacts you may have, as this behavior is contrary to the service documentation. Accordingly, as there is nothing for us to do right now, I'm going to close this one

[2022-02-07 21:21] #730 closed

[2022-02-07 22:13] manicminer commented on #729
Hi @andyshinn, thanks for reporting this. It looks like these properties should be Computed to safely prevent sending them when they aren't explicitly configured. I've opened a PR #731 which should resolve this problem!

[2022-02-07 22:15] andyshinn commented on #729
Thank you!

[2022-02-08 10:19] corprotkt commented on #524
I'm very interested in managing Intune resources as well and I'm planning on adding those I'll need to Hamilton. Is there any progress I should be aware of on that issue?

[2022-02-08 10:42] corprotkt commented on #524
Thanks Alex. I'll go ahead on this myself and will keep you posted.

[2022-02-08 16:16] dhohengassner opened #732 "Add azuread_service_principal_token_signing_certificate to simplify certificate management"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritise this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritise the request
* If you are interest

[2022-02-09 01:18] manicminer commented on #732
Hi @dhohengassner, thanks for requesting this feature! Looking through the linked walkthrough, it looks like a few additional pieces are needed here?

- New resource for token signing certificates
- New resource for claims mapping policies (a community member is already working on this)
- Support for the preferredTokenSigningKeyThumbprint field for service principals

Does this look right to you?

[2022-02-09 07:45] dhohengassner commented on #732
@manicminer thanks that is exactly what I had in mind :+1:

I will try to come up with PRs for that. Thanks for the feedback

[2022-02-10 11:24] manicminer commented on #703
@tsologub Thanks for the information on the workaround. I have noticed several times when creating applications with no specified owners, that sometimes the app will be auto-assigned the caller as owner but other times will be created with no owners at all. Given this, and that it seems the API behavior is changing WRT ownership, I'm hesitant to change the way we assign owners at this time, but wi

[2022-02-10 13:27] nmaarse commented on #699
I have the same issue: │ Error: Could not create application
│
│   with module.beheer_website.azuread_application.website_azuread_application,
│   on modules\websiteaad\main.tf line 42, in resource "azuread_application" "website_azuread_application":
│   42: resource "azuread_application" "website_azuread_application" {
│
│ ApplicationsClient.BaseClient.Post(): unexpected status 404 with OData err

[2022-02-11 07:47] #729 closed

[2022-02-11 22:21] gkman opened #735 "Feature parity between data service_principal and service_principals"
I can provide more info upon request. It becomes an issue when getting back `data.azuread_service_principals` gives me back very different data and in a very different format than a call to `data.service_principal` especially in the case of something like `object_id` which is often the reason for doing a data lookup to begin with.

### Community Note

* Please vote on this issue by adding a 👍 [rea

[2022-02-12 08:21] manicminer commented on #735
Hi @gkman, thanks for requesting this! Could you elaborate a little on the fields that might be missing from either the data source or the resource?

For `object_id`, this should be set correctly for both the ads and the resource - the only difference is that the day source allows this to also be set by the user as a way of identifying the service principal to look up.

There are in fact a few dif

[2022-02-12 08:22] manicminer commented on #735
Apologies, I seem to have misread your message - I see you're asking about `data.service_principal` vs `data.service_principals`. Any further info you could provide would be great, thanks!

[2022-02-14 16:31] gkman commented on #735
## Premise for work

Sure sure, let me also give you my situation that makes me even care. So I work with a few teammates and we write modules for our SWEs to use, and we try to write them in a steamlined enough way that they have as little to worry and know about `terraform` or the providers as possible. So we wrote and AD lookup module that accepts a list of `"principal_names"` and we do a data

[2022-02-14 21:25] dbrewerExperlogix opened #736 "Error: Could not create app role assignment"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritise this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritise the request
* If you are interest

[2022-02-15 13:24] MortyN commented on #547
The upstream PR in this case is for Hamilton, correct @manicminer ? is it anything else from Microsoft that is blocking progress? Eager to get a status update :D @kaovd , thanks for the work that has already been done.

[2022-02-15 19:01] dhohengassner commented on #732
created a PR to add support for the preferredTokenSigningKeyThumbprint field for service principals

https://github.com/manicminer/hamilton/pull/151

[2022-02-16 08:27] phenixdotnet commented on #715
Hi @manicminer

This new resource need to be added to hamilton sdk too and will use the MSGraph beta API. If this isn't a problem for you I'm ready to have a look at it and submit required PRs :)

[2022-02-16 08:42] phenixdotnet opened #737 "New resource to manage application extension properties"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritise this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritise the request
* If you are interest

[2022-02-16 16:17] dhohengassner commented on #732
@manicminer Experimented today with certification creation on service principal.

It seems the Graph API supports adding a certificate but there is no option to remove them. I can see the generated keys and passwords but I cannot remove them via `removePassword` or `removeKey` calls. In case `addtokensigningcertificate` is called it will add a new cert to the principal.

Ref: https://docs.microsof

[2022-02-17 03:13] manicminer commented on #732
Hi @dhohengassner, thanks for looking into it. That's unfortunate - using ForceNew as a workaround on the service_principal resource may be an option, but I'd like to reach out first and find out whether that API might be expanded with full CRD support that we can make a proper resource of it.

[2022-02-17 04:24] manicminer commented on #735
@gkman That's great, thanks so much for clarifying! I hadn't realized that `object_id` was left out of the results object in these data sources. We can definitely add `object_id`, and potentially other important fields where they make sense. You are correct however, it's not feasible to include every field as per the singular data source equivalent, as it could feasibly snowball for someone lookin

[2022-02-17 05:05] gkman commented on #735
@manicminer just having those keys things in the map like the `object_id` will be a tremendous improvement to me so that's all good!

[2022-02-17 09:05] dhohengassner commented on #732
Hey @manicminer good idea!
I will create a PR with the workaround using ForceNew as temp solution I can test.

So I understood right that you will contact Microsoft to ask for a new API feature?
Thank you for all the help with that!

[2022-02-17 10:37] ausfestivus opened #738 "Using the Provider with an SP provided by Vault's Azure Secrets Engine"
I have googled around for something that answers this and haven't found the detail I'm looking for.

We want to use the AzureAD Provider to perform AAD Group and User adds/deletes/changes.

We have a Vault instance with the Azure Secrets Engine up and running. The engine has roles defined for various Azure Subscriptions and Azure Roles. We are able to use our TFE instance, with Vault, to manage in

[2022-02-17 15:29] josefismael opened #739 "AAD plugin crash on azuread_conditional_access_policy each.value approach"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritise this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritise the request
* If you are interest

[2022-02-17 20:14] dpowley opened #742 "Azure AD - Scoped Assignments for Custom Azure AD roles"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritise this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritise the request
* If you are interest

[2022-02-18 23:09] IdahoVandal opened #743 "Azure AD - authoritative azuread_directory_role_member"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2022-02-21 10:54] gtmtech commented on #679
Hi @manicminer  - I've gotten round to doing some work on this -

I have one file to complete before the code is ready, probably need to add some tests too.

These are my ideas - `https://github.com/gtmtechltd/terraform-provider-azuread/tree/gm-add-authoritative-approles-and-assignments`

Let me know what you think so far - I've not yet tested for bugs

[2022-02-21 11:17] gtmtech commented on #679
To document the above a bit:

In my PR, you can now ad `sp_app_role` blocks on a service principal, which add approles to the service-principal object only, whilst keeping the app_roles computed attribute for backwards compatability

Then I've created an `app_role_assignments` plural resource whose job it is to authoritatively declare the assignments (and the only assignments) on a App or SP. I'm

[2022-02-21 15:54] AndreasSko opened #744 "Support identity synchronization/provisioning"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritise this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritise the request
* If you are interest

[2022-02-24 15:45] alagae opened #745 "Added support for assigning licenses to a user or group"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritise this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritise the request
* If you are interest

[2022-02-25 07:26] dhohengassner commented on #732
@manicminer this PR should be ready for a review.

Is there anything missing?
Thanks

[2022-02-25 13:59] Szbuli commented on #704
any update or workaround?

[2022-03-01 16:08] saran-fadv opened #746 "Azure AD: Service principal reply and identifier url feature needed"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritise this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritise the request
* If you are interest

[2022-03-01 20:06] manicminer commented on #739
Hi @josefismael, many thanks for reporting this crash. I have pushed a fix which will be merged for the next release of the provider.

[2022-03-01 20:30] manicminer commented on #738
Hi @ausfestivus, thanks for opening this issue. As this question is about the Vault Azure secrets engine, I'd suggest opening an issue on the [repository for that project](https://github.com/hashicorp/vault-plugin-secrets-azure) instead. Whilst I am not completely familiar with that project, looking at the docs I'd say you perhaps have two options:

1. Assign a directory role to a group and [ensur

[2022-03-01 20:30] #738 closed

[2022-03-02 15:52] mlomat commented on #218
Any update for this feature?

[2022-03-03 14:23] JerimyTate commented on #218
@manicminer any updates on this one?

[2022-03-06 06:04] timothyleung1 commented on #742
Thinking about working on something like `azuread_custom_directory_role_member`. Is this request asking for the same thing, but for service principal?

[2022-03-07 14:09] manicminer commented on #742
Hi @timothyleung1, you're welcome to take a look at this. I would prefer to use the existing `azuread_directory_role_member` resource to avoid resource proliferation and confusion, though that needs some investigation to see if it's feasible. The SDK supports the unified role management endpoints (see https://github.com/manicminer/hamilton/blob/main/msgraph/role_definitions.go and https://github.c

[2022-03-07 15:08] dvdvorle opened #748 "Occasionally azuread_service_principal_delegated_permission_grant unexptected status 404"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritise this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritise the request
* If you are interest

[2022-03-07 15:27] manicminer commented on #748
Hi @dvdvorle, thanks for reporting this. I believe this is a consistency related bug, related to #699. We should hopefully be able to implement a workaround for this.

[2022-03-07 22:30] manicminer commented on #699
@ibacalu, @levmel I've been looking into this, but it seems we do already have some mitigation for eventual consistency related errors here. If either could try to reproduce this and send a [debug log](https://registry.terraform.io/providers/hashicorp/azuread/latest/docs#logging-and-tracing) covering the failure, that would be super helpful in narrowing down why this mitigation isn't helping. Than

[2022-03-07 22:33] manicminer commented on #748
@dvdvorle If you are able to try and reproduce this (I understand that's tough given the intermittent behavior) and capture the failure in a [debug log](https://registry.terraform.io/providers/hashicorp/azuread/latest/docs#logging-and-tracing), that would be super helpful in determining where and how this error happens. Thanks!

[2022-03-07 23:31] manicminer commented on #736
Hi @dbrewerExperlogix, thanks for raising this. Reading the docs for the [New-AzureADServiceAppRoleAssignment cmdlet](https://docs.microsoft.com/en-us/powershell/module/azuread/new-azureadserviceapproleassignment?view=azureadps-2.0) and the corresponding [appRoleAssignment API endpoint](https://docs.microsoft.com/en-us/graph/api/resources/approleassignment?view=graph-rest-1.0) (which we use in the

[2022-03-07 23:31] #736 closed

[2022-03-08 09:39] dvdvorle commented on #748
Thanks @manicminer, I've added logging to our CI/CD. Hopeful I'll be able to provide you with a debug log.

Appreciate the work you do 👍

[2022-03-08 09:52] #739 closed

[2022-03-08 09:54] #735 closed

[2022-03-08 09:56] #721 closed

[2022-03-08 14:40] rismoney opened #751 "conditional access custom controls (Preview)"
Is it possible to configure this through terraform, even through a workaround?  I believe it is simply a JSON document.   I didn't see anything in this provider to accomplish that.

Thanks for any insight!

[2022-03-10 17:11] josefismael opened #754 "Terraform crashing due to group size in azuread_app_role_assignment"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritise this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritise the request
* If you are interest

[2022-03-11 08:24] pcornelissen commented on #435
Well, the problem is still present in recent azuread terraform + public azure-api combinations.
Right now I can't create a group via terraform, because I the duplicate owner error with http status 400.
If there is right now a problem that somehow the owner get's assigned twice somewhere along the call chain, why is that not silently discarded at least until the internal problem is fixed.
The inten

[2022-03-11 09:42] mickeder opened #755 "Scope/Role validation for magic string "User" is wrong"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritise this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritise the request
* If you are interest

[2022-03-11 13:38] manicminer commented on #755
@mickeder Thanks for reporting, we'll issue a hotfix shortly.

[2022-03-11 13:55] #755 closed

[2022-03-11 14:34] StefanSchoof commented on #755
Okay, this is curios. I can still reproduce this in the affected app. Portal and tf brings the same error.

But on a new created app, I can use "User". Looks like my app is somehow damaged.

Sorry, that I did not double checked and caused you this trouble. 😞

[2022-03-11 15:44] gkman commented on #735
@manicminer thanks again!

[2022-03-14 09:33] piiertho opened #757 "Inconsistencies between terraform configuration and states regarding group owners"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritise this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritise the request
* If you are interest

[2022-03-14 09:40] manicminer commented on #757
Hi @piiertho, thanks for reporting this. Unfortunately group ownerships are quite complex and depend on a number of factors including the type of principal being used to execute Terraform, the privileges of that principal, and whether you are creating a group or updating.

In order to diagnose this further, please could you provide a complete debug log whilst reproducing this, which will show the

[2022-03-14 09:45] piiertho commented on #757
Hi @manicminer I don't think I can post such logs for confidentiality reasons.
I'm using a classic user for this.
Please give me the privileges you need to know if present to debug this. So that I can tell if account have them or not.

[2022-03-14 09:47] manicminer commented on #754
Hi @josefismael, thanks for reporting this issue. 80K owners is certainly a lot and I can see how this could easily introduce timeouts or other API related errors (e.g. rate limiting, failed responses) as we attempt to determine the owners. Unfortunately it is necessary to do this, as it's not possible to reliably manage groups without asserting some control over the owners, and in order to do tha

[2022-03-14 11:28] piiertho commented on #757
It seems I don't have rights to see directory privilege, or account have none maybe.
I made an other test:
If I try to create my group for the first time, and specify account used when applying in owners, by setting `data.azuread_client_config.current.object_id` in it, I got:
[code]

When I look to provider code, it seems to happen here: https://github.com/hashicorp/terraform-provider-azuread/blob

[2022-03-14 14:45] manicminer commented on #757
@piiertho The way we manage owners in groups is complicated and the API has recently changed its behavior (again) in a breaking way for some users/scenarios. The short explanation is that we specify the calling principal as the first owner intentionally to avoid orphaning the group, however the API seems to perform some opaque translation of the request and appends the caller again in some conditi

[2022-03-14 14:47] manicminer commented on #757
In pursuit of your original reported problem of an unwanted diff, if you could provide some logs whilst reproducing, this would be of great help in narrowing down the cause of the issue. Thanks!

[2022-03-14 15:24] Teuvz commented on #757
Hi,
I've noticed that AzureAD now automatically adds me as owner of a group when creating it manually, I don't think it used to do it a few weeks back. Maybe Azure changed something on that side and it's what's causing the provider problem ?

[2022-03-14 17:11] dvdvorle commented on #748
So far it hasn't happened again, but still monitoring.

[2022-03-14 21:34] josefismael commented on #754
Thanks for the explanation. Ultimately, all we would be looking for is a way to skip the enumeration of the members when evaluating the azuread_group resource (since we're not leveraging the azuread_group_member resource).

[2022-03-15 14:08] tsologub commented on #703
To get us unblocked, we went with including in `owners` **only** the `object_id_from_authenticated_service_principal`. No users or groups.

[2022-03-15 14:22] JelleSmet-TomTom commented on #703
@tsologub tnx for the suggestion the work-around on my end is to perform 2 consecutive TF runs. One with `object_id_from_authenticated_service_principal` set and a second run with `object_id_from_authenticated_service_principal` set + additional users :/ this seems to work ...

[2022-03-16 09:46] JelleSmet-TomTom commented on #703
The [provider documentation](https://registry.terraform.io/providers/hashicorp/azuread/latest/docs/resources/application#api-permissions) mentions `Application.ReadWrite.All` is advised to be used over `Application.ReadWrite.OwnedBy` but in my experience this doesn't make a difference so there still seems to be something off.

[2022-03-17 16:53] igory-bwr opened #758 "empty saml_metadata_url of azuread_service_principal"
Hi guys
I've deployed an AzureAD application and trying to get saml_metadata_url as output for a further federation. But it's provided with empty string value. What did I do wrong?

[code]
I'd be appreciated to any ideas.
BR

[2022-03-20 09:17] isarns commented on #758
My workaround for that:
`output "metadata_url" {
    value = "https://login.microsoftonline.com/${var.tenant_id}/federationmetadata/2007-06/federationmetadata.xml?appid=${azuread_service_principal.this.application_id}"
}`

[2022-03-20 11:02] igory-bwr commented on #758
@isarns Oh, yeah... Thanks a lot! I have just updated `${var.tenant_id}` with `${azuread_service_principal.this.application_tenant_id}` and it works well.

[2022-03-20 14:12] isarns opened #759 "The default Identifier/Reply URL is missing."
Issues on GitHub are intended to be related to bugs or feature requests with provider codebase,
so we recommend using our other community resources instead of asking here 👍.

Changing the Identifier/Reply of the registration application causes the next error in the enterprise app.
![image](https://user-images.githubusercontent.com/15180548/159166497-e96cf19e-7f97-43e7-a178-0e81cdba3542.png)

Is th

[2022-03-21 16:10] tsologub opened #760 "random_password resource remains as dependency in state after destroy"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritise this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritise the request
* If you are interest

[2022-03-21 17:05] manicminer commented on #760
Hi @tsologub, thanks for reporting this. I'm not sure whether this is considered expected behavior and/or whether the dependency will go away after a subsequent refresh, but in any case this is handled by Terraform Core and accordingly I don't believe this is a provider issue.

I'll transfer this issue to hashicorp/terraform where a maintainer will be able to triage and advise further. Thanks!

[2022-03-21 17:09] manicminer commented on #759
Hi @isarns, thanks for raising this. If I understand correctly, you'd like the service principal (enterprise application) to reflect changes made to an application's identifier URI(s) and/or redirect URI(s)? If so, this is unfortunately not possible at present as there is no API available to configure this.

[2022-03-22 07:47] gtmtech commented on #679
Am still working on this, sorry about the slow progress @manicminer  - still awaiting some permissions for enterprise apps would you believe. I hope to have it done within the next month

[2022-03-22 09:34] JelleBroekhuijsen opened #761 "Data Source: azuread_service_principal lookup by display_name has no support for duplicate display_names"
When using the code below the output only shows one of the 2 service principals in my tenant. Both principals have the same `display_name`. The datasource does not provide any hint or warning that multiple results exist. The datasource `azuread_service_principals` does have this support (it shows an error when multiple principals with the same `display_name` exist).

[code]

[2022-03-22 11:09] manicminer commented on #679
All good, thanks for the update @gtmtech 👍

[2022-03-22 12:02] manicminer commented on #761
Hi @JelleBroekhuijsen, thanks for raising this. The error is raised by design, if we were to simply pick one of the matching principals there would be a lack of consistency between refreshes as you could not guarantee the same one would be chosen each time. In this scenario you'd need to look up the principal by another unique attribute; either the object ID or application/client ID. Do you think

[2022-03-22 12:25] JelleBroekhuijsen commented on #761
@manicminer I'm unsure if you read my issue correctly or maybe I'm misunderstanding you. There are 2 providers: `azuread_service_principal` and `azuread_service_principals`. The 2nd does indeed throw an error when multiple instances of the same `display_name` exist however the 1st (`azuread_service_principal`) does not notify the user of the existence of multiple instances of the service principal

[2022-03-22 12:37] manicminer commented on #761
@JelleBroekhuijsen Thanks for the clarification, that makes sense. The `azuread_service_principal` (singular) data source should be throwing an error in that case. I'll look into it and issue a fix where necessary.

[2022-03-23 05:46] mukundbajaj opened #762 "regional_endpoint_enabled seems to be missing from module"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritise this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritise the request
* If you are interest

[2022-03-23 05:53] #762 closed

[2022-03-23 05:53] mukundbajaj commented on #762
Moving this to https://github.com/hashicorp/terraform-provider-azurerm/issues/15956

[2022-03-29 09:31] manicminer commented on #758
Hi, thanks for reporting this. Most of the attributes for a service principal, including this one, are populated by the API and we have no direct control over the value. I've tried a few different configurations and have found the same thing, that `saml_metadata_uri` is empty. I'm not certain of the exact configuration or logic that would cause this to be populated, however this is a config and/or

[2022-03-29 09:31] #758 closed

[2022-03-29 15:15] jamesbwilkinson opened #763 "Azuread_app_role_assignment: Provider produced inconsistent result after apply"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritise this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritise the request
* If you are interest

[2022-03-30 14:49] rohrerb opened #764 "AzureAD Government Cloud - Wrong graph URL"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritise this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritise the request
* If you are interest

[2022-03-30 14:55] mlomat opened #765 "Add Support to query AAD users with mail property."
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritise this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritise the request
* If you are interest

[2022-03-30 15:58] #765 closed

[2022-03-30 18:52] rohrerb commented on #764
These are the providers we are using:

[code]

I removed the two properties and the same error exists for azuread.

[code]

[2022-03-30 23:49] AlexandreODelisle commented on #763
We also have a similar behavior when we are adding Groups on an Enterprise Application.

Where it sems the Terraform Provider adds the group to the Enterprise Application, but doesn't update the TF state.

[code]

When we are creation a few thousands entries in the Users and Groups, we get around 100 entries not registered to the state.

[2022-03-31 08:20] manicminer commented on #763
Hi, these are unfortunately due to inconsistency issues with the API. We'll try to work around them at the expense of longer apply times, but we can't always catch all of these and the chances of hitting this increase with higher numbers of assignments per service principal.

[2022-04-01 10:27] RenatoMartins-tomtom commented on #68
This would be really helpful, as we are planning to onboard management group structure into PIM, and we keep the RBAC assignments on the MG scope in TF state.

[2022-04-04 11:00] cwissmann commented on #699
Hi everybody,
is there any progress here? I have this issue at the moment. Latest azuread-provider. One TF-script, which creates the app and then set the role assignment for the group. The group already exists and is not managed via TF.

resource "azuread_app_role_assignment" "existing_ad_group" {
  app_role_id = random_uuid.app_role_user_id.result
  principal_object_id = "Existing Group Object ID

[2022-04-04 13:39] dvdvorle commented on #748
Hi, I haven't been able to reproduce this. We'll keep the logs enabled but will stop actively looking for this particular error in failed runs.

[2022-04-04 13:39] #748 closed

[2022-04-05 09:53] alxy commented on #763
@manicminer We have noticed that we hit this issue very often when we update an `app_role` assignment on the `azuread_application` resource. It looks like in this case all roles are removed first, and then re-added, even though only once role has been changed. This operation as it seems is not very well handled by the underlying API.
Is there any way to refactor the Terraform code to avoid that? O

[2022-04-06 00:46] manicminer commented on #699
@cwissmann Please send a debug log if you can, this will aid in tracking down the source of this error. Thanks!

[2022-04-06 00:50] manicminer commented on #763
@alxy That sounds like a separate issue as the original report is about the `azuread_app_role_assignment` resource rather than the `app_role` block on the `azuread_application` resource.

However, due to the way app roles (and permission scopes) have to be disabled before they can be updated or removed, we do our best to only affected the roles/scopes which have actually been changed. It's possibl

[2022-04-06 18:03] levmel commented on #699
@cwissmann For me it only worked without the principal_object_id.

[2022-04-07 05:24] cwissmann commented on #699
@manicminer It's working now. It seems, I used the wrong resource. With azuread_group. the group is found.

[2022-04-08 01:19] #644 closed

[2022-04-13 10:24] Flasheh opened #771 "`azuread_claims_mapping_policy` Argument "description" is not expected here"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritise this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritise the request
* If you are interest

[2022-04-13 10:31] Flasheh commented on #771
There's a PR already open to remove the description attribute. I missed it before creating this issue.

https://github.com/hashicorp/terraform-provider-azuread/pull/769

[2022-04-13 11:27] magmamania commented on #708
Why is this set to "blocked" and not flaged as a bug? As @mauricehermens showed, this does not seem to be a Graph API issue...

[2022-04-13 11:31] jamesbwilkinson commented on #763
We have been playing around with some changes and found we have been able to improve the assignment success by:

- Splitting the app_role creation and azuread_app_role_assignment into separate terraform jobs

- Adding a time_sleep function for the creation and destruction of each app_role and azuread_app_role_assignment

[code]

- adding a wait helper to the function appRoleAssignmentResourceDelet

[2022-04-14 21:58] manicminer commented on #751
Hi @rismoney, thanks for the query. Custom Controls for Conditional Access are not supported in the provider at this time. There is no public API for this as Microsoft has not made this feature available outside of the Azure Portal. Please feel free to open a feature request using our issue template if you'd like this to be added to the provider once API support is made available. Thanks!

[2022-04-14 21:58] #751 closed

[2022-04-14 22:00] manicminer commented on #764
@rohrerb Please can you post a reproducible configuration and I'll be happy to look into it further. The config above is for an earlier version of the provider and if I attempt to repro this with my own minimal config, it works as expected. Thanks!

[2022-04-18 11:27] logcorner opened #773 "allowPublicClient property of azure ad application Manifest is set to false but should be null"
when using the terraform configuation below

[code]

[code]

The azuread application will be created with "allowPublicClient": false  and the result is that the front end spa configured with this application will not work and I have to update  "allowPublicClient" property of the manifest to null ("allowPublicClient" :null) to fix it

[2022-04-18 21:25] ieelleme commented on #764
Did you set an environment variable to usgovernment?

I was having this issue, set the environment variable, re-init, and it worked for me.
`$env:ARM_ENVIRONMENT="usgovernment"`

Terraform version = "v1.1.8"
azuread version = "= 2.20.0"

Reference: https://registry.terraform.io/providers/hashicorp/azuread/latest/docs
See "Argument Reference"

[2022-04-19 12:23] manicminer commented on #773
hi @logcorner, thanks for opening this issue. I believe you'll need to set the `fallback_public_client_enabled` property of the application as this setting is not enabled by default. This corresponds to the `allowPublicClient` property in the app manifest. Can you give this a try and let us know if this resolves the issue with your SPA?

[2022-04-19 14:14] logcorner commented on #773
hI @manicminer does not work
in the terraform file I have added the following : fallback_public_client_enabled = null
![MANIFEST](https://user-images.githubusercontent.com/5066547/164024122-2bbcd91c-b5d7-499f-91ef-7b749f7e11c9.png)
![TERRAFORM](https://user-images.githubusercontent.com/5066547/164024126-c3003204-c749-42bc-b536-b07e61441563.png)

[2022-04-19 14:27] manicminer commented on #773
@logcorner Sorry I should have been more specific - that property doesn't support `null` as a value, in fact that's Terraform's way of omitting the property from the provider. Can you try setting it to `true`?

[2022-04-19 15:06] logcorner commented on #773
@manicminer *
the allowPublicClient  property should be null in the manifest file.  if it is equal to  false ,the azure ad authentication using the app registration will fail.
And because it is not a public client I think it should not be equal to true.
I will try setting it to true and come back to you
Regards

[2022-04-19 21:06] michaelmingram opened #774 "Can't create Conditional Access Policy with only included_user_actions application condition"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritise this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritise the request
* If you are interest

[2022-04-20 00:02] michaelmingram commented on #774
I was playing around some more, to see if adding include_application = ["All"] is valid, and it is not:

[code]

[2022-04-20 08:11] logcorner commented on #773
Hi @manicminer it works when I use fallback_public_client_enabled = true

[2022-04-21 17:16] gtmtech commented on #679
Hi @manicminer

I believe I've finished the code for this (it's currently here in case you want to see it `https://github.com/gtmtechltd/terraform-provider-azuread/tree/gm-add-authoritative-approles-and-assignments` )

I am conducting some tests now and going to have to work out how to write tests for it.

But I thought you would be interested in the update.

I will let you know outcomes soon.

[2022-04-22 15:09] carsv commented on #624
Verified Authz issue in my organization.
"unexpected status 400" is misleading -> should be 401 Unauthorized.

[2022-04-23 15:50] kchowdhree opened #776 "Add ignore_missing option to azuread_groups data source"
The azuread_groups data source should have similar parameters as the azuread_users data source, in the least it needs:

ignore_missing - (Optional) Ignore missing groups and return groups that were found. The data source will still fail if no groups are found. Defaults to false.

[2022-04-26 01:27] soohonlee opened #777 "Cannot create Conditional Access Policy with platform linux"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritise this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritise the request
* If you are interest

[2022-04-26 15:11] gtmtech opened #778 "How to create an app that also creates a service principal"
Hi @manicminer,

I wondered if you were able to help with this as its closely related to `https://github.com/hashicorp/terraform-provider-azuread/issues/679`

I have some config which creates an `azuread_application` - I'm using `template_id` in order to be able to specify the AWS Single-Account Gallery App as the template, for which terraform successfully creates it.

However I want to also manag

[2022-04-26 20:24] jlundy2 opened #779 "SubscribeMembersToCalendarEventsDisabled missing as valid behavior in azuread_group"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritise this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritise the request
* If you are interest

[2022-04-26 21:10] manicminer commented on #778
@gtmtech We've had to make the best of a non-idiomatic API implementation with this. App templating via the API does indeed create both an application and a service principal and there's no way to separate these operations - it's both or nothing.

To try and improve the workflow here, and for other similar situations, we added the `use_existing` property to the `azuread_service_principal` resource

[2022-04-27 06:46] GFPhillips opened #780 "data.azuread_application unable to retrieve Microsoft Graph API with display name "Microsoft Graph""
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritise this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritise the request
* If you are interest

[2022-04-27 09:05] gtmtech commented on #778
Hi @manicminer  - makes sense and thanks for the update.

I've found that in order to set up an AWS Gallery Application up properly, you have to do the following in order:

1. Create an app registration (with template_id)
2. Patch the corresponding service-principal with:

[code]

3. Now go back to the application and add in the saml configuration
4. Now go back to the service principal and config

[2022-04-27 09:08] manicminer commented on #780
@GFPhillips Thanks for reporting this. Can you confirm, whether you have created an application in that tenant and named it "Microsoft Graph"?

If you are looking for the service principal for the 1st-party Microsoft Graph app as published by Microsoft, then you'll need the `azuread_service_principal` data source instead. You can look up a service principal by display name, or for improved accurac

[2022-04-27 09:22] GFPhillips commented on #780
Hi @manicminer , thanks for the quick reply and sample. - yep I meant the 1st party app

I have tested and this returns the correct source and can retrieve the expected attributes.

Closing

[2022-04-27 09:22] #780 closed

[2022-04-27 09:36] gtmtech commented on #778
Thanks @manicminer  - yes I'll work on it immediately - I've become a bit better at writing terraform providers since working on that other issue 😅  - if it works I'll send through both PRs asap.

[2022-04-27 10:06] manicminer commented on #776
@kchowdhree Thanks for reporting this omission, we'll add this in the next release.

[2022-04-27 11:07] manicminer opened #782 "Unified groups can't be created without a description"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritise this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritise the request
* If you are interest

[2022-04-27 18:49] manicminer commented on #777
@soohonlee Thanks for reporting, we'll add this in tomorrow's provider release.

[2022-04-27 18:50] manicminer commented on #779
@jlundy2 Thanks for reporting, we'll add this in tomorrow's provider release.

[2022-04-27 19:01] #779 closed

[2022-04-27 19:03] #777 closed

[2022-04-27 19:04] #761 closed

[2022-04-27 19:07] #776 closed

[2022-04-27 19:07] #782 closed

[2022-04-28 14:40] ghost opened #787 "Updating existing AD users with attributes that are null on the Graph API side results in a PATCH with a false value"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritise this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritise the request
* If you are interest

[2022-04-28 14:48] dgteixeira commented on #7
@borancar hey, how are you?
With that code, could I create, through terraform, a specific Enterprise Application? For example, this one: [GitHub Enterprise Cloud Organization](https://docs.microsoft.com/en-us/azure/active-directory/saas-apps/github-tutorial).

I haven't found any way of creating this and specifying its details (SAML SSO and Provisioning mappings, for example) through terraform.

B

[2022-04-28 14:50] petr-stupka commented on #68
Seems like there is already work in progress - https://github.com/hashicorp/terraform-provider-azuread/issues/547

[2022-04-28 15:26] borancar commented on #7
Give it a shot - I haven't worked with Azure in a while, so wouldn't know... putting that tag was all that was needed to make the principal into an Enterprise Application.

[2022-04-29 10:33] gtmtech commented on #778
@manicminer I have some code that works, but in the process I discovered something I want your opinion on.

If using a `template_id` when instantiating an application, lots of things get set by Azure itself - example being appRoles and api attributes of the application object.

If you dont specify those (or even if you do), the ApplicationResourceCreate passes control to the ApplicationResourceUpd

[2022-04-29 14:07] 64J0 opened #789 "Unable to read groups from Azure `GroupsClient.BaseClient.Get()` (403 error code)"
I'm having trouble to authenticate my service principal and make it read Groups from Azure AD. I have assigned all the required permissions and it is still not working.

### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritis

[2022-04-29 14:59] 64J0 commented on #624
I'm having a similar problem, but with the newer version mentioned in this issue: https://github.com/hashicorp/terraform-provider-azuread/issues/789.

[2022-04-29 17:23] 64J0 commented on #789
Apparently, the problem was `az` keeping some weird session values in my local machine.

After using those commands it was able to do the `terraform plan`:

[code]

[2022-04-29 17:23] #789 closed

[2022-04-29 22:22] manicminer commented on #789
@64J0 Thanks for following up. It's worth noting that we recommend using the provider's native support for authenticating using a service principal rather than relying on `az login --service-principal`, and in a future release of the provider we may stop supporting that scenario in line with the AzureRM provider.

[2022-05-04 19:51] mikeburns7 opened #790 "BadRequest: 1007: Incoming │ ConditionalAccessPolicy object is null or does not match the schema of ConditionalAccessPolicy type."
### Issue
Getting the following error when running terraform apply to create a brand new basic conditional access policy
`azuread_conditional_access_policy.example_policy: Creating...
╷
│ Error: Could not create conditional access policy
│
│   with azuread_conditional_access_policy.example_policy,
│   on main.tf line 17, in resource "azuread_conditional_access_policy" "example_policy":
│   17: res

[2022-05-05 08:49] nziegler opened #791 "azuread_group resource fails with "unexpected status 404 with OData error" after it is created"
**Community Note**

    Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritise this request
    Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritise the request
    If you are in

[2022-05-05 08:53] nziegler commented on #791
[Debug.log](https://github.com/hashicorp/terraform-provider-azuread/files/8629836/Debug.log)

[2022-05-05 12:52] MarkDordoy opened #792 "Some optional values are being stored in state incorrectly causing a 2nd plan/apply to be run to get to desired state"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritise this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritise the request
* If you are interest

[2022-05-05 13:20] MarkDordoy commented on #792
This appears to affect all *[]string based properties on each of the object types. As they are pointers, nil/null is correct in terms of setting the object for the api call to create. However we would need a way to convert nil to [] within the state file to prevent this (I think)

[2022-05-05 13:28] MarkDordoy commented on #792
Closing this out, looks like it goes away on the second apply if you do refresh-only 🤦

[2022-05-10 08:57] daniel-anova opened #793 "azuread_group_member Provider produced inconsistent result after apply"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritise this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritise the request
* If you are interest

[2022-05-10 09:21] sgrunt91 opened #794 "azuread_application_certificate resource can't find the Azure App (404 error)"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritise this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritise the request
* If you are interest

[2022-05-11 18:03] trinka-battelle opened #796 "azuread_group resource creation crashes"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritise this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritise the request
* If you are interest

[2022-05-13 11:07] 7326922 opened #797 "Using unverified domains in `azuread_application`'s `identifier_uris` (for SAML 2.0 based SSO integrations) requires two-step apply"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritise this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritise the request
* If you are interest

[2022-05-13 19:25] gkman opened #798 "A list of objects returned for azuread_groups like azuread_users operates"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritise this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritise the request
* If you are interest

[2022-05-16 18:27] PG-TwinsFan opened #799 "Unable to remove redirectUri that is used as the defaultRedirectUri"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritise this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritise the request
* If you are interest

[2022-05-16 20:21] wiebeck commented on #698
Also I think having virtual resourcese for app roles allows for **circular resource access configuration**, e.g. App A defines app role A1 and has required resoure access on app role B1 of app B which itself has required resource access on app role A1 of app A. Or is there another way working around this?

[2022-05-17 04:03] danstis opened #800 "New root level resource for Application Required Resource Access"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritise this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritise the request
* If you are interest

[2022-05-17 19:38] martinhelgesen commented on #796
Same thing happens to me. Same message.
Running in regular Azure, no government
Running on MacBook Pro M1

resource "azuread_group" "reader" {
  display_name       = "PIM.${var.TEAM_AD_PREFIX}.READER"
  mail_enabled       = true
  mail_nickname      = "PIM-${var.TEAM_AD_PREFIX}-READER"
  security_enabled   = true
  types              = ["Unified"]
  assignable_to_role = true
}

 The plugin.(*GRPCP

[2022-05-19 01:51] g-psantos opened #801 "Conditional Access Policies should not require "grant_controls""
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritise this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritise the request
* If you are interest

[2022-05-22 23:46] rhyspaterson opened #803 "Support for OIDC Authentication"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritise this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritise the request
* If you are interest

[2022-05-23 06:45] nikolai-fra opened #804 "`azuread_claims_mapping_policy` requires Policy.Read.All permission"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritise this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritise the request
* If you are interest

[2022-05-23 19:30] thebeanogamer opened #806 "Unable to Create Enterprise Application with SAML"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritise this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritise the request
* If you are interest

[2022-05-23 21:38] bshs-haunt commented on #790
+1
 I too am experiencing this behavior when adding or modifying conditional access policies. Terraform version 1.1.9, azuread provider v2.22.0.

[2022-05-23 21:59] bshs-haunt commented on #790
Changing the "grant_controls.built_in_controls" value to anything other than "**unknownFutureValue**" solved the problem in my case. Hope this helps.

      + grant_controls {
          + built_in_controls = [
              + "**domainJoinedDevice**",
            ]
          + operator          = "AND"
        }

[2022-05-24 16:02] matt-barbier-puregym opened #807 "azuread_application - "Failed to patch application after creating""
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritise this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritise the request
* If you are interest

[2022-05-25 04:21] Satak commented on #806
For single tenant applications, adding or updating the AppId URI validates that the domain in the HTTPS scheme URI is listed in the verified domain list in the customer tenant or that the value uses the default scheme (api://{appId}) provided by Azure AD. This could prevent applications from adding an AppId URI if the domain isn't in the verified domain list or the value doesn't use the default sc

[2022-05-25 21:17] thebeanogamer commented on #806
@7326922 Thanks, it does indeed. I'll close this for now and put a +1 on that issue.

For my use case, I'm going to abuse `sed` and CI jobs to automatically add and remove that attribute. Wish me luck...

[2022-05-25 21:17] #806 closed

[2022-05-26 07:46] gtmtech commented on #679
Hi @manicminer

I've done some further updates and I now have an AWS Gallery app starting up complete with approle assignments.

I want to write some tests, but I wanted some information from you - do the tests run against an actual AzureAD installation or a mock AzureAD framework? It looked a little like it was a real one, but I wanted to check- thanks

[2022-05-26 07:50] gtmtech commented on #797
I have a working fix for this for Gallery apps based on SAML over on #778 - just awaiting writing the tests and getting it approved

[2022-05-26 13:29] devsecops-titan opened #809 "Add users to existing data.azuread_group"

[2022-05-27 16:17] matt-barbier-puregym commented on #807
Note - after further investigation I have found that the error I was getting <2.6.0 was because of the patched issue mentioned in the linked issue, but the error I was getting when using 2.22.0 was actually some misconfigured permissions in our AAD. The Enterprise application linked to our ADO service connection did not have the Application.ReadWrite.OwnedBy and Directory.Read.All permissions. Onc

[2022-05-27 16:17] #807 closed

[2022-05-30 08:05] #764 closed

[2022-05-30 11:36] Satak commented on #803
Would be great to get that PR merged. Exited to use OIDC with AAD provider too :-)

[2022-05-31 11:39] QuduSEC opened #811 "userprincipalname cannot be changed for a user"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritise this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritise the request
* If you are interest

[2022-06-01 15:40] manicminer commented on #809
Hi @devsecops-titan, you can do this already using the `azuread_groupo_member` resource. Just specify the object ID of the pre-existing group, which you can look up with the `azuread_group` data source if necessary.

[2022-06-01 15:48] manicminer commented on #790
Hi @mikeburns7, thanks for reporting this. The Conditional Access API has a number of unique behaviors which make it difficult to debug this kind of error, but if you can send a reproduce this and send a [debug log](https://registry.terraform.io/providers/hashicorp/azuread/latest/docs#logging-and-tracing) then we can try to work out which property is causing this.

Perhaps also try @bshs-haunt's w

[2022-06-01 16:16] manicminer commented on #793
Hi @daniel-anova, thanks for reporting this error. How many group members are you adding and to how many groups? Were the groups created as part of the same apply operation, or did they exist beforehand? Thanks!

[2022-06-01 16:27] manicminer commented on #794
Hi @sgrunt91, thanks for reporting this. Are you perhaps authenticating via Azure CLI? The missing tenant ID may be responsible here if your user account has access to multiple tenants and you are trying to manage a tenant other than your home tenant. However the fact you say you don't see this issue with the `azuread_application_password` resource is interesting and could mean the root cause is s

[2022-06-01 16:32] manicminer commented on #801
Hi @g-psantos, thanks for requesting this. Unfortunately we require the `grant_controls` block due to API constraints that do not seem to similarly affect the portal. I will circle back on this and see if maybe the API behavior has changed so that we are able to make this optional.

[2022-06-02 01:20] epomatti opened #812 "Error "panic: interface conversion: interface {} is nil, not bool" when creating Microsoft 365 Groups"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritise this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritise the request
* If you are interest

[2022-06-02 07:06] nziegler commented on #791
I am running the commands on a Windows 10 virtual machine and sometimes plain Windows 10. My colleague runs it on a Mac with the same error.

We are using a test scenario to try out our identity objects module where we create 4 different groups (Security group, O365 unified group, with or without dynamic membership). But for testing purposes, I reduced it to 1 group and it still fails.

Prior to t

[2022-06-02 07:24] ausfestivus opened #813 "Unable to assign AAD Group to Enterprise App"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritise this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritise the request
* If you are interest

[2022-06-02 08:30] daniel-anova commented on #793
My actual case is fairly close to the example shown above, I'm creating all our groups and assignments in terraform.

Currently, that's around 14 groups and 256 assignments but as commented in the example, 2 groups with 10 assignments each will be enough to trigger the issue.

[2022-06-02 09:27] sgrunt91 commented on #794
Hello @manicminer , thanks for your answer ! :-)
Yes I'm using Azure CLI and my account have access to multiple tenants.

As you mention this, here are more information about my use case:

- I'm using Azure CLI to login to Azure and use Azure providers in Terraform
- My account have access to 2 tenants:
[code]
- My same codebase have to create resources in both tenants:
  - It creates resources us

[2022-06-04 10:10] MarkDordoy commented on #792
Apologies,  I believe I ran into this based on the way I was testing this out locally. Since running via terraform enterprise the problem has gone.

Feel free to close.

Mark

Get Outlook for Android<https://aka.ms/AAb9ysg>
________________________________
From: Tom Bamford ***@***.***>
Sent: Wednesday, June 1, 2022 5:14:08 PM
To: hashicorp/terraform-provider-azuread ***@***.***>
Cc: Mark Dordoy *

[2022-06-06 01:36] ravensorb opened #814 "Related to #343 - Error: building AzureRM Client: obtain subscription() from Azure CLI: parsing json result from the Azure CLI: waiting for the Azure CLI: exit status 1: ERROR: Please run 'az login' to setup account."
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritise this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritise the request
* If you are interest

[2022-06-06 19:48] manicminer commented on #814
Hi @ravensorb, thanks for reporting this issue. This seems to be related to the AzureRM provider so I'll transfer the issue to the correct repo.

However, it looks like you are specifying authentication properties for native service principal authentication, which should mean that the azure-cli is not invoked at all. Can you please confirm your exact configuration and which version of Azure CLI yo

[2022-06-06 23:04] manicminer commented on #804
@nikolai-fra Many thanks for reporting this. I'll test this out and we'll update the docs accordingly.

[2022-06-06 23:29] manicminer commented on #811
Thanks for requesting this @QuduSEC, I have opened #815 to permit changing the UPN.

[2022-06-06 23:36] manicminer commented on #812
Thanks for reporting this crash @epomatti, I have opened #816 to address this.

[2022-06-06 23:44] manicminer commented on #813
Hi @ausfestivus, thanks for reporting this. Can you post the output of `terraform state show data.azuread_service_principal.tfc-application`? I have tried to reproduce this but in my testing, `app_role_ids` was populated correctly. Thanks!

[2022-06-06 23:49] manicminer commented on #796
Hi @trinka-battelle, @martinhelgesen, thanks for reporting this. It looks like this is the same issue as #812. Whilst this issue was opened first, I've opened a PR to close the other issue and so I'll mark this as a duplicate. We should have a fix out for this bug in this week's release.

[2022-06-06 23:49] #796 closed

[2022-06-06 23:51] manicminer commented on #792
No problem, thanks for following up!

[2022-06-06 23:51] #792 closed

[2022-06-07 05:58] ausfestivus commented on #813
Here you go @manicminer

`terraform state show data.azuread_application.tfc-application`
[code]

[2022-06-07 09:29] #812 closed, assigned to manicminer

[2022-06-07 09:30] #811 closed

[2022-06-07 09:56] manicminer commented on #799
Hi @PG-TwinsFan, thanks for reporting this. I'm unable to reproduce this with a simple configuration, could you kindly provide a minimal config to reproduce this error from the API and I'll look further to see how we can resolve it. Thanks!

[2022-06-07 12:03] giovannifl commented on #218
any updates on this one?

[2022-06-07 12:33] ravensorb opened #818 "Error: Could not retrieve calling principal object "" - ODataId was nil"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritise this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritise the request
* If you are interest

[2022-06-07 12:51] manicminer commented on #794
@sgrunt91 I've opened a PR to fix the missing tenant ID which I'm hoping will resolve your issue. If you're able to compile and test this any feedback would be appreciated. But otherwise this fix will go out in this week's release.

[2022-06-07 15:45] manicminer commented on #818
Hi @ravensorb, thanks for reporting. Whilst you mention provider version 2.22.0 in your issue, the log is showing that version 2.0.1 is being used. Can you double check that you're using the latest provider version and post an updated log file? Thanks!

[2022-06-07 15:54] ravensorb commented on #818
Good catch -- On the linux box it was using 2.22.0 and on the windows box it was using 2.0.1. I just updated the windows machine and confirmed it still occurs.

[2022-06-08 12:56] #803 closed

[2022-06-10 07:09] #804 closed

[2022-06-10 07:17] #794 closed

[2022-06-10 08:28] NEViLLLLL commented on #732
Is it planned to add this functionality?

[2022-06-10 10:38] sigurdfalk opened #820 "Problems using OIDC: "building client: unable to obtain access token: githubAssertion""
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritise this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritise the request
* If you are interest

[2022-06-10 13:02] etiennetremel commented on #820
@SudoSpartanDan since you worked on both implementations for azuread (https://github.com/hashicorp/terraform-provider-azuread/pull/805) and azurerm (https://github.com/hashicorp/terraform-provider-azurerm/pull/16555), would you know what could be wrong in this config? azurerm does work as expected for me.

[2022-06-10 14:07] Bazilbrush opened #821 "Saml Claims in azure ad application"
Having issues with saml claims and how to represent them in HCL
In azure console, in enterprise application > single sign-on >attributes and claims section the claims are represented as more of a key/value pair, e.g.
https://aws.amazon.com/SAML/Attributes/SessionDuration    "14400"
with respective fields named Name/Namespace and Source attribute
How does the source attribute value translate into H

[2022-06-13 11:45] JoostvDoorn commented on #744
I'll be able to work on this, we use this to automatically provision the Azure Databricks SCIM Provisioning Connector. I'll pick this up in a few days.

[2022-06-13 16:52] sgrunt91 commented on #794
Hi @manicminer I'm just writing this comment to confirm the new release fixes my issue !
Thank you very much !

[2022-06-13 18:21] sseekamp0 opened #823 "Create a SSO SAML Signing Certificate"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritise this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritise the request
* If you are interest

[2022-06-14 11:22] PG-TwinsFan commented on #799
@manicminer Looks like this only occurs if the only redirect_uri is somehow changed to default:
<img width="703" alt="image" src="https://user-images.githubusercontent.com/60155853/173565320-987ed350-cbf0-4b4e-8e41-2a2b8c973e1c.png">

When the redirect_uri is set to default a change to it via Terraform looks like:
[code]
So while I cannot recreate it strictly via Terraform, if the configuration is

[2022-06-14 18:35] bargokr opened #824 "Support for Determining AzureAD Principal Type from Object ID"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritise this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritise the request
* If you are interest

[2022-06-14 19:51] trinka-battelle commented on #791
I can duplicate this same issue. Creating one group on Ubuntu

Terraform v1.2.2
on linux_amd64
+ provider registry.terraform.io/hashicorp/azuread v2.23.0

[2022-06-16 00:52] ausfestivus commented on #813
FYI we have opened a support case with HC about this issue. #76435

[2022-06-16 07:54] #820 closed

[2022-06-17 22:54] fwd-sol-group commented on #778
Hi @gtmtech, I have been battling the same issue. Have you found any workaround for getting identifier_uri's to work with a non owned domain?

[2022-06-20 21:47] manicminer commented on #821
Hi @Bazilbrush, Enterprise Applications are actually Service Principals and are not the same thing as Applications. SAML configuration for SPs (Enterprise Apps) is unsupported at this time due to lack of API support offered by Azure.

[2022-06-20 21:47] #821 closed

[2022-06-20 21:51] manicminer commented on #799
@PG-TwinsFan That makes sense - it looks like you are configuring SSO related settings for the Service Principal. This is not yet supported in Terraform due to lack of API support offered by Azure. Unfortunately there isn't a workflow we can support here, I would suggest using `ignore_changes` to have Terraform ignore the out-of-band changes that are caused by working in the portal here.

[2022-06-20 21:51] #799 closed

[2022-06-20 22:24] manicminer commented on #791
@trinka-battelle Please provide a debug log whilst reproducing as this is necessary to see the complete sequence of events/errors, thanks!

@nziegler I noticed in your debug.log that the tenant ID seems to be omitted. At first I thought this was redacted but we recently fixed a bug that could cause a missing tenant ID in API requests - could you please try to reproduce this with v2.24.0 and advise

[2022-06-20 22:37] manicminer commented on #813
@ausfestivus I noticed in your initial config snippet, you're referencing `app_role_ids` as if it were a list when it's actually a map indexed by the role value. If the value of a role is empty - as it is in your state - then that role will not be added to the `app_role_ids` map.

For example, having the following app roles:

[code]

Then you'll see `app_role_ids` populated like this:

[code]

Sin

[2022-06-20 22:37] #813 closed

[2022-06-20 22:58] ausfestivus commented on #813
Morning @manicminer,

I will revisit the available documentation when I start work a little later and see if your commentary can help me identify where I've got it wrong.

The support team is still working with me to understand the issue.

I don't yet have a functional config despite following the available documentation. I feel like it is premature to close this issue as, from my POV as the reque

[2022-06-21 00:12] ausfestivus commented on #813
Perhaps if someone can share their code here that they use to achieve this outcome I can see where this isnt working?

[2022-06-21 05:25] ausfestivus commented on #813
The APJ support team came through for me. For any future people that hit this same issue here is the code that worked:

[code]

[2022-06-21 05:30] ausfestivus commented on #813
@manicminer would you be open to PR with a working example for inclusion in https://github.com/hashicorp/terraform-provider-azuread/tree/main/examples ?

[2022-06-21 19:10] manicminer commented on #801
I have tried creating a CA policy without grant controls, in the following combinations (as well as omitting it altogether), but each time still getting a `1032: ConditionalActionPolicy validation failed due to InvalidControls.` error.

[code]
[code]

[2022-06-22 07:34] QuduSEC commented on #547
Hello people! It seems there are no more blockers! Are looking forward to!

[2022-06-22 10:36] rajish commented on #823
It is possible to create the certificate, but apparently, [the activation](https://docs.microsoft.com/en-us/graph/application-saml-sso-configure-api#activate-the-custom-signing-key) has to be done manually or using Azure CLI. My code so far:

[code]

[2022-06-23 06:09] NEViLLLLL commented on #823
I tried the certificate from the computer and generated with tls_self_signed_cert. It really needs to be activated manually on the SSO page. But it does not show up in "Federation Metadata". If you manually import the PFX certificate, it is displayed in "Federation Metadata".

I tried @rajish code. The certificate did not show up in "Federation Metadata"

[2022-06-23 09:41] rajish commented on #823
Regarding the metadata link, there's a workaround that conforms the Azure Graph documentation:

[code]

But the certificate activation is a pain for two reasons, see the commented out code:
[code]
1. There's no way to retrieve the `thumprint` from the certificate.
2. Even when I tried running the command in a terminal with manually pasted values I get an error:

[code]

[2022-06-23 21:55] #742 closed

[2022-06-24 09:00] rolandjohann commented on #757
running into this as well. The problem is that `azuread_group.owners` automatically takes the current user id as owner. Specifying it explicitly causes the API to bail out with `GroupsClient.BaseClient.Post(): unexpected status 400 with OData error: Request_BadRequest: Request contains a property with duplicate values.`

This is somehow bad since normally the CI/CD system executes those terraform

[2022-06-24 14:35] xaoo opened #829 "Could not decode client certificate data: illegal base64 data at input byte 16"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritise this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritise the request
* If you are interest

[2022-06-26 11:02] jnq commented on #787
@manicminer I'll reach out to Microsoft and see if any other attributes have a similar issue, thanks for getting back to me!

[2022-06-27 12:06] manicminer commented on #757
@rolandjohann You are correct, this is largely an API issue. We may be able to work around it but it will require _lots_ of testing to make sure we don't break other users at the same time.

[2022-06-28 09:21] BrianRichardson opened #832 "data azuread_group -> More than one group found matching specified filter (displayName eq '<DisplayName>' and securityEnabled eq true)"
I am attempting to retrieve data for one of two Azure AD groups:

data "azuread_group" "group" {
  display_name = "\<DisplayName\>"
  security_enabled = true
  mail_enabled = false
}

Two AD groups exist with the same name where the difference being one is of type "Security" and the other of type "Mail enabled security".

![image](https://user-images.githubusercontent.com/12933801/176142998-498587

[2022-06-28 16:21] sumitkatre123 commented on #435
any news/update it is pushing us away from terraform and forcing to do things manually  ?

[2022-06-28 22:19] shrikantgcet opened #833 "Support the creation of App Registration using Graph permission: Application.ReadWrite.OwnedBy"
I am trying to create an app registration through another service principle using terraform code. I have given Service principle Graph permission: Application.ReadWrite.OwnedBy. When running code it gives me 403 error. Microsoft support this using beta API.

is it supported by terraform as of now? Can you guys help me out here with limited permission.
![terraform_issue](https://user-images.githubu

[2022-07-01 10:00] gtmtech opened #834 "Fixed Azure Bug where no Owners assigned when creating Gallery Applications"
Sorry for raising this as a bug, more of an informational

Hi @manicminer - I have gotten Microsoft to fix an Azure bug whereby when you instantiate a Gallery App through the graph API applications/instantiate, you don't get any Owners assigned. This was different to when you do it in the portal.azure website where if you instantiate a Gallery App, you do get owners assigned. Microsoft have told m

[2022-07-01 14:58] mllab-nl opened #835 "Changing the password for a user does not work: UsersClient.BaseClient.Patch(): unexpected status 403 with OData error: Authorization_RequestDenied: Insufficient privileges to complete the operation."
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritise this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritise the request
* If you are interest

[2022-07-04 09:11] brodster2 commented on #823
@rajish, not sure if this is a recent change from Microsoft but when I call [this](https://docs.microsoft.com/en-us/graph/api/serviceprincipal-addtokensigningcertificate?view=graph-rest-1.0&tabs=http) endpoint, and point to an existing service principal I've created with Terraform (that doesn't have a cert) it generates a certificate _and_ activates it. Not sure if this is new or just the way my a

[2022-07-04 11:38] manicminer commented on #835
Hi @mllab-nl, thanks for raising this. This is more of an Azure usage question since it relates to permissions, which the provider has no control over. The permissions requried when updating various user properties can vary depending on the determined seniority of the user being amended, and whether or not application permissions are support for that property. To the best of my knowledge, password

[2022-07-04 11:38] #835 closed

[2022-07-05 09:50] mllab-nl commented on #835
@manicminer Don`t you think it would be helpful to a broad audience to describe currently known  limitations/details in the documentation of the provider ?
https://github.com/hashicorp/terraform-provider-azuread/blob/main/docs/resources/user.md
if you know a way to make password change work using a Service Principal authentication, could you please share it.
Anyway would be helpful to have as much

[2022-07-05 18:56] manicminer commented on #835
@mllab-nl Whilst we try to make our documentation as useful as possible, it is infeasible for us to track and document these specifics of API behavior as they relate to permissions on a per-property basis, particularly as they have a tendency to change without notice.

[2022-07-07 13:07] flexwie opened #836 "App registrations referencing each other"
I am trying to move our existing Azure infrastructure over to be managed by Terraform and am running into an issue with our app registrations.
I have a registration for the API and one for the app that accesses that API.
Now when I define them in Terraform I have to add the `application_id` of the app to the known clients of the API and the `application_id` of the API to the required resources of

[2022-07-07 14:01] StickNitro commented on #650
Seems like it should be possible to support the attributes in the Azure Portal when inviting a New User. Looking at the code there is an update of the newly created user that takes place following the actual invitation so this could support updating attributes like the First Name and Last Name, etc. (I guess at least should be able to set the First Name, Last Name, Job Title, Department, Company n

[2022-07-08 11:14] #787 closed

[2022-07-10 16:30] sjovang opened #839 "azuread_directory_role_assignment fails in v2.26.0 when directory_scope_id is not set"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritise this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritise the request
* If you are interest

[2022-07-10 17:27] sjovang commented on #839
I did a bit more testing, and setting `directory_scope_id = "/"` is a workaround for the error

[2022-07-11 09:35] manicminer commented on #839
Hi @sjovang, thanks for reporting this. You have found the correct resolution in specifying `directory_scope_id = "/"`. It looks like this change wasn't documented correctly which we'll fix as soon as possible, sorry about that.

In 2.25.0 the provider defaulted this value, however this was causing issues with some combinations of `directory_scope_id` and `app_scope_id` and so the default value wa

[2022-07-11 10:06] manicminer commented on #818
@ravensorb Thanks for responding, please can you provide an updated debug log showing the error? As mentioned, this particular error message hasn't existed in the provider since v2.6.0.

[2022-07-11 10:07] #839 closed

[2022-07-11 10:15] manicminer commented on #829
Hi @xaoo, thanks for reporting this. The error you're seeing is most likely due to a misconfiguration of your authentication configuration. If you have set the `client_certificate` or `client_certificate_path` provider properties, or their corresponding environment variables `ARM_CLIENT_CERTIFICATE` or `ARM_CLIENT_CERTIFICATE_PATH`, the provider will attempt to decode the provided certificate. If

[2022-07-11 10:39] manicminer commented on #833
Hi @shrikantgcet, thanks for opening this issue. As noted in our documentation, we don't officially support management of applications when holding only the `Application.ReadWrite.OwnedBy` role. However we do make a best effort to make this work in most circumstances - again as specified in the docs you must include the calling principal (i.e. the principal being used to execute Terraform) in the

[2022-07-11 10:43] manicminer commented on #834
Hi @gtmtech, thanks for the headsup. I'm not seeing any corresponding entry in the [changelog](https://developer.microsoft.com/en-us/graph/changelog/?search=&filterBy=Applications) though?

[2022-07-11 11:03] flexwie commented on #836
Hey, yes that would indeed solve that scenario! Terraform providers are new territory for me but if you'd accept a PR for this I could give it a go.

[2022-07-12 09:03] #832 closed

[2022-07-12 16:52] calebak404 commented on #793
This occurs for us in:
terraform1.2.4
azuread 2.26.1

Creating 20 groups with 78 memberships.

[2022-07-13 07:54] arne21a opened #842 "Support for user principal names in azuread group owner parameter"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Community Note

* Please vote on this issue by adding a :thumbsup: [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generat

[2022-07-13 09:28] tombuildsstuff commented on #842
Transferring to the `azuread` provider since this is an AzureAD request

[2022-07-13 09:39] manicminer commented on #842
Hi @arne21a, thanks for requesting this. Whilst I agree that there's a potential UX improvement in enabling this, I doubt we'll implement this for a couple of reasons. The first is that the UPN is mutable, whereas the object ID is not. This can lead to unexpected results and further complications around ordering operations when for example a UPN is changed for a user. The second reason is that the

[2022-07-13 09:39] #842 closed

[2022-07-13 13:05] wernerfred commented on #791
Applying the example from above with provider version `2.25` passes without errors (apart from deprecation warnings).
Seems like the fix @manicminer mentioned did the trick!

[2022-07-13 18:16] ccsandhanshive opened #843 "azuread_application_password: end_date and end_date_relative parameter should calculate the end date of the application password based on the start_date but it is calculated based on the current timestamp when TF apply is executed"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritise this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritise the request
* If you are interest

[2022-07-15 08:01] arne21a commented on #842
Thanks for reviewing my request.
This feature derived from the idea that other modules have interfaces for other resources referenced by key and lz_key.
This module has no such interface. That means that you will need to add object_ids to your "infrastructure as data" tfvars files.
It feels like missing the point of IaD having to get object_ids from cli or ansible to add those to the config.

Also

[2022-07-15 08:13] arne21a commented on #842
I just realized my issue was moved to the provider repo.
I am not requesting to add this feature to the terraform provider! I just want to add a feature to the azure caf module.
[This is my PR to implement this in caf](https://github.com/aztfmod/terraform-azurerm-caf/pull/1248)
Not sure how this ended up here, did I mess up?

[2022-07-15 11:20] ccsandhanshive commented on #843
Are there any updates on this?

[2022-07-15 16:54] dcopestake commented on #823
I'm actually having exactly the same issue, did you ever find a resolution?

Basically if I provide my own cert via a `azuread_service_principal_certificate` resource for some reason it just doesn't show up in the App Federation Metadata, but if I deactivate and add a new one via the Azure Portal _that_ cert does show up?!

[2022-07-17 16:06] Threpio commented on #824
@manicminer I am happy to have a crack at this but will need some basic direction as to which client I should have a look at using.
Even if we limit this to just being groups and users, we currently use two slightly different hamilton instances there?
Do we create a generic ObjectID client that returns a Generic Object Metadata in hamilton instead?

[2022-07-17 16:15] Threpio commented on #746
I believe that these two data points are within the resource already. Can this be closed?

Is it that this is not found in the data source and that is what is needed to be added?

[2022-07-18 10:19] manicminer commented on #824
@Threpio Thanks, you're very welcome to work on this. You can likely use the `DirectoryObjectsClient`, parse out the OData and switch on the `odata.OData.Type` field to output a deterministic value.

[2022-07-18 10:21] manicminer commented on #746
@saran-fadv Please can you confirm if you're looking to configure these values, or look them up (i.e. reference them). If the latter, as @Threpio mentions we already support these attributes on both the resource and data source for service principals.

[2022-07-18 11:29] gouthamkamre68 opened #845 "output "client_secret_value" is not printing"
Hi,

i'm creating client secret using terraform "Resource: azuread_application_password" but unable to get secrets value in terraform output

output "client_secret_value" {
  description = "Password for service principal."
  value       = azuread_application_password.main.value
  sensitive   = true
}

output value:- client_secret_value = <sensitive>

Please help me to get it.

[2022-07-18 11:47] dcopestake opened #846 "azuread_application resource doesn't appear to set NameId SAML attribute correctly"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritise this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritise the request
* If you are interest

[2022-07-18 11:48] manicminer commented on #824
I think we can probably create a new service package for this and call it `directoryobjects`.

I'd prefer to switch on the odata type and error out if unrecognised. This way we can avoid exposing breaking changes to the user which could break their configuration.

[2022-07-18 12:24] Threpio commented on #845
Hi There @gouthamkamre68

If you mark an output as `sensitive = true` then it will not print it to stdout when running terraform plan/apply.

https://www.terraform.io/language/values/outputs#sensitive-suppressing-values-in-cli-output

[2022-07-18 13:29] gouthamkamre68 commented on #845
if i  remove sensitive it's throwing error as Output refers to sensitive values.

output "client_secret_value" {
description = "Password for service principal."
value = azuread_application_password.main.value
}

Error: Output refers to sensitive values
│
│   on output.tf line 21:
│   21: output "client_secret_value" {
│
│ To reduce the risk of accidentally exporting sensitive data that was intende

[2022-07-18 13:46] Threpio commented on #845
Understood - Apologies for misunderstanding the situation.

If you get that it redacts it due to it being sensitive like: `client_secret_value = <sensitive>` then this is intentional and is a terraform decision not the providers.

You can use the `terraform output client_secret_value` command to print it out after you have run the plan.

In the past when I have created secrets I have created a sec

[2022-07-18 16:02] ccsandhanshive opened #848 "Changing display_name parameter value during second terraform apply results in force replacement of the resource in azuread_application_password"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritise this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritise the request
* If you are interest

[2022-07-18 16:25] daniel-anova commented on #793
I can also add that if there's a large number of resources already in state even small additions seem to trigger the issue.

Such has adding a dozen of memberships on a new set of groups.

[2022-07-19 07:28] Threpio commented on #845
@manicminer - This can be closed

[2022-07-19 07:33] Threpio commented on #848
The `display_name' part of the schema for this resource currently has `ForceNew: true` set and so the resource will be re-created if this is changed.

I am not 100% sure if this is intentional - I will dig a bit and see if Azure actually requires the resource to be re-created if the display name is changed or if this can be set to false.

https://github.com/hashicorp/terraform-provider-azuread/blo

[2022-07-19 11:14] jhauray commented on #793
Hi,

Same issue for me when adding members to an existing group. Members are groups created by Terraform :

[code]

I encounter randomly the following issue :
[code]

Like @daniel-anova, I use `for_each` loop operator. Maybe this use case could be the root cause ?

[2022-07-19 16:49] #845 closed

[2022-07-21 13:29] ccsandhanshive commented on #848
Are there any updates on this?

[2022-07-21 14:15] Threpio commented on #848
Sorry for not writing @ccsandhanshive.

Neither the Portal nor the PWSH library lets you change the display_name of the `application_password`.

I will add a pr to update the docs to reflect that it forces a re-creation.

[2022-07-22 08:46] chennagouda14 opened #850 "azuread_application_certificate: end_date_relative parameter should calculate the end date of a certificate/key based on the start_date but it is calculated based on the current timestamp when TF apply is executed"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritise this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritise the request
* If you are interest

[2022-07-22 13:28] Threpio commented on #850
An exact copy of https://github.com/hashicorp/terraform-provider-azuread/issues/843 APART from which resource it affects.

Weird it would be written out like that twice.

I will adapt the PR there to reflect the changes required here aswell.

[2022-07-24 14:07] Threpio commented on #798
Hi there - I believe this can be closed.

This data source already exists and you are able to iterate over the groups as an output in the same syntax you have used above.

[2022-07-25 13:37] MayuriD89 commented on #791
Seems it's not been fix yet, I'm still getting the same error, while creating a group with unified type. Behavior too same as you have mentioned earlier that it's getting created on portal but terraform throws this error message -

` Error: Could not retrieve group with object UID "4531a726-efe9-45dd-adac-de4a82a23650"
retrieving additional fields: GroupsClient.BaseClient.Get(): unexpected
status

[2022-07-26 14:40] timon-michel-scopevisio opened #851 "How to realistically use azuread_invitation?"
I'm currently trying to implement the "azuread_invitation" resource to invite a user if it not already exists.

I managed to get it working like this:
[code]

This way if the specified user in `locals.external_users` is not found in AD, an invitation is created. If i, however run another time without changing the code, it tries to delete the user as it is now invited into the organization.
If i de

[2022-07-27 03:12] alexvvladimirov opened #852 "Predefined parameters are missed in the application provisioned from template"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritise this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritise the request
* If you are interest

[2022-07-27 17:45] nxf5025 opened #853 "Unable to add extra owners to application via terraform, but able to via Azure CLI"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritise this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritise the request
* If you are interest

[2022-07-29 16:44] vschum commented on #823
Using the snippet from @rajish as I was able to activate a token by using `openssl` to generate the thumbprint.

[code]

[2022-07-30 16:13] Threpio commented on #853
Some actions with a service principle require two scopes to be assigned - "User Access Administrator" and "Contributo" - Can you check what your current configs permissions and scopes are?

[2022-07-30 16:18] Threpio commented on #852
The culprit: https://github.com/hashicorp/terraform-provider-azuread/blob/bf65f5d71a5f080a7006b3a1d34f4af74903adad/internal/services/applications/application_resource.go#L940

I am not 100% sure how to tackle this straight away - I will let someone more experienced than I to see how to implement the template correctly.

[2022-07-31 19:37] manicminer commented on #853
@nxf5025 Please can you try assigning the app role `Application.ReadWrite.All` to the principal you're using to run Terraform? Note that whilst we make a best effort to work as much as possible, due to API constraints we don't guarantee that all properties will work when assigning `Application.ReadWrite.OwnedBy` and YMMV depending on the combination of directory settings and privileges in use, as

[2022-07-31 19:47] manicminer commented on #843
Thanks for requesting this @ccsandhanshive. I agree that setting an expiry date relative to the start date makes more sense. Whilst this technically constitutes a breaking behavioral change, in practice seems unlikely to break any existing workflows and will not affect any already-created credentials, so I think we're probably OK to update this.

Thanks @Threpio for picking this up and submitting

[2022-07-31 20:03] manicminer commented on #846
Hi @dcopestake, thanks for reporting and for the detailed repro information. At this time we do not have any control over these SAML related settings, as the API does not expose them. Unfortunately this means that only the portal (and potentially other first-party applications like Azure CLI or Az pwsh module) are able to configure these SAML settings. Additionally, whatever defaults are set as a

[2022-07-31 20:06] manicminer commented on #848
Thanks for the docs fix @Threpio. Closing this one for now as looks like a documentation issue rather than a bug.

[2022-07-31 20:06] #848 closed

[2022-07-31 20:07] manicminer commented on #850
Duplicate of #843

[2022-07-31 20:07] #850 closed

[2022-07-31 20:14] manicminer commented on #851
Hi @timon-michel-scopevisio, thanks for raising this. We understand the implementation of the azuread_invitation resource is limiting and we have plans to improve this by incorporating invite functionality into the azuread_user resource instead. This should allow for more robust user maangement - guest, member, invited, or homed - or a combination of these!

Whilst there is no specific ETA at this

[2022-07-31 20:14] #851 closed

[2022-07-31 20:19] manicminer commented on #852
Thanks for reporting @alexvvladimirov. This is something we should be able to improve, however at this time such improvement depends on further investigation of improving Computed properties. I'm hoping we'll be in a position to address this in the next major version of the provider which is due in the coming months.

In the meantime, you would need to work around this by explicitly configuring th

[2022-08-01 04:52] MayuriD89 commented on #791
May I know which authentication method you are using to execute this resource?

[2022-08-01 09:24] wernerfred commented on #791
az login with user credentials. No SP.

Sorry I haven't had time to test again but it is on the list ;)

[2022-08-01 09:56] MayuriD89 commented on #791
It's Okay @wernerfred. And the user you are authenticating with must be a 'Member' type user right? not a guest.
Actually I was authenticating with SP but then I tried with 'member' user and group gets created successfully but if I use SP in owners it again giving me same kind of error.
In terraform documentation too it is not clearly mention for 'Unified' group.

NOTE : Error comes only for 'Unif

[2022-08-01 16:46] gkman commented on #798
No not true. If you look at either `azuread_users` or `azuread_service_principals` what I linked to was that those data sources return a list of objects and in each object is a large set of information. The `azuread_groups` however only returns 2 lists 1 of `display_names` and one of `object_ids` which is far less extensive and powerful.

[2022-08-01 17:02] Threpio commented on #798
Very true - Apologies for miss-interpreting your issue.

This change would require that objects are returned instead of the two lists which is feasible but a relatively big rework to this data source.  I'll have a look later this week unless someone else takes a shot at it.

This would pretty much be a breaking change for this resource for it's current usages.

[2022-08-01 21:00] gkman commented on #798
well, i would figure to keep the 2 lists and add a third list of objects. that way there is no breaking change. I keep telling myself I'll find time to look into this myself, it just hasn't happened yet. There's no big pressing need for this, but I think it's a better alternative than a `zip` to match the 2 lists of `display_names` and `object_ids` to correlate them.

[2022-08-02 09:49] ShaheenK27 opened #855 "[azuread_named_location] Lack of validation on CIDR masks in ip_ranges parameter"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritise this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritise the request
* If you are interest

[2022-08-02 16:08] shmyer commented on #800
Are there any plans on introducing this to the provider?

[2022-08-02 18:32] cfletcher-lumen opened #856 "data.azuread_application.app.object_id does not have azure portal value"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritise this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritise the request
* If you are interest

[2022-08-03 13:11] Annihilatopia commented on #823
Hey @vschum which az cli version did you run the exec command on? Doesn't seem to work on
[code]

[2022-08-03 16:40] vschum commented on #823
Worked for me with the following version.

[code]

[2022-08-03 18:00] MayuriD89 opened #857 "In azuread_group rule parameter of 'dynamic membership' block is required but in terraform documentation it is marked as 'Optional'"
**Terraform (and AzureAD Provider) Version**

- Terraform v1.0.0
- Azuread Plugin Version v2.20.0

**Affected Resource**

- azuread_group

**Expected Behavior**

- azuread_group resource should get successfully created even if rule parameter from 'Dynamic membership' block is not specified.

**Actual Behavior**

- terraform throws following error if 'rule' parameter is not specified -

![image](ht

[2022-08-04 05:24] Annihilatopia commented on #823
That is strange, I've downgraded az cli to 2.38.0 and I'm still getting a empty list response when trying to update preferredTokenSigningKeyThumbprint.
[code]

[2022-08-04 10:05] manicminer commented on #856
Hi @cfletcher-lumen, thanks for reporting. The screenshot in your report is for the incorrect object in AAD, you'll want to look in the App Registrations blade for the object ID that the `azuread_application` resource refers to. The object ID in your screenshot is for the service principal, as represented by the `azuread_service_principal` resource.

[2022-08-04 10:05] #856 closed

[2022-08-04 10:09] manicminer commented on #857
Thanks for the report @MayuriD89. We'll look to fix this in the docs.

[2022-08-04 19:14] nxf5025 commented on #853
Okay with the help from an Azure engineer we were able to dig into this a bit more. The Azure docs reference `Application.ReadWrite.All` is required for adding additional owners - https://docs.microsoft.com/en-us/graph/api/application-post-owners?view=graph-rest-1.0&tabs=http (Thanks @manicminer for pointing us in the right direction)

This conflicts with the fact that I'm able to add owners post

[2022-08-04 19:14] #853 closed

[2022-08-05 02:15] #843 closed

[2022-08-05 05:59] ccsandhanshive commented on #843
@manicminer Thank you for adding functionality for `end_date_relative` parameter now it calculates `end_date` based on `start_date` which we have specified for `start_date` parameter.

The `end_date` parameter in `azuread_application_password` is an optional parameter and its default value is still 2 years after the current timestamp, not 2 or 1 year after start_date

As per azure Powershell defau

[2022-08-05 06:42] ccsandhanshive commented on #843
@manicminer Thank you for adding functionality for `end_date_relative` parameter now it calculates `end_date` based on `start_date` which we have specified for `start_date` parameter.

The `end_date` parameter in `azuread_application_password` is an optional parameter and its default value is still 2 years after the current timestamp, not 2 or 1 year after start_date

As per azure Powershell defau

[2022-08-05 08:08] chennagouda14 commented on #843
@manicminer  Thank you for adding this functionality for `end_date_relative` parameter in `azuread_application_certificate` resource,  now the end_date_relative parameter calculates the end date of a certificate/key based on the start_date.

[2022-08-05 12:28] MayuriD89 opened #859 "Terrafrom shows change after resource creation for visibility parameter in azuread_group"
**Terraform (and AzureAD Provider) Version**

- Terraform v1.0.0
- Azuread Plugin Version v2.20.0

**Affected Resource**

- azuread_group

**Expected Behavior**

- azuread_group resource should not show any change once created.

**Actual behavior**

- azuread_group gets created successfully after first apply command but when 2nd terraform apply is executed it shows a change for visibility paramete

[2022-08-05 14:14] nimblenitin opened #860 "Error: Invalid resource type"
Getting below error while trying to assign ad role to principal
Error: Invalid resource type
│
│   on ../../modules/infrastructure/cloud-scanner-app/main.tf line 51, in resource "azuread_directory_role_assignment" "example":
│   51: resource "azuread_directory_role_assignment" "example" {
│
│ The provider hashicorp/azuread does not support resource type "azuread_directory_role_assignment".

### Co

[2022-08-06 17:04] pir8g33k opened #861 "azuread_group - security type"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritise this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritise the request
* If you are interest

[2022-08-06 17:48] Threpio commented on #861
Hi there! Thanks for creating this issue.

There is already a flag to set a `azuread_group_resource` to be ` security_enabled = true`.

Please see here:
https://registry.terraform.io/providers/hashicorp/azuread/latest/docs/resources/group

[2022-08-06 17:49] Threpio commented on #860
Hi there! Thanks for raising this issue.

Can you please provide your terraform snippet regarding these resources?

Thank you

[2022-08-06 18:00] nimblenitin commented on #860
Hey this was fixed once i bumped the provider version. Was something related to the version.

[2022-08-08 07:32] #861 closed

[2022-08-08 07:34] #860 closed

[2022-08-09 00:55] tpidor commented on #801
Hi, we're also trying to create policy with only session controls but no grant controls.

My terraform module snippet -

[code]

These are the values from the input config to try as workaround -
[code]

But got this error during Terraform Apply -
[code]

If you got some workaround to only specify session controls with irrelevant grant controls or no grant controls at all, please advise. Thanks in

[2022-08-09 05:06] ZarakiKenpachi7 commented on #68
Hello, checking up on this one as we need it via tf rather than regular clickops. Any updates, please?

[2022-08-09 10:44] tiwood opened #862 "azuread_group refresh takes very long and causes high cpu (if group has many members)"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritise this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritise the request
* If you are interest

[2022-08-09 13:50] manicminer commented on #801
This is unfortunately an API validation issue that we cannot work around. The API does not support some configurations that are valid in the portal.

[2022-08-09 16:36] jvelasquez commented on #624
If anyone comes across this issue, this did it for me (little dirty but can live with that code until this is fixed) -

[code]

[2022-08-12 14:38] sherifkayad commented on #823
@vschum I tried your solution and still the cert needed to be activated manually ,, does anyone have another solution maybe?

[2022-08-15 09:12] gtmtech commented on #834
I had a response from Microsoft:

[code]

I will update you if there's a further update to me.

[2022-08-16 13:19] SuryenduB opened #863 "Currently Azure AD Provider does not allow configuring role management policies to configure PIM Settings"
Present version of the provider does not allow Role Settings to enforce PIM Configurations at the time of setting up users as Eligible members for a role. Please ensure that following API requests can be made from Terraform.

1. https://docs.microsoft.com/en-us/rest/api/authorization/role-management-policies/update?tabs=HTTP

### Community Note

* Please vote on this issue by adding a 👍 [reaction]

[2022-08-16 13:54] anwickes commented on #823
Is it possible to retrieve the thumbprint from the following:

`az ad sp credential list --id 00000000-0000-0000-0000-000000000000 --cert`

and then feeding it into

`az ad sp update --id 00000000-0000-0000-0000-000000000000 --set preferredTokenSigningKeyThumbprint=`

[2022-08-17 07:32] Threpio commented on #862
7000 members?  Hot damn I did not consider my code being used for that big a number.

What are you doing with the group resource that would require the 7000 users to be referenced in Terraform? Are there other actions on that group that take a lot longer than they should?

[2022-08-17 09:46] ruhomor commented on #745
+1

[2022-08-17 13:11] anwickes commented on #823
i'm also getting the following error when using the above code.

`The command failed with an unexpected error. Here is the traceback:
'GraphClient' object has no attribute 'service_principals'
Traceback (most recent call last):
  File "/usr/local/Cellar/azure-cli/2.37.0/libexec/lib/python3.10/site-packages/knack/cli.py", line 231, in invoke
    cmd_result = self.invocation.execute(args)
  File "/u

[2022-08-17 14:50] anwickes commented on #823
This is working for me. Be interested to see if others are able to use it too.

`resource "azuread_service_principal_certificate" "cert" {
  service_principal_id          = azuread_service_principal.app.id
  type                          = "AsymmetricX509Cert"
  value                         = file("sp.pem")
  end_date                      = var.sp_cert_end_date
}

resource "null_resource" "activa

[2022-08-17 19:12] chennagouda14 opened #865 "azuread_application_certificate: start_date parameter accepts past date value for Symmetric key"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritise this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritise the request
* If you are interest

[2022-08-17 19:31] chennagouda14 opened #866 "azuread_application_certificate: For certificate, the default value of start_date is the “creation date” of the certificate, whereas for symmetric key, the default value is the current timestamp when TF apply is executed."
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritise this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritise the request
* If you are interest

[2022-08-18 21:32] SeanKilleen opened #867 "azuread_appliation: redirect URI "must have a trailing slash when there is no path segment" -- but azure allows"
Summary: I am importing existing Azure resources into Terraform. I noticed an issue where the existing value in Azure, when added to Terraform, was declared invalid by the azuread provider. In short, if a URL is valid in azure as `http://localhost:4200`, Terraform rejects it, insisting it must be `http://localhost:4200/`. Trying to understand if this is a bug with the provider being overly strict

[2022-08-18 23:31] manicminer commented on #863
Hi @SuryenduB, thanks for requesting this. We're tracking support for PIM related resources in a [single issue](#68) at this time, in order to consolidate upvotes and simplify tracking.

Accordingly, I'm going to close this as a duplicate of #68 for now. This is our most requested service and I can assure you it is on our roadmap. Thanks!

[2022-08-18 23:31] #863 closed

[2022-08-18 23:36] manicminer commented on #865
Hi @chennagouda14, thanks for reporting this. As this behavior is permitted by the API, this is not considered a bug. Thanks!

[2022-08-18 23:36] #865 closed

[2022-08-18 23:39] manicminer commented on #866
Hi @chennagouda14, thanks for reporting this. The behavior you have encountered is the expected behavior, and is actually applied by the API and not by the provider. If our documentation is inaccurate then we'll definitely look to update this accordingly. Thanks!

[2022-08-18 23:45] manicminer commented on #867
Hi @SeanKilleen, thanks for reporting this. You are correct that the API accepts redirect URIs having no path and no trailing slash. However, when reading back the application manifest, the API appends a trailing slash for path-less URIs even if it was created without a trailing slash. This causes a perpetual diff in Terraform and so to overcome this inconsistency we avoid assigning path-less redi

[2022-08-18 23:45] #867 closed

[2022-08-19 00:02] SeanKilleen commented on #867
@manicminer thanks for the confirmation! Given that, makes total sense to close it. 👍

[2022-08-19 06:52] anwickes opened #868 "SAML attributes and claims"
Hi all, I know this question was already asked and closed under here (https://github.com/hashicorp/terraform-provider-azuread/issues/821) however I see that we now have the following resources available to us.

https://registry.terraform.io/providers/hashicorp/azuread/latest/docs/resources/claims_mapping_policy
https://registry.terraform.io/providers/hashicorp/azuread/latest/docs/resources/service

[2022-08-19 07:02] anwickes commented on #173
As of 19th Aug, 2022, what's the status of adding SAML claims and attributes to a service principal? It seems the claims mapping policy resources do this but can't necessarily do everything? ie group claims?

[2022-08-19 07:45] chennagouda14 commented on #866
Thank you for the updates, looking forward for the updated version of the document highlighting this fix.

[2022-08-21 01:01] cruikshj commented on #823
This sort of worked for me.  While it seems to have activated my cert according to the Azure Portal, the cert is still not configured completely it seems.  I receive the error "AADSTS500031: Cannot find signing certificate configured." when trying to test SSO, and the metadata does not contain the cert.

[2022-08-21 03:29] cruikshj commented on #823
I compared what is created by the UI and what is created by the `azuread_service_principal_certificate` resource.  The difference is that the UI creates a certificate and adds it twice to the principal, once with the `usage` value of "Verify" and the other with "Sign".  The resource only creates the "Verify" credential.  I suspect a part of the problem is the assumption this resource provider is m

[2022-08-21 03:41] anwickes commented on #823
Wow, great find John. Anyone with the skill to add the 2nd API call to the resource creation?

[2022-08-21 15:06] cruikshj commented on #823
I wonder if it is enough to make `Usage` configurable on `azuread_service_principal_certificate`.

[2022-08-21 23:37] anwickes commented on #823
Bit of a novice on how this stuff all sits together but i'm assuming you would need to issue the API call twice upon resource creation? Once for the "verify", another for "sign"?

[2022-08-23 05:07] anwickes commented on #868
For anybody else wondering this, the following seems to have done the job for me.

[code]

[2022-08-23 11:35] samgladstone opened #869 "Support generic OIDC implementation via environment variable"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritise this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritise the request
* If you are interest

[2022-08-23 11:40] samgladstone commented on #869
I've raised a PR #870 to add a warning that this is implementation is specific to GitHub Action. This could then be removed once the generic work is done

[2022-08-24 19:24] tiwood commented on #862
I'm working for a company with 1000s of users. One can reach these numbers with that many users pretty quickly.

I don't think the issue is actually in this repository, as not much is done here with the members, except writing it to the state and the paging itself is also not the problem.

Therefore I guess one has to look in the custom SDK used by this provider and look for bottlenecks.

[2022-08-24 20:21] tiwood commented on #862
I've checked with the SDK itself and it was working as expected:

![CleanShot 2022-08-24 at 9 53 12](https://user-images.githubusercontent.com/6249819/186510936-90f22b7f-877d-40cd-8111-ca368fdb55c3.png)

A fresh TF configuration with just a `azuread_group` data source also works just fine:

![CleanShot 2022-08-24 at 10 20 46](https://user-images.githubusercontent.com/6249819/186515734-8c0713b4-29e

[2022-08-25 05:48] mclacore opened #871 "Bug: service_principal_password doesn't create a password"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritise this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritise the request
* If you are interest

[2022-08-25 11:48] manicminer commented on #871
@mclacore I believe you are looking for the azuread_application_password resource, as service principal passwords are no longer visible in the portal.

[2022-08-25 11:48] #871 closed

[2022-08-25 13:32] mclacore commented on #871
When did that change? What's the difference?

[2022-08-25 14:14] manicminer commented on #871
I don't recall exactly when, but application credentials were introduced several years back and I think the service principal credentials blade was removed from the portal sometime in 2018. I would recommend reading [this Azure AD help article](https://docs.microsoft.com/en-us/azure/active-directory/develop/app-objects-and-service-principals) for background information on how applications and serv

[2022-08-25 14:17] RaviP-Insight opened #872 "Add "implicit_grant" block option under "single_page_application" block section"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritise this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritise the request
* If you are interest

[2022-08-25 21:47] #857 closed

[2022-08-25 21:52] #824 closed

[2022-08-25 22:50] #869 closed

[2022-08-28 11:03] Satak opened #875 "GitHub action OIDC Auth doesn't work with v2.28.0"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritise this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritise the request
* If you are interest

[2022-08-30 05:59] Satak commented on #875
Is there any full documentation and example how to setup OIDC auth in GitHub actions for `2.28` version? Something changed since the old configuration doesn't work for `2.28`.

[2022-08-30 17:07] manicminer commented on #875
@Satak Thanks for reporting this. I've looked into it and it does seem like GitHub OIDC auth is unfortunately broken. I believe I've found the cause and we should be able to issue a patch release for this shortly.

[2022-08-30 18:44] #875 closed

[2022-08-31 10:51] manicminer commented on #872
Hi @RaviP-Insight, thanks for requesting this. On further investigation, it looks like this isn't actually a valid property. To clarify, I looked in the portal and inspected the API traffic and found that whilst these settings are exposed as checkboxes when you add settings for a single-page-application, they are actually set on the web block. See the following capture:

![Screen Shot 2022-08-31 a

[2022-09-01 06:17] gaurav-p-sood opened #878 ""azuread_application_pre_authorized" only adds max one client id"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritise this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritise the request
* If you are interest

[2022-09-01 14:13] manicminer commented on #878
@gaurav-p-sood Thanks for opening this issue. I'm not sure what you're asking exactly, but this seems like more of a usage question than a bug report? We use GitHub issues to track bugs and feature requests, not to provide support, and so I will unfortunately have to close this.

That said, maybe you want the [`oauth2_permission_scope_ids`](https://registry.terraform.io/providers/hashicorp/azuread

[2022-09-01 14:15] manicminer commented on #868
@anwickes We appreciate the feedback, however as we use GitHub issues for tracking bugs and feature requests, not to provide support, I'm going to have to close this.

I recommend joining our community Slack to get in contact with other provider users - instructions are in the project readme.

[2022-09-01 14:15] #868 closed

[2022-09-01 14:15] manicminer commented on #859
Hi @MayuriD89, thanks for reporting this casing issue. We'll look into this and issue a fix as necessary.

[2022-09-01 14:22] manicminer commented on #855
Hi @ShaheenK27, thanks for reporting this. This would seem to be an API bug since a seemingly invalid prefix length is accepted by the API without error. However in the interest of usability we'll look at adding this validation if it is feasible.

Note that we cannot guarantee provider-level validation in all cases because we often don't have access to interpolated values until apply-time. Accordi

[2022-09-01 16:41] Hemanth1007 opened #879 "Feature Request for permission classifications and Identity governance features in azuread provider"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritise this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritise the request
* If you are interest

[2022-09-05 16:46] angusjellis commented on #778
I ran into a very similar issue with the GitHub Enterprise Cloud gallery application. Not sure the workaround is worth the benefit of getting an Enterprise App in IAC, as having a _very_ fragile workaround eliminates a lot of the benefits of IAC.

[2022-09-05 20:07] mw8er opened #880 "Terraform Cloud/Enterprise and Authenticating using a Service Principal and OpenID Connect"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritise this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritise the request
* If you are interest

[2022-09-06 12:35] helvetia-regel commented on #175
Linked or not: https://registry.terraform.io/providers/hashicorp/azurerm/latest/docs/resources/api_management_policy

Does the above allow for the definition of custom policies via their own XML files?

@hhao01-becls the microsoft graph client has [apparently](https://github.com/azure-ad-b2c/deploy-trustframework-policy/blob/main/src/main.ts) been upgraded to support the upload of policies. It is

[2022-09-07 07:57] theoboardpro commented on #773
Just adding to this issue, we are using PKCE, and we require the value to be null. Setting to true does not work as we do not use grant flows.

When looking at the manifest it should be
![image](https://user-images.githubusercontent.com/95889728/188822738-9b1fad16-03fa-416d-93dd-8068fe8a73e0.png)

However, setting to false sets the value to false, and the flow breaks on the WebApp.

Is this someth

[2022-09-07 10:17] marty-buly commented on #715
Any update of when we can potentially expect this feature?

[2022-09-07 22:33] jakebracey opened #881 "Enable azuread_group to return indirect members"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritise this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritise the request
* If you are interest

[2022-09-08 20:36] robertbrandso opened #882 "azuread_conditional_access_policy: Option to define authentication context in policy"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritise this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritise the request
* If you are interest

[2022-09-10 13:18] Threpio commented on #881
The current "groups List Members" method and client from Hamilton does not currently allow for this query to be passed through but would be relatively easy to implement:
[func (c *GroupsClient) ListMembers(ctx context.Context, id string) (*[]string, int, error) {](https://github.com/hashicorp/terraform-provider-azuread/blob/d8b9594ce8c53c1aa242035081969dce2043a9a3/vendor/github.com/manicminer/hami

[2022-09-11 14:54] RaviP-Insight commented on #872
Thank you for looking into this. I tried them in reverse order (web block first and then spa) before creating the ticket which replaced the implicit setting options too.
I tried them in the option provided in the screenshot and that kept spa and implicit options.
Thank you.

[2022-09-12 09:36] manicminer commented on #879
Thanks for requesting this @Hemanth1007. Is this a duplicate of https://github.com/hashicorp/terraform-provider-azuread/issues/218?

[2022-09-12 13:00] pmjacinto opened #885 "azurerm_invitation requires User.ReadWrite permissions"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritise this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritise the request
* If you are interest

[2022-09-12 17:33] RaviP-Insight commented on #872
I think I spoke too soon.
When I re-ran the DevOps process, platform is changing from spa to web. On the next run, it is changing from web to spa. Good thing is it is keeping the implicit permissions, but platform change is causing an issue for the application to work.
It didn't matter which order I use spa and web blocks. For each execution it is changing the platform to the first choice block.

[2022-09-12 19:22] manicminer commented on #872
@RaviP-Insight That sounds like a possible API bug, can you please paste the config you are using and the resulting diffs for each execution? If you can enable debug logging (`TF_LOG=DEBUG`) and paste the entire output from the plan/apply, including the diff, that would be super helpful in tracking down the cause. I will reopen this issue in the meantime. Thanks!

[2022-09-12 19:25] manicminer commented on #885
@pmjacinto Thanks for reporting this. Whilst it's possible to create invitations having only `User.Invite.All`, unfortunately the `PATCH` has been found to be necessary as `GET` operations on newly created objects in MS Graph are cached and are not reliable. Accordingly we will have to put this down as a documentation bug.

[2022-09-12 19:31] RaviP-Insight commented on #872
Thank you for the quick response, Tom.

Initially I used below code in the Azure AD app section:

  single_page_application {
    redirect_uris = var.redirect_uris
  }

  web {
    redirect_uris = var.redirect_uris

    implicit_grant {
      access_token_issuance_enabled = true
      id_token_issuance_enabled     = true
    }
  }

After adding the comments, I tried removing “redirect_uris” option

[2022-09-14 18:28] rohrerb opened #886 "New Property on azuread_application"
Request to add `Assignment Required` to `azuread_application`.

Image of the field in Azure AD:

<img width="828" alt="image" src="https://user-images.githubusercontent.com/15711466/190233518-b99a44bc-abb5-4601-a566-e8d44049cb59.png">

[2022-09-15 10:09] ShaheenK27 opened #887 "[azuread_application] Unable to remove owners from the actual infrastructure"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritise this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritise the request
* If you are interest

[2022-09-15 11:32] ShaheenK27 opened #888 "[azuread_application] The 'type' parameter in 'oauth2_permission_scope' block is marked as Required but behaves as Optional"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritise this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritise the request
* If you are interest

[2022-09-16 14:57] Crono1981 opened #889 "Support internal notes field for azuread_application"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritise this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritise the request
* If you are interest

[2022-09-17 06:55] jarifibrahim commented on #175
Hi @manicminer! Would you be open to accept a PR for adding support for B2C Userflow resource to this provider https://learn.microsoft.com/en-us/graph/api/resources/b2cidentityuserflow?view=graph-rest-beta ?

I see that azuread uses https://github.com/manicminer/hamilton/tree/main/msgraph as the Microsoft Graph API client but the client doesn't support B2C UserFlow related graph APIs.
Would it be

[2022-09-17 09:15] shijiadong2022 commented on #888
Can I work on this issue?

[2022-09-20 08:51] manicminer commented on #175
@jarifibrahim We would definitely like to support this, however we are first looking to implement support in the provider for pinning, or otherwise asserting, the API version - due to this resource only being available in the beta API at this time.

We are not currently looking to use the official SDK(s).

[2022-09-20 08:56] manicminer commented on #888
@shijiadong2022 Thanks! Please feel free to take a look at this :)

[2022-09-20 17:32] jarifibrahim commented on #175
@manicminer is there an ETA on how long would it take to add support for pinning a version?

May I ask why? I am happy to add support for user flows to https://github.com/manicminer/hamilton/tree/main/msgraph  as well.

[2022-09-26 16:30] PabloPie opened #891 "Support reading OIDC token from file in provider block"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritise this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritise the request
* If you are interest

[2022-09-27 18:12] k-drumz opened #893 "external_senders_allowed failing even when unset with Service Principal authentication"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritise this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritise the request
* If you are interest

[2022-09-28 07:00] archmangler commented on #68
Hi, what's the status of this much desired and valuable feature ?

[2022-09-28 08:55] nbaju1 opened #894 "Handling of legacy identifier URIs."
In our tenant we have multiple applications with legacy identifier URIs, i.e. URIs that, if removed, can't be reapplied to the application by using the API due to lacking host name, unverified domain etc. The apps are functioning with these URIs.

The problem is when we try to manage these apps through Terraform since both validation and apply fails when the config file contains legacy URIs. Is th

[2022-09-28 22:48] manicminer commented on #894
Hi @nbaju1, thanks for raising this query. Unfortunately it will not be possible to manage these identifier URIs with Terraform. As you allude to, any changes that Terraform may try to effect will incur API validation anyway; the validation within Terraform is intended to meet the same validation rules.

You may be able to manage these applications by adding `identifier_uris` to the `ignore_change

[2022-09-28 22:48] #894 closed

[2022-09-29 07:26] nbaju1 commented on #894
Thanks for the reply, @manicminer. Weirdly enough, your suggestion works for some apps, but not for others.
For all apps I remove the identifier URIs from the config file prior to terraform validate, plan and apply. Any changes to the identifier URIs is done via the Graph API post apply. `identifier_uris` is added to `ignore_changes` on the application.

The following app had 4 identifier URIs. Ap

[2022-09-29 08:03] manicminer commented on #894
@nbaju1 This is probably inconsistent API behavior - for both those cases the payload would include the `identifierUris` field with the current value (e.g. a no-op), but I guess the API is sometimes ok with that and sometimes not.

In future we will be trying to improve the logic here to only send fields in patch requests that have actually changed, or that must be included to maintain their value

[2022-09-29 11:12] nbaju1 commented on #894
I found the culprit that caused the inconsistent behavior. For the apps that didn't work, `requestedAccessTokenVersion` was set to `null` on the app. Doing a patch request on the app to update this to "1" results in the failure above, even if `identifierUris` is not present in the patch payload. I see in the code that you default this value to "1", and I assume this is then present in the patch pa

[2022-09-29 17:26] manicminer commented on #894
That's good to know, thanks for the feedback 👍

[2022-09-29 20:06] #888 closed

[2022-09-29 20:22] #866 closed

[2022-09-29 22:32] #891 closed

[2022-09-30 11:29] speedyankur commented on #68
We have found a work around for PIM implementation in terraform
https://goodworkaround.com/2021/10/14/assigning-pim-azure-rbac-permissions-using-terraform-and-arm-template/

However Im still waiting on updates on this one. Any timelines..

[2022-09-30 11:57] mariussm commented on #68
@manicminer All API endpoints for Azure AD roles are now out beta (and have been for a while): https://learn.microsoft.com/en-us/graph/api/resources/privilegedidentitymanagementv3-overview?view=graph-rest-1.0

Any chance this will be prioritized in the backlog anytime soon?

I wish I had the required expertise for contributing to the provider, but I lack any Golang knowledge. If there is anything

[2022-10-02 03:30] dhirschfeld opened #900 "Support federated identity credential for user-assigned managed identities"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritise this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritise the request
* If you are interest

[2022-10-06 09:48] leewilson86 opened #901 "azuread_application "owners" field keeps appearing in plans even after the change has been applied"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritise this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritise the request
* If you are interest