[2021-07-22 18:30] conzyor34 commented on #498
In `applicationPasswordResourceRead()` I have tested using `CustomKeyIdentifier` as the `display_name` only if `displayName` is null.

I can submit a PR if that seems like the right approach.

Something like this:

[code]

[2021-07-22 23:21] manicminer commented on #494
@conzyor34 Thanks for reporting and thanks for the PR  🎸

[2021-07-22 23:26] #494 closed

[2021-07-22 23:31] manicminer commented on #498
@conzyor34 Thanks for reporting - that workaround seems like the best we can do under the circumstances. If you'd like to open a PR with this, that'd be great 👍

Just to be sure, I tried a few different ways to update the displayName for an existing password credential but MS Graph will not allow it.

[2021-07-22 23:46] manicminer commented on #496
Hi @roy-work, thanks for reporting this.

This plan output is due to changes in Terraform Core and is intended to inform you when changes to potentially configurable properties are made. This happens because `members` is both an Optional property and a Computed attribute at the same time. If you don't specify the `members` property in your `azuread_group` resource, you will see this as part of you

[2021-07-22 23:46] #496 closed

[2021-07-23 22:35] #498 closed

[2021-07-25 23:53] channaj opened #501 "New resource azuread_application_platform"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritise this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritise the request
* If you are interest

[2021-07-26 11:41] GenesisCoast commented on #188
FYI to get @haodeon's solution working I had to do the following:
[code]

Otherwise I would get the following error:
[code]

Hopefully this helps someone.

[2021-07-26 14:18] brunoscota commented on #307
Yes! same as my case!! please approve it!

[2021-07-26 22:08] manicminer commented on #501
Thanks for the suggestion @channaj. Needing to know the application ID is something that has come up in a couple of different contexts and we'll look to solve this.

[2021-07-27 10:19] flisak-robert opened #504 "Authorization_RequestDenied during service principal creation"
Hi,
I am having trouble with creating a service principal using the azuread terraform provider (hashicorp/azuread v1.6.0). Here is the code:
[code]
Application is created just fine, but when I try to create the service principal, I get the error: `Could not create service principal`

[code]

I have the correct permissions, I am not using a service principal along with terraform. Service principal

[2021-07-27 12:18] manicminer commented on #504
Hi @flisak-robert, you will need to use the `application_id` attribute of your application resource and not the `id` attribute.

[2021-07-27 16:53] manicminer commented on #504
@flisak-robert As this is more of a usage question, I'm going to close this issue for now.

We use GitHub issues for tracking feature requests and bugs in the Azure provider, and to maintain focus on that we instead ask that broader questions are raised using our [Community Resources](https://www.terraform.io/community.html). If you believe you have found a bug in the provider, or if you have a fe

[2021-07-27 16:53] #504 closed

[2021-07-27 21:55] manicminer commented on #485
Hi @elthanor, thanks for reporting this issue. I have tried to reproduce but unfortunately the configuration provided is incomplete. In the module config, there is a local referenced `local.oauth2_perm_scope_names` which isn't defined, and I'm not sure which permissions this is supposed to represent. Could you clarify this or try to reduce the configuration to the minimum required to reproduce the

[2021-07-28 12:16] hbuckle opened #505 "Intermittent error removing azuread_application_password"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritise this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritise the request
* If you are interest

[2021-07-28 20:08] ju-la-berger commented on #478
@manicminer Sorry for the late reply. It's holiday season. Regarding your question: My user "adm_xxx@xxx.com" has elevated rights ("Directory Reader" and "Application Developer"). I can enable these roles via Azure PIM. Does not make any difference regarding this issue though.

Thanks for your explanations regarding the app-specific rights. I am just beginning to explore this whole topic.

Maybe w

[2021-07-28 21:54] manicminer commented on #478
@ju-la-berger No problem about the delay, this is still something we're actively investigating.

To shine some clarity on this issue, there are several different errors being reported in this issue, and in other issues, which to my knowledge are:

1. `Microsoft.Online.DirectoryServices.DirectoryValueExistsException`
2. `Request contains a property with duplicate values`
3. `The group must have at

[2021-07-28 21:56] manicminer commented on #464
This issue has some overlap with #478, accordingly I'm going to close it in favor of tracking these intertwined group-related bugs in a single place. Please subscribe to #478 for updates. Thanks!

[2021-07-28 21:56] #464 closed

[2021-07-29 10:45] ju-la-berger commented on #478
Okay, so I am fraction #2 "Request contains a property with duplicate values." ...

I've got a service principal now and did some tests using proxy to capture the traffic.

## Service Principal

### Request

[code]

#### Decoded access token

[code]

### Response

[code]

### User via Azure CLI

### Request

[code]

#### Decoded access token

[code]

### Response

[code]

## Request flow

The firs

[2021-07-29 11:02] elthanor commented on #485
here is the missing main.tf inside the module

[code]

[2021-07-29 13:46] ju-la-berger commented on #478
Note that the service principal I used has these roles:

* Group.ReadWrite.All
* Directory.Read.All
* User.Read.All
* GroupMember.ReadWrite.All

I will try to find the minimum set of roles needed to perform group management via Terraform.

When I use a different service principal without any roles, it does not work:

GET https://graph.microsoft.com/beta/659c3a90-ec90-4772-b772-cebe2050a82e/groups/

[2021-07-29 14:31] Dan-Bai opened #506 "azuread_application_oauth2_permission_scope optional properties are required"
*user_consent_display_name* and *user_consent_description* are optional in documentation but required during deployment.

### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritise this request
* Please do not leave "+1" or "me

[2021-08-02 13:15] Tazminia opened #507 "Special characters in azuread_service_principal_password"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritise this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritise the request
* If you are interest

[2021-08-02 22:59] manicminer commented on #507
Hi @Tazminia, thanks for reporting this issue.

Are you using the Microsoft Graph beta? If not, you should be able to specify the password value as it is generated by the provider. If you are using the beta, the password value is generated by the API and there is unfortunately nothing we can do about the unsupported characters.

[2021-08-03 13:16] heinrich-ulbricht opened #508 "Bot Framework: Transition from (soon to be deprecated) "Web App Bot" to "Azure Bot""
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritise this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritise the request
* If you are interest

[2021-08-03 13:21] heinrich-ulbricht commented on #508
Somebody also started a discussion here, no feedback yet: https://discuss.hashicorp.com/t/unable-to-create-azure-bot/27365

[2021-08-03 13:31] heinrich-ulbricht commented on #508
This looks like a duplicate of #12522

[2021-08-03 13:33] heinrich-ulbricht commented on #508
Another duplicate: https://github.com/terraform-providers/terraform-provider-azurerm/issues/12654

And I created it in the wrong repo as well. Very wholesome. Closing.

[2021-08-03 13:33] #508 closed

[2021-08-04 05:40] raj13aug opened #509 "Configure Desktop + devices in Azure AD using Terraform"
Hello Team,

I was not able to find the creation of (Desktop + devices) platform resource feature of terraform (azuread_application) also attached screen shot for the azure portal screen.

If it's possible please provide az command for (desktop + devices) creation.

Platform screen shot
![image](https://user-images.githubusercontent.com/5330003/128127973-79e8ed93-3bd2-4a3e-9886-25073edcd819.png)

[2021-08-04 13:45] Tazminia commented on #507
Hello @manicminer, I am not sure about the Microsoft Graph beta. To be honest, I do not know what it is.

For now, to avoid the issue I am using the following code snippet:

[code]

[2021-08-04 14:38] jashby44 commented on #175
@manicminer I know 2.0 isn't released yet, but can I use a dev version now with a different `source` in `required_providers`? Happy to test and leave feedback.

[2021-08-05 23:50] mrshiva opened #510 "azuread_service_principal_certificate doesn't upload a certificate to service principal"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritise this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritise the request
* If you are interest

[2021-08-06 14:30] manicminer commented on #510
Hi @mrshiva, thanks for reporting!

I believe you may want to use the `azuread_application_certificate` resource as that corresponds to the Portal UI you describe (Azure AD > App Registrations > Certificates and Secrets). If you are creating a single tenant application, you should be able to use application certificates (as opposed to service principal certificates) seamlessly - however if you are

[2021-08-06 14:30] #510 closed

[2021-08-06 14:39] manicminer commented on #505
Hi @hbuckle, thanks for reporting. At a quick glance this looks likely to be an eventual consistency issue. Are you able to try this using the MS Graph beta? If this is a consistency issue I suspect it may be resolved by switching to Microsoft Graph.

When using the legacy API, we have a number of mitigations in place to try and work around these sorts of replication delays, however they don't alw

[2021-08-06 14:41] manicminer commented on #509
Hi @raj13aug, thanks for requesting the ability to configure additional platforms for applications.

We have actually merged this functionality and it is due to be released in version 2.0 in the near future. Accordingly I'll mark this as resolved and link it to the v2.0 milestone, so you'll get notified in this issue once this has been released. Thanks!

[2021-08-06 14:41] #509 closed

[2021-08-08 23:18] manicminer commented on #175
Hi @jashby44, we don't have a prerelease build however you should be able to build it locally from `main`, although I wouldn't recommend running in production as there are still some known bugs.

[2021-08-09 10:34] Leooo commented on #173
@manicminer hi, do you know when the v2.0.0 will be available to consume or test please? Thanks

[2021-08-09 12:16] manicminer commented on #173
@Leooo It should be out in the next few days

[2021-08-09 19:23] AmudaPalani opened #511 "datasource azuread_user is missing other_mails in the exported attributes"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritise this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritise the request
* If you are interest

[2021-08-09 21:52] manicminer commented on #511
Hi @AmudaPalani, thanks for reporting this! We have actually added this missing attribute, amongst others, and it is due to released in v2.0 in the next few days.

Accordingly I'm going to close this issue as resolved, but I'll also mark it against the v2.0.0 milestone so you should get a notification when that's released.

[2021-08-09 21:52] #511 closed

[2021-08-10 10:46] Threpio opened #512 "Feature Request: datasource all_users_datasource.go"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritise this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritise the request
* If you are interest

[2021-08-10 11:34] manicminer commented on #512
Hi @Threpio, thanks for requesting this!

Have you considered using the `azuread_groups` data source? It has a `members` attribute, so you could use a high level group containing all the users you wish to manage and discover their object IDs that way?

[2021-08-10 16:55] Threpio commented on #512
@manicminer - I have created a working branch on my fork and confirmed it works for my needs.

Thanks for your speedy comment though. I want to have a catch all as-well and want to move away from a global group in our AAD setup in the future.

I just need to write some tests and I will create the PR.

Am I to create the documentation for this data source aswell? I know some other providers have au

[2021-08-10 22:44] manicminer commented on #323
@BHoggs We've been looking at various aspects of M365 to see how feasible it would be to support. We are planning to expand support but it depends on API availability and suitability for Terraform. I would encourage you to raise specific feature requests (as many as you like) as issues in this repository and each one will be looked at.

[2021-08-11 06:32] Threpio commented on #512
@manicminer - We did consider developing it as an extension as the azuread_users datasource but figured that the majority of the times that we use that datasource we DO NOT want a result that is not queried to be returned. So for us it means that if we mis-configure the datasource then it can look to be correct even when not filtered. (Happy to be overrule in this for the greater project)

 - It c

[2021-08-11 09:51] seboss666 opened #514 "Can't import Service Principal Password"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritise this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritise the request
* If you are interest

[2021-08-11 10:51] manicminer commented on #514
Hi @seboss666, thanks for reporting this documentation bug. You are correct, the docs should reflect that this resource no longer supports importing (along with the `azuread_application_password` resource. Unfortunately this didn't make it into the last release but we have ensured the docs are correct in this regards for v2.0, which is planned for release very soon.

Unfortunately due to a limitat

[2021-08-11 10:51] #514 closed

[2021-08-12 14:51] manicminer commented on #478
Additional fixes to follow

[2021-08-13 07:59] Threpio opened #516 "Feature Request: <show_all_groups = true> groups_datasource.go"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritise this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritise the request
* If you are interest

[2021-08-13 09:24] bkCloudGuy opened #517 "After changing (adding/removing) owners from JSON file and running pipeline. Terraform is not updating AD Group"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritise this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritise the request
* If you are interest

[2021-08-13 12:22] icereed opened #518 "Manage API permission consent via Terraform"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritise this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritise the request
* If you are interest

[2021-08-13 21:20] manicminer commented on #331
I seem to have missed this one - feature is already merged for 2.0 :D

[2021-08-13 21:20] #331 closed

[2021-08-13 21:22] manicminer commented on #478
Draft fixes for the identified issues above are in https://github.com/hashicorp/terraform-provider-azuread/pull/519

Anyone with knowledge of the codebase and/or Go who has experienced any of the above, is welcome to review

[2021-08-16 00:36] manicminer commented on #518
Hi @icereed, thanks for requesting this. I believe there is already an issue tracking this, see https://github.com/hashicorp/terraform-provider-azuread/issues/230. Accordingly I'm going to mark this as a duplicate, and recommend subscribing to that issue for updates - however if I have misunderstood the feature request please let me know and I'll be happy to reopen this. Thanks!

[2021-08-16 00:37] manicminer commented on #518
Duplicate of #230

[2021-08-16 00:37] #518 closed

[2021-08-16 01:47] manicminer commented on #478
@ibacalu, @ju-la-berger, @patrickmarabeas, @huwjeffries - thanks all for reporting these groups bugs and helping to narrow down the root causes. We've worked with the service team to try and get some more insight, and whilst not all of the reported errors are fully accounted for, we have implemented better logic around group ownership and I'm hoping to get your feedback on whether this helps in yo

[2021-08-16 13:25] blaineross commented on #188
Hey there @GenesisCoast , I think this is what I need but whenever I try and run this I get an error saying I need to perform an AZ login. I modified your example to do an az login call beforehand (see below) but now get an error saying there are insufficient privilges to run the command. Could you share the permissions your service principal has that allows this to run? Cheers

[code]

[2021-08-16 23:58] manicminer commented on #517
Hi @bkCloudGuy, thanks for reporting this. I believe we have resolved this bug in the upcoming version 2.0 of the provider.

[2021-08-17 05:29] patrickmarabeas commented on #478
"Swapping" owners now works as expected, i.e. adding and removing a single own at the same time works.

Service principals are still not respected as being a valid single group owner, however. The following is the error when a user and a service principal have both been applied as a group's owners, and then the user is subsequently removed leaving only the service principal.

[code]

I'm not sure

[2021-08-17 10:11] manicminer commented on #478
Thanks for testing! That is super helpful feedback and although you have still encountered some errors, that is actually the expected behavior end-to-end at this point.

Great!

This is unfortunately an API behavior/bug and we have no choice but to document this and live with it.

Actually it's not possible to create a group with no owners. The API always assigns the caller as the owner, effective

[2021-08-19 02:48] patrickmarabeas commented on #478
Ahh, understood. Thanks!

[2021-08-19 23:39] manicminer commented on #507
Hi @Tazminia, thanks for the update. This does appear to be an incompatibility on the part of AKS, since the password value is accepted by the AAD API.

MS Graph is the newer API for Azure AD that we are currently in the process of moving to. In the next version of this provider, we will be switching to the newer API. It's worth noting that the new API generates very similar passwords and it's pos

[2021-08-20 00:18] #517 closed

[2021-08-20 00:32] manicminer commented on #506
Hi @Dan-Bai, thanks for reporting this documentation issue!

I believe this will be resolved in the upcoming 2.0m release of the provider. This discrepancy seems to have stemmed from the API migration from AAD Graph to Microsoft Graph, where the two APIs have different validation. I have tested with the latest build (*caveat noted below) and both properties appear to be actually optional with the

[2021-08-20 00:32] #506 closed

[2021-08-20 13:42] dekimsey opened #522 "azuread_application dynamic optional_claims can cause a panic"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritise this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritise the request
* If you are interest

[2021-08-20 15:23] hingst opened #523 "Changing the `display_name` of an `azuread_group` forces replacement when it should instead update the existing group's name"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritise this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritise the request
* If you are interest

[2021-08-20 18:34] manicminer commented on #523
Hi @hingst, thanks for reporting this. You are correct, the displayName is not immutable with the MS Graph API. However, when supporting both MS Graph and AAD Graph, as is the case with v1.5 through v1.6 of the provider, the schema has to represent the most restrictive scenario - this is a Terraform semantic as the schema cannot be dynamic depending on the upstream API in use.

This is actually fi

[2021-08-20 18:35] #523 closed

[2021-08-20 21:41] manicminer commented on #522
Hi @dekimsey, thanks for reporting this crash scenario!

I've been able to reproduce this using azuread v1.6.0 without the msgraph beta. However, it looks like this does not occur when the msgraph beta is enabled, and similarly does not happen with a v2.0 candidate build.

Given that this only occurs when an empty `optional_claims` block is provided (which unfortunately seems to be the case inside

[2021-08-21 01:27] dekimsey commented on #522
I was also able to produce a work-around with nested dynamic blocks, so it's not a large concern for me now. I look forward to switching to v2.0 :)

[2021-08-21 13:43] #522 closed

[2021-08-23 11:39] alexwilcox9 opened #524 "Intune Configuration - Compliance Policies"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritise this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritise the request
* If you are interest

[2021-08-23 17:57] kaovd commented on #524
I know this is supported API wise but the amount of endpoints in the spec is big effort cost to get done. Would be nice to see full Intune suite get supported though. If you want to help start getting this into Hamilton knock yourself.

https://docs.microsoft.com/en-us/graph/api/resources/intune-device-cfg-conceptual?view=graph-rest-1.0

[2021-08-24 09:18] Threpio commented on #68
I am interested in this feature as-well - Happy to implement the resources and datasources myself if help is needed.

@manicminer - Let me know by ping, this is required by my workplace aswell.

[2021-08-24 14:05] manicminer commented on #524
Thanks for requesting @alexwilcox9 👍

I agree there is a consideration whether certain product lines might warrant a separate provider - though that could get messy where interoperative features blur across product lines. Also it's entirely possible that rebranding may take place and features that were previously split out get combined or moved to a different SKU. Very much pros and cons either wa

[2021-08-25 08:03] deep-cognite opened #526 "When will the new version be released?"
I am waiting to use the `single_page_application` block which was added in this PR https://github.com/hashicorp/terraform-provider-azuread/pull/474 about a month ago. However, I cannot see any releases done with these changes anywhere.

So when will the release come to reflect those changes? :)

[2021-08-25 08:13] kevinharing commented on #188
You could also use:

`az ad app update --id ${azuread_application.appname.id} --set requestedAccessTokenVersion=2`

[2021-08-25 08:38] alexwilcox9 commented on #524
Thanks for getting back to me both, I agree let's put it in this provider for now. I'll start on a few desired resources in hamilton!

Btw I see v2.0.0 is close to dropping, very excited to give that a go. Great work!

[2021-08-25 08:41] alexwilcox9 commented on #526
That PR is under the v2.0.0 milestone which you can see here:
https://github.com/hashicorp/terraform-provider-azuread/milestone/16

As you'll see there it has a due date of 26th August. This is no guarantee though, treat it more like a "no earlier than" date

Hope that helps!

[2021-08-25 08:55] deep-cognite commented on #526
Thank you for the prompt reply, @alexwilcox9! :)

[2021-08-25 08:55] #526 closed

[2021-08-26 08:57] BunkerHarb opened #527 "Wrong Application ID on azuread_application"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritise this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritise the request
* If you are interest

[2021-08-26 10:22] #527 closed, assigned to nobody

[2021-08-27 21:29] jtravell opened #529 "Error: Could not remove initial owner from service principal with object ID"
An error is being thrown when we use the very simple code below gotten mainly from the official terraform/azuread documentation.  We are tagging this as a bug, given that this example is so simple and uses code from official documentation.

**COMMAND THAT TRIGGERS ERROR:**

The following command triggers the error message below it when the following command invokes the terraform at bottom below.

[2021-08-28 15:39] croeck commented on #529
Having the same issue here. Tested with Terraform `v1.0.2` and `v1.0.5` running on either Mac OS X or in an isolated Docker container on a linux host. My logs don't show any other insightful information than what was already shared.  Ping me if I can help to track this down.

[2021-08-28 15:42] manicminer commented on #529
Hi @jtravell

Thanks for reporting this issue. This looks likely to be an eventual consistency issue - in your log the provider has tried 9 times to retrieve the service principal owners after initially creating it, before giving up, i.e. the service principal is created successfully but there is a delay before the API reflects this. I have not been able to reproduce this right now, but I have see

[2021-08-28 15:44] manicminer commented on #529
Note that I have also seen this when a tenant has just had a lot of new objects created - the more objects you create in a short period the longer the delays often seem to get.

For context, the provider is configured to retry up to 9 times by default for a given operation, or until the timeout expires, whichever is sooner.

[2021-08-28 16:17] jtravell commented on #529
@manicminer Retrying the `apply` several times did not resolve the problem. We have continued to retry now for 20 minutes, which should far exceed any reasonable estimate of the possible latency problems that you suspected in your comment above.

Note that the error message states `Error: Could not remove initial owner from service principal with object ID:` .

The error message does not say anyth

[2021-08-28 16:42] manicminer commented on #529
@jtravell That error message wraps more than one operation including a Get operation on the SP owners (which is indicated in the first trace you posted); this is the operation that is failing, almost certainly due to eventual consistency as the trace indicates the SP ID and the owner ID (which is the calling principal) are present in the URL.

[2021-08-28 17:03] manicminer commented on #529
@jtravell If you are seeing the exact same error as in your initial report, one thing you could do to sidestep this part of the Create operation is to specify your calling principal as the owner of the SP you are trying to create, e.g.

[code]

This will cause the provider to _not_ attempt to remove the calling principal after initially creating the SP. It's not a solution, but a potential interim

[2021-08-28 17:06] manicminer commented on #529
@jtravell, @croeck I've pushed a test build to manicminer/terraform-provider-azuread on the TF registry - this has extra configurable control over API retries. It would be really useful if you could spare a few minutes to test and see if you are able to get past this error by dialing up the `retry_limit` (the max allowed value is 100).

e.g.
[code]

Note: this is a test build which you shouldn't u

[2021-08-28 17:32] jtravell commented on #529
@manicminer  , @croeck

The following workaround causes the error to go away:

    data "azuread_client_config" "test" {}

    # Create an application
    resource "azuread_application" "appRegistration" {
      display_name = var.instanceName
      app_role {
        allowed_member_types  = ["User", "Application"]
        description           = "Admins can manage roles and perform all task actio

[2021-08-28 19:14] croeck commented on #529
@manicminer I gave your `manicminer/azuread` release a try and set the retry number to 99. The step was now running for 10 minutes until we hit `context deadline exceeded`.

I tested the creation of the service principal multiple times at different hours of the day, so I would say a "busy API" is rather unlikely.

[2021-08-28 21:15] manicminer commented on #529
Thanks both for your feedback.

With the additional retry time I agree that service delays are unlikely to be a root cause. I wonder if the initial ownership is not being honored and the subsequent assumption by the provider is then invalid. Could either send me a full debug log with all requests? A gist would be great, if you want to keep it private you can find my email address in my got commits

[2021-08-29 16:39] graememeyer commented on #529
I'm getting this issue as well, following the [Azure Active Directory Provider ~docs](https://registry.terraform.io/providers/hashicorp/azuread/latest/docs).

My exact code:

[code]

Terraform version:
[code]

I've e-mailed my trace log to your [at] * [dot] io address - couldn't see a hashicorp address anywhere in your git commits.

[2021-08-29 16:41] graememeyer commented on #529
I did a `terraform destroy` subsequent to the traced events, and it ran successfully, but failed to delete the newly created example user:

![image](https://user-images.githubusercontent.com/3931530/131258272-e624d3d5-1f02-4399-8197-66cd95030e64.png)

[2021-08-29 17:00] graememeyer commented on #529
Sorry one more bit of info. It looks like the userID given in the error is _not_ the one the object is given in azure at the end of the run.

E.g. I get error:

[code]

But when I go to the user properties in Azure to check, I get "object-id-somethingelse"

![image](https://user-images.githubusercontent.com/3931530/131258749-dd5128be-3c94-441e-afc4-6d0e51c47e8f.png)

Both the ID given in the error

[2021-08-29 18:17] dvdvorle commented on #505
I've hit the same issue in the past. And I can confirm using the MS Graph beta seemed to solve it. It also seemed as if this was caused by the simultaneous removal of the `azuread_application_password` and the `azuread_service_principal` resources; Maybe they're both updating the azure_application?

In any case, as a workaround I can offer

[code]

[2021-08-30 09:47] graememeyer commented on #529
Tried a couple more things, and I think I've determined that the ServicePrincipal/Enterprise Application either isn't given an owner, or when the owner is removed, terraform-provider-azuread isn't able to tell. After the remove initial owner operation fails, the Service Principal doesn't have an owner:

[code]

![image](https://user-images.githubusercontent.com/3931530/131319338-c8ee3a18-ca31-4210

[2021-08-30 10:07] graememeyer commented on #529
Tested a few more ways with the AzureAD PowerShell library and the GUI, and it seems that neither Applications/App Registrations, not Enterprise Applications/ServicePrincipals are given an owner by default when you create them. The bug would seem to me to be that when terraform apply creates these resources, there's no need to remove a non-existant owner, unless there should be one created due to

[2021-08-30 11:50] graememeyer commented on #529
Interestingly, I've just tried specifying an owner for the Service Principal, but TF seems to have failed to add it.

[code]

[code]

[code]

The application is given an owner, but the service principal is not:

[code]

[2021-08-30 16:27] ned1313 opened #530 "azuread_client_config data source not returning tenant ID"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritise this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritise the request
* If you are interest

[2021-08-30 23:36] philthynz opened #531 "Cannot destroy Azure AD groups when `prevent_duplicate_names` was specified"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritise this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritise the request
* If you are interest

[2021-08-31 01:00] jtravell commented on #529
@manicminer   The following workaround, which you gave above, is failing when we run the same terraform module a second time from a different `.tfstate` using a different value for the `instanceName` input variable, but using the same azure credentials to run terraform:

    data "azuread_client_config" "test" {}

    resource "azuread_service_principal" "appRegistrationSP" {
      application_id

[2021-08-31 01:13] jtravell commented on #529
@croeck  @graememeyer  Are you willing to please run the same module from a few separate directories using a different value for `instanceName` from each directory from which you call the otherwise same module?

This test would result in a separate `.tfstate` file being created in each calling directory.

And could you please then look in the Azure Portal Web UI to see if the 2nd through Nth insta

[2021-08-31 04:38] enorlando opened #532 "Error: URI has no host when upgrading to v2.0 of azuread provider"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritise this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritise the request
* If you are interest

[2021-08-31 05:01] enorlando opened #533 "Error: Expected URI to have a scheme of: http, https when upgrading to v2.0 of azuread provider"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritise this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritise the request
* If you are interest

[2021-08-31 08:17] graememeyer commented on #529
@jtravell I don't use an instance name in my own code, and I think what you're describing is the same issue I mentioned at the end of [my previous comment](https://github.com/hashicorp/terraform-provider-azuread/issues/529#issuecomment-908276246) - the _first_ time you run `terraform apply`, the service principal is not created. But if you run it again, it is created.

[2021-08-31 09:22] dimbleby opened #534 "panic: interface conversion: interface {} is nil, not map[string]interface {}"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritise this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritise the request
* If you are interest

[2021-08-31 09:55] dimbleby opened #535 "intermittent failure to create service principal"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritise this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritise the request
* If you are interest

[2021-08-31 10:02] manicminer commented on #534
Hi @dimbleby, thanks for reporting this crash! I've opened a PR to mitigate this (and some other cases) with additional nil checking to prevent this.

Given your configuration, we could possibly narrow this down to the exact resource, but the linked mitigation should be enough to fix this and some other similar crash scenarios.

[2021-08-31 10:02] sergiomcalzada opened #537 "Error: azuread_user + random_password"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritise this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritise the request
* If you are interest

[2021-08-31 10:05] manicminer commented on #535
Hi @dimbleby, thanks for reporting.

It's possible this could be a consistency-related error. I believe that particular 403 error may sometimes be returned if the linked application can't be found. I will try to reproduce and work out where this can be mitigated if that's the case.

Can you assign the `Applications.ReadWrite.All` role and see if the error persists?

[2021-08-31 10:06] dimbleby commented on #535
Alas, I don't have the power to do that in my organisation

[2021-08-31 10:11] avinashpancham opened #538 "Terraform destroy on azuread_service_principal returns 403, but is destroyed"
Currently I am using the Terraform's azurerm and azuread provider to create the same resources as `az ad sp create-for-rbac` would do. For this I apply the following code:

[code]

For now I authenticate via a User principal (i.e. az login) to an Azure subscription of which I am the Owner. In AAD I am a regular User (with no additional assigned roles such as Application Administrator or Global Adm

[2021-08-31 10:14] manicminer commented on #530
Hi @ned1313, thanks for reporting this. I've determined the root cause of this bug, which is due to in-process cashing that we recently introduced to speed up Azure CLI authentication but has inadvertently introduced this bug (which also affects the client ID). We should have a fix out soon.

[2021-08-31 11:05] manicminer commented on #531
Hi @philthynz, thanks for reporting this issue. I agree there are some rough edges around the `prevent_duplicate_names` functionality as this is only a best effort to help prevent duplicate group proliferation due to AAD allowing you to reuse group names. However, the error you described should not happen.

I have tried to reproduce this but in my testing I was able to apply/create a group and sub

[2021-08-31 11:38] manicminer commented on #537
Hi @sergiomcalzada, thanks for reporting this. I've identified the source of this bug and will try to issue a fix asap. Thanks!

[2021-08-31 11:52] manicminer commented on #533
Hi @enorlando, thanks for reporting this validation issue. I believe #540 should fix this. As an aside, I believe the URI in your config may need to be in the `public_client` block as opposed to the `web` block ([source](https://docs.microsoft.com/en-us/samples/azure-samples/active-directory-dotnet-native-uwp-wam/active-directory-dotnet-native-uwp-wam/))? Regardless, the validation issue affects b

[2021-08-31 11:59] manicminer commented on #532
Hi @enorlando, thanks for reporting this. Whilst this may have worked in previous version of the provider using the legacy API, unfortunately the newer API does not support redurect URIs without a scheme. The URI `xxx.com/a/xxx.com` in your config will need to be expanded to `https://xxx.com/a/xxx.com` in order for the API to accept it as a valid redirect URI.

[2021-08-31 12:11] manicminer commented on #532
Hi @enorlando, thanks for reporting this. This validation was introduced in version 1.2 of the provider as identifier URIs are supposed to be valid URIs with a limited set of supported schemes:

![Screenshot 2021-08-31 at 13 05 44](https://user-images.githubusercontent.com/251987/131499790-50bb4ff0-0574-49c4-ab8e-ef759cc2045d.png)

Whilst the API does not enforce this, the portal does. In some use

[2021-08-31 12:13] TerryRomeu3SR opened #541 "azuread v2.0 error azuread_application with group_membership_claims"
Terraform (and AzureAD Provider) Version

terraform {
  required_version = "~> 1.0.3"
  required_providers {
    azuread = {
      version = "~> 2"
      source  = "hashicorp/azuread"
    }
    azurerm = {
      version = "~> 2"
      source  = "hashicorp/azurerm"
    }
  }
}
### Affected Resource(s)

azuread_application

### Terraform Configuration Files

resource "azuread_application" "aad_app_w

[2021-08-31 12:59] manicminer commented on #541
Hi @TerryRomeu3SR, thanks for reporting this. In v2.0 the type of the `group_membership_claims` attribute changed and we introduced a state migration to handle this. It's possible this may not have correctly handled the value in your statefile for this attribute.

Trying a simple example, I was not able to reproduce an error. however I suspect your statefile may contain a legacy value or other sim

[2021-08-31 13:06] manicminer commented on #538
May be related to #535

[2021-08-31 13:21] dimbleby commented on #538
I also hit this before reaching #535 - I think that it can be resolved by adding `owners` to the service principal, just as on the application.

I think that the reason that the service principal is destroyed is that, although destroying it as a standalone object failed, it goes when the application goes.

Would be nice if there's anything that can be done to make the terraform behaviour better, b

[2021-08-31 14:29] manicminer commented on #538
This would usually be taken care of by the DAG if you reference the `application_id` in the service principal resource, from the application resource - I'll play around with this and see what can be improved.

[2021-08-31 16:14] manicminer commented on #505
@dvdvorle Thanks for confirming. In that case I'm going to mark this as resolved since the fix should extend to the recently released version 2.0 which uses MS Graph exclusively.

Note that when you observe resources being provisioned/destroyed simultaneously, that's usually the result of Terraform parallelizing non-dependent operations which is normal.

[2021-08-31 16:14] #505 closed

[2021-08-31 16:34] manicminer commented on #529
@jtravell, @croeck, @graememeyer I've published a test build to manicminer/azuread v11.3.0 which fixes the marshaling bug with service principal initial owners. Could you give this a try and let me know if it works for you (with or without setting `owners` in your config)? Thanks!

[2021-08-31 17:37] graememeyer commented on #529
How do you actually load a provider manually for testing? For the life of me I can't get it to work.

I've created a terraform rc file here:

`"C:\Users\username\AppData\Roaming\terraform.rc"`

Which contains:

[code]

And I've updated main.tf to include:

[code]

I've placed the provider at path:

"C:\Users\username\terraform\azure-ad-terraform\.terraform\providers\example.com\examplecorp\azuread

[2021-08-31 17:46] manicminer commented on #529
@graememeyer As it's published to the TF REgistry, there's no need to edit terraformrc and you can just swap out

[code]

with

[code]

in your module config

[2021-08-31 17:58] avinashpancham commented on #538
@dimbleby thanks for your solution, that indeed works! But I agree with @manicminer if the parent resource (in this case `azuread_application.app-registration`) is owned by my object-id then I would expect that you can delete the child resource (`azuread_service_principal.service-principal`) without specifying the owner.

[2021-08-31 18:10] graememeyer commented on #529
Ahhh thankyou! I would never have figured that out on my own 🤦‍♀️

Without specifying an owner, it runs quickly, "succeeds", and does not apply an owner to the objects:

[code]

[code]

[code]

`terraform destroy` also runs quickly, succeeds, and appears to have successfully deleted everything.

I confirm also that when the "owners" lines are un-commented, TF/azuread successfully creates the objec

[2021-08-31 19:48] knutejoh commented on #541
Hi. We are seeing the same issue after upgrading to the 2.0.1 version.
In our state file with schema version 0 for all objects, the azuread_application objects have either "group_membership_claims": "" or "group_membership_claims": "None".

The debug logs doesn't show which application it crashes on, as this is the output at the end:
azurerm_monitor_diagnostic_setting.<snip>_monitor: Refreshing st

[2021-08-31 21:56] philthynz commented on #531
I purged my .terraform folder and re-downloaded the module I created. I can't re-create the error either. So I guess we're all good. Thanks!

[2021-08-31 21:56] #531 closed

[2021-08-31 22:09] enorlando commented on #532
Hi @manicminer, thanks for your reply. The issue is not with changing the Application ID URI but the Identifier (Identity ID) within the Basic SAML configuration:
![image](https://user-images.githubusercontent.com/42361577/131581801-d4bd1191-9122-4498-ada5-121f0e7e3415.png)

It allows you to set unique user-defined URIs (Entity ID/s) to the application within your AAD tenant. This was not an issue

[2021-09-01 01:39] jtravell commented on #529
@manicminer

To reproduce the complete problem, simply do the following:

First, place the same exact code from the OP above into some directory as follows:

    ############################################################################################
    ### Input Variables
    ############################################################################################

    variable "subscript

[2021-09-01 06:33] manicminer commented on #529
@jtravell It sounds like you have a bug in your configuration. I spent the time to reproduce as per your steps (commenting out the outputs and unused input vars in the module block) but as expected, two app registrations were created each with a corresponding linked service principal.

![Screenshot 2021-09-01 at 07 30 14](https://user-images.githubusercontent.com/251987/131623093-f43ed215-de8a-4da

[2021-09-01 08:39] manicminer commented on #532
Thanks @enorlando, I suspected you might be trying to effect the SAML entity ID. Whilst Azure AD does copy these values between the app registration and service principal, they are separately configurable values and so we unfortunately can't support this scenario via the `identifier_uris` property.

We'd like to be able to separately support configuring a service principal for SAML, but unfortunat

[2021-09-01 09:23] r-gunasekaran commented on #533
It doesn't work with Mobile App registrations too, as that uses different URI format for different platform (iOS/Android) as explained in this [microsoft document](https://docs.microsoft.com/en-us/azure/active-directory/develop/scenario-mobile-app-registration#interactive-authentication).

[2021-09-01 10:38] enorlando commented on #532
Thanks @manicminer. When running terraform plan it errors with
[code]
The URI that it complains about is **"xxx.com/a/xxx.com"**.

If I remove this item from the list of URIs in the ` identifier_uris `block,

[code]

it wants to delete it from the list so i assume you can remove this type of validation and allow URIs in the ` identifier_uris ` block without the need to have prefixed http, https et

[2021-09-01 10:47] manicminer commented on #541
@knutejoh Brilliant, thanks for spotting that! You are correct, the migration is mising from data.azuread_application

[2021-09-01 12:00] manicminer commented on #532
As mentioned, the validation was introduced in v1.2 per Azure documentation/guidelines and I don't think we'll be removing it. `xxx.com/a/xxx.com` is not a valid URI per the documentation.

[2021-09-01 12:51] jtravell commented on #529
@manicminer   What version of the azuread provider were you using when trying to recreate the problem?

And what day this week will the changes described in this thread be added into v2.1.0?

The bug is present in the current incarnation of `"hashicorp/azuread" version = "2.1.0"`.  But the bug has been remediated in `"manicminer/azuread" version = "11.3.0"` ,

After the changes in `"manicminer/azu

[2021-09-01 14:49] manicminer commented on #529
Hi @jtravell, I'm sorry if you misunderstood my earlier comments, I was just triaging the original bug report and certainly did not dismiss it.

I used 2.0.1 when following your directions for reproducing your secondary issue. Aside from the marshaling bug which is the cause of that original issue, there are no other changes which could account for missing objects. That said, if you believe your i

[2021-09-01 15:34] #533 closed

[2021-09-01 15:36] #529 closed

[2021-09-01 15:36] #530 closed

[2021-09-01 15:49] #537 closed

[2021-09-01 15:56] manicminer commented on #422
Just noticed this is a duplicate of #50, going to close this in favor of the existing issue

[2021-09-01 15:56] manicminer commented on #422
Duplicate of #50

[2021-09-01 15:56] #422 closed

[2021-09-01 19:03] callppatel opened #544 "403 error while creating azuread_service_principal"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritise this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritise the request
* If you are interest

[2021-09-01 19:14] callppatel commented on #535
I have the same issue and I can confirm Application.ReadWrite.All works, but this is not allowed in my case too.

[2021-09-02 03:01] sezf-opscentral commented on #541
I am seeing similar however I'm not trying to create a resource, I want to access an existing azuread_application via the `data` keyword. This was working in azuread v1.6.0
Terraform Cloud
Azure DevOps CI/CD pipeline (no CLI)
[code]

produces the following log entry:
[code]

How do I carry out this workaround when I only have Terraform Cloud?

[2021-09-02 08:51] #534 closed

[2021-09-02 09:42] #512 closed

[2021-09-02 10:18] #516 closed

[2021-09-02 10:39] manicminer commented on #544
Hi @callppatel, thanks for the bug report. As this seems to be a duplicate of #535, I'm going to close this issue in favor of that one. Thanks!

[2021-09-02 10:39] #544 closed

[2021-09-02 10:39] manicminer commented on #544
Duplicate of #535

[2021-09-02 10:52] manicminer commented on #535
@dimbleby, @callppatel I've done some testing and this appears to be an API bug. The [docs state that Application.ReadWrite.OwnedBy is sufficient](https://docs.microsoft.com/en-us/graph/api/serviceprincipal-post-serviceprincipals?view=graph-rest-beta&tabs=http) for creating service principals, but this doesn't appear to be the case.

Whilst testing, I needed to have Application.ReadWrite.All, and

[2021-09-02 10:55] dimbleby commented on #535
Thanks!  My experience is that creating the service principal _sometimes_ works which maybe hints that there is something more complicated going on, but I will watch with interest.

[2021-09-02 11:09] manicminer commented on #538
@avinashpancham Given the authentication setup you describe, I suspect this is down to API/object permissions. There is a useful Azure docs page describing the [default permissions for users](https://docs.microsoft.com/en-us/azure/active-directory/fundamentals/users-default-permissions) when no additional directory roles are assigned - which states that a regular (non-guest) user can register appl

[2021-09-02 13:40] manicminer commented on #535
Here's a trace of one test attempt: https://gist.github.com/manicminer/9d343cdc8c9cb7765121f74c75acf586

This is the provider making these requests. As you can see the same endpoints are being used (`POST /applications` and `POST /servicePrincipals`).

With these permissions:
![Screenshot 2021-09-02 at 14 38 23](https://user-images.githubusercontent.com/251987/131853816-1d4cbfb9-ac12-4c24-a099-db1

[2021-09-02 14:57] manicminer commented on #541
It appears that Terraform doesn't support State Upgraders for data sources, which unfortunately means we are blocked on resolving this in the provider at this time.

The workaround by @alex-3sr should work (`terraform state rm data.azuread_application.foo`) and I have also found that if you remove (i.e. comment out) the data source in your config, Terraform will seemingly skip parsing the old stat

[2021-09-02 16:10] mcalster commented on #132
Congrats on the major achievement in releasing 2.0 🎉🎉
That paves the road for this feature I assume? Is there a timeline for this feature yet?

[2021-09-02 17:47] #307 closed

[2021-09-02 19:06] dimbleby commented on #535
That's kind of scary - Microsoft's [take](https://docs.microsoft.com/en-us/graph/api/overview?view=graph-rest-1.0#other-api-versions) on this is:

Should I infer that it would be unwise to rely on azuread 2.0 in production, until you can move off the beta API?

[2021-09-02 21:21] manicminer commented on #535
At present the API version that's used applies to a given service package (e.g. users, groups, applications) but we are planning to introduce more fine grained control to enable us to select the minimum version for a given resource or operation.

It's quite common for Azure APIs to remain in preview or beta status for extended periods, and we regularly make use of APIs versioned as such in both th

[2021-09-02 21:30] manicminer commented on #132
This feature is on our roadmap although there are a few large features ahead of it, so we don't have a specific timeframe as yet.

[2021-09-02 21:53] callppatel commented on #535
@manicminer @dimbleby - With my API test, version 1.0 doesn't give any error, while beta API give 403 issue.

[2021-09-02 22:05] jtravell opened #546 "Still Broken: Could not remove initial owner from service principal with object ID:"
The following error is being thrown when we use the azuread provider just now today, despite [a fix reportedly having been merged into the production release several hours ago](https://github.com/hashicorp/terraform-provider-azuread/blob/v2.1.0/CHANGELOG.md).

    Could not remove initial owner from service principal with object ID:

 The full error message is:

    2021-09-02T14:17:52.745-0700 [T

[2021-09-02 23:59] kaovd opened #547 "Feature Tracker - EntitlementManagment - AccessPackages"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritise this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritise the request
* If you are interest

[2021-09-03 00:01] alexwilcox9 commented on #136
@manicminer for this one would you rather have an attribute called `password_policies` which is a string that can be set to `DisableStrongPassword`, `DisablePasswordExpiration` or `DisablePasswordExpiration, DisableStrongPassword`

Or would you prefer to have two Boolean attributes that we then use to construct the above string to send to the API?

https://docs.microsoft.com/en-us/graph/api/resour

[2021-09-03 07:14] neocycf opened #548 "Could not create azuread_group resource with service principal and user set as owners"
Hi,
We're upgrading from v1.5.1 to v2.0.1 and encountered errors when creating new azuread_group resource.
The code below worked in v1.5.1.

[code]

Tried:
1. Remove service principal id from code above, terraform apply. Result: successful.
2. After the apply, use the same code above and apply again. Result: successful. Group has 2 owners.
3. Terraform destroy with same code above. Result: success

[2021-09-03 08:40] manicminer commented on #535
@callppatel I just tried again, making sure to use the 1.0 API but I still get a 403 :/

I also checked to see whether we could move to the 1.0 API for this resource, but we use the field `publishedPermissionScopes` which hasn't yet been added to 1.0

[2021-09-03 08:45] manicminer commented on #546
@jtravell it looks like you haven't upgraded the provider?

![Screenshot 2021-09-03 at 09 45 21](https://user-images.githubusercontent.com/251987/131977519-493ba669-2d82-47c5-8c5c-25d691139dd2.png)

[2021-09-03 08:52] manicminer commented on #136
@alexwilcox9 Given this is an enumeration string with exclusivity rules, it would probably be best implemented as booleans in the provider so we can validate them nicely 👍

[2021-09-03 09:01] manicminer commented on #548
Hi @neocycf, thanks for reporting this error. That's an interesting one, it looks like some implementation detail is being erroneously leaked in the error response.

I've tried with your config but haven't been able to reproduce with 2.0.1 or 2.1.0. Would you be able to provide [an HTTP trace](https://registry.terraform.io/providers/hashicorp/azuread/latest/docs#logging-and-tracing) showing the PO

[2021-09-03 10:48] neocycf commented on #548
Hi @manicminer,
In 1 and 2, ServicePrincipal appeared twice in the request.

1. ServicePrincipal + User

[code]

2. ServicePrincipal  only
[code]

3. User only
[code]

4. User then ServicePrincipal

[code]

[2021-09-03 10:53] Tailzip opened #549 "Feature Request: Group and User App Role Assignment"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritise this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritise the request
* If you are interest

[2021-09-03 10:57] manicminer commented on #548
@neocycf Thanks, is the service principal the same one you are using to authenticate the provider?

[2021-09-03 10:59] manicminer commented on #549
Hi @Tailzip, thanks for requesting this! Is this the same as https://github.com/hashicorp/terraform-provider-azuread/issues/164?

[2021-09-03 12:06] callppatel commented on #535
Could you please share the log for 1.0 API, as pe my test it worked, This was my API call.

[code]

[2021-09-03 12:39] manicminer commented on #535
I just re-tested with version 1.0 and beta and am now getting a 200 response with both 😕

There definitely seem to be some consistency issues here.

[2021-09-03 12:42] neocycf commented on #548
@manicminer Yes.

[2021-09-03 12:43] manicminer commented on #535
@dimbleby Have you set the `owners` for both the application and the service principal in your configuration (to include the calling principal)?

One thing I also noticed is that if you don't set an owner for the application, Terraform will set the initial owner and then remove it, unless you explicitly include the caller in the `owners` property. This could account for the intermittency of the 40

[2021-09-03 12:45] callppatel commented on #535
my test, never worked with beta and always worked with 1.0  :)

[2021-09-03 12:48] manicminer commented on #535
@callppatel Did you set owner(s) on both the app and SP when creating them (to include "yourself")?

[2021-09-03 12:50] manicminer commented on #548
Thanks @neocycf, I think I found a bug that could account for this. Will PR a fix shortly.

[2021-09-03 12:57] dimbleby commented on #535
yes

[2021-09-03 12:58] dimbleby commented on #535
Per my opening report - this has _always_ been intermittent for me...

[2021-09-03 13:57] callppatel commented on #535
No, I didnt set owner. I will check with owner as well.

[2021-09-03 16:04] timja opened #551 "Filter for azuread_groups security_enabled"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritise this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritise the request
* If you are interest

[2021-09-03 17:06] Tailzip commented on #549
Oh yes it is, totally missed it 😅

[2021-09-03 18:37] #549 closed

[2021-09-03 23:31] jtravell commented on #546
@manicminer   Why would you say that?

We very clearly have the following:

    terraform {
      required_providers {
        azuread = {
          source  = "hashicorp/azuread"
          version = "2.0.1"
        }
      }
    }

We are NOT using any `terraform.rc`, so that the provider should be what automatically gets downloaded from the official `hashicorp/azuread` whenever `terraform init` g

[2021-09-04 07:38] manicminer commented on #546
@jtravell The latest version is 2.1.0 not 2.0.1

[2021-09-04 07:39] #546 closed

[2021-09-05 21:02] sezf-opscentral commented on #541
Thank you; commenting out the data source, running a refresh, and reincorporating was successful for me :thumbsup:.

[2021-09-06 10:50] #548 closed

[2021-09-07 14:49] #458 closed

[2021-09-07 17:09] tepley commented on #68
I'm also interested this feature.

[2021-09-07 17:18] manicminer commented on #68
Thanks for the interest, but please stick to +1 on the original message. Help is always very welcome, however this particular feature is nontrivial - for context, there are [3 distinct iterations of this service](https://docs.microsoft.com/en-us/azure/active-directory/privileged-identity-management/pim-apis), incompatible with each other and none of which have yet made it out of beta.

[2021-09-07 18:12] manicminer commented on #173
Assigning this to the Future milestone as there are several pieces to achieving what you can get in the portal. We're shipping features as we're able to, but some of these are going to be blocked upstream until there is API support. We'll try to mention this issue on related PRs.

[2021-09-08 08:12] peeeeecho opened #558 "azuread v2.x auth error"
I want to refer to azuread_user in data source using azuread 2.0 (microsoft graph).
However, as soon as I use azuread2.x, authentication (Azure CLI) doesn't work.
It did not occur before azuread 1.6 (not mictosoft graph).

【Error】
│ Error: building client: unable to parse claims in access token: illegal base64 data at input byte 631
│
│   with provider["registry.terraform.io/hashicorp/azuread"],
│

[2021-09-08 09:13] manicminer commented on #558
Hi @peeeeecho, thanks for reporting this bug. I believe I know where this error stems from, however I'll need some more information in order to try and reproduce this. What is your Azure CLI version? i.e. the output from `az version`

[2021-09-08 09:21] peeeeecho commented on #558
Hi @manicminer

Thank you for your response.
The version is 2.27.0.
#Actually, I use Azure cloud shell.

[code]

[2021-09-08 09:30] peeeeecho commented on #558
I ran the following command before running terraform.
As a result, I was able to confirm that it works well.

#I don't know if there is a causal relationship

[code]

[2021-09-08 09:42] peeeeecho commented on #558
I tried rebooting Cloud Shell and trying again.
Then it failed with the following error...

I am confused...😣
I suspect that the "Cloud Shell" is the cause.

[code]

[2021-09-08 09:53] peeeeecho commented on #558
I tried it on a Local PC (Windows) and it worked fine.

The version of az cli installed on your Local PC.

[code]

[2021-09-08 11:28] manicminer commented on #558
@peeeeecho Thanks, unfortunately we don't have a way to automatically test providers in Cloud Shell, so these compatibility issues come up from time to time as changes are made to Cloud Shell. Please note however, we don't recommend running TF in that environment as it is prone to memory issues - and running out of memory in the middle of an apply is nontrivial to recover from.

That said, I'm not

[2021-09-08 13:30] peeeeecho commented on #558
@manicminer

Thanks,
The AZUREPS_HOST_ENVIRONMENT set in the cloud shell is:
"AZUREPS_HOST_ENVIRONMENT=cloud-shell/1.0"

We also confirmed that the following error pattern is output when executing TF in Cloud shell.
[code]

[2021-09-08 15:18] moriyoshi commented on #558
It suddenly stops working for me too and the problem is very annoying:

The output of `az version` is:
[code]

I don't run terraform on Cloud Shell.

[2021-09-08 15:57] moriyoshi commented on #558
I modified the source code in the following way and parsed the token with PyJWT to successfully get the valid claim.  I suspect this is a bug in github.com/manicminer/hamilton/auth.
[code]

[2021-09-08 16:27] moriyoshi commented on #558
Having identified the error originates in `hamilton/auth/claim.go:35`, I modified it in the similar way to see what was parsed as JSON:

[code]

A few bytes excerpt from offset 502:
[code]

This obviously is a URL-safe base64 encoded string, not a standard base64 encoding.

[2021-09-08 16:32] moriyoshi commented on #558
Whew!  I modified `auth/claims.go` so that the right decoder is applied as follows and it finally worked:

[code]

I'm gonna send a patch to hamilton shortly.

[2021-09-08 16:36] moriyoshi commented on #558
https://github.com/manicminer/hamilton/pull/97

[2021-09-08 16:48] dimbleby commented on #535
I also haven't seen the original error recently, but in testing that today I did hit this.
[code]
@manicminer is this all likely to have the same root cause, or shall I raise a fresh issue?

[2021-09-08 16:52] moriyoshi commented on #558
The reason that the bug hasn't been hit is not obvious... The likely cause is that the original reporter and I are from the same asian country where texts in the language spoken are often encoded as UTF-8 to bytes with their MSBs being set.  This might, with a  higher probability, result in base64 encoded strings containing symbols.  Actually, for my case, the base64 error occurred right before th

[2021-09-08 18:46] manicminer commented on #535
@dimbleby If you could open a new issue that'd be great. Please include logs (via `TF_LOG=DEBUG`). Thanks!

[2021-09-08 19:49] dimbleby opened #559 "Error: Provider produced inconsistent result after apply"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritise this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritise the request
* If you are interest

[2021-09-08 20:18] manicminer commented on #559
@dimbleby Thanks for reporting. In order to dig deeper I will alas need either the complete configuration or a debug log. If you have lots of variable substitution and looping and/or dynamic blocks then I suspect it may be related to that - perhaps on getting some logs if you can reduce it to a basic reproducible config that will definitely help narrow it down.

Something similar has been reported

[2021-09-09 10:09] #471 closed

[2021-09-09 10:10] #317 closed

[2021-09-09 12:55] ilya-git commented on #478
I still get this error in 2.1.0:

`Request_BadRequest: Request contains a property with duplicate values.`

I created a group

resource "azuread_group" "sql_admins" {
  display_name            = "admins-sql-<my-app>"
  security_enabled        = true
  prevent_duplicate_names = true
}

and I get this error still. I tried with owners and depending on owners I get either the same error or some other

[2021-09-09 13:37] manicminer commented on #478
Hi @ilya-git, there's a fix going out later today in v2.2.0 ([changelog](https://github.com/hashicorp/terraform-provider-azuread/blob/main/CHANGELOG.md#220-unreleased)) which should hopefully resolve that error for you.

[2021-09-09 13:46] ilya-git commented on #478
Sounds great, thanks for the update!

[2021-09-09 14:08] #558 closed

[2021-09-09 15:21] waynejnicklin opened #561 "Set owners on azuread_service_principal resources"
In my terraform code, I set four owners, one of which is the user account under which the deployment pipeline is running.
In the "plan" file, for an app with those four owners already set, it always tries to remove the user under which the deployment pipeline is running. The other three are left unaffected.

[code]

I'm using the latest Azure 2.1.0, which according to the release notes, fixed an i

[2021-09-09 15:45] manicminer commented on #561
Hi @waynejnicklin, thanks for reporting. Please can you share a minimal configuration to reproduce the persistent diff you are seeing? I did some testing now but didn't observe this with the following basic configuration (authenticating as a user via Azure CLI auth).

[code]

[2021-09-09 19:59] manicminer commented on #535
After speaking with several parties seemingly affected by this issue, for each case it was resolved by double checking the Terraform configuration in question and ensuring that the `owners` field is specified for both the linked application and the service principal itself. We'll seek to document this to help future practitioners from falling afoul here.

To clarify, owners must be set for both th

[2021-09-09 19:59] #535 closed

[2021-09-09 22:40] #136 closed

[2021-09-10 00:22] #348 closed

[2021-09-10 06:52] waynejnicklin commented on #561
Sure, so I have a locals variable, with a set of owner email addresses:

locals {
    sp_owners = toset([
        "x@x.com",
        "y@y.com",
        "z@z.com",
        var.tech_user_name
        ])
}

The tech_user is the user that is running the deployment.

Then a data source to get the object ids:

data "azuread_user" "sp_owners" {
    for_each = local.sp_owners
        user_principal_name =

[2021-09-10 07:38] iulianmarius commented on #478
i still have the save error with v2.2.0 . this worked with 1.2.2
GroupsClient.BaseClient.Post(): unexpected status 400 with OData error: Request_BadRequest: Request contains a property with duplicate values.

[2021-09-10 10:30] alexwilcox9 opened #563 "Conditional access error refreshing state when resource deleted outside of terraform"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritise this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritise the request
* If you are interest

[2021-09-10 10:45] manicminer commented on #478
H @iulianmarius, thanks for reporting. Please could you post a reproducible config in full, and a [debug log](https://registry.terraform.io/providers/hashicorp/azuread/latest/docs#logging-and-tracing)? In all our test configurations this is no longer occurring, it seems likely that something about your configuration may be triggering this incorrect behavior. Thanks!

[2021-09-10 11:16] manicminer commented on #563
Thanks for reporting @alexwilcox9. This seems to be a bug in the error handling in Hamilton that likely affects multiple resources.

[2021-09-10 12:47] #563 closed

[2021-09-10 14:40] Dragonsong3k opened #565 "Azure VM Creation Option - Is the "Login with Azure AD"
Issues on GitHub are intended to be related to bugs or feature requests with provider codebase,
so we recommend using our other community resources instead of asking here 👍.

---

If you have a support request or question please submit them to one of these resources:

* [Terraform community resources](https://www.terraform.io/docs/extend/community/index.html)
* [HashiCorp support](https://support.

[2021-09-10 14:43] Dragonsong3k opened #566 "Azure VM Creation Option - Is the "Login with Azure AD" option available through Terraform?"
This option is out of preview and available for Windows VMs. I don't see how to set it in azurerm_virtual_machine

![image](https://user-images.githubusercontent.com/18618111/132871773-03886d20-c57c-41dd-b6d4-bc8c0f21bf2c.png)

Thanks!

[2021-09-10 14:52] Dragonsong3k commented on #566
I see the newer azurerm_windows_virtual_machine has more capabilities. It also includes an identity block.

However, I dont think the types refer to the Login with AzureAD options.

[2021-09-10 18:14] mlcooper opened #567 "Error 400 - azuread_group - Request contains a property with duplicate values"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritise this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritise the request
* If you are interest

[2021-09-10 20:20] manicminer commented on #567
Hi @mlcooper, thanks for reporting. Please could you provide a full [debug log](https://registry.terraform.io/providers/hashicorp/azuread/latest/docs#logging-and-tracing) showing the request and response, it will help in diagnosing the cause of the error. Thanks!

[2021-09-11 12:07] alexwilcox9 opened #568 "Conditional Access - Bad Request when only specifying sign in frequency options in session controls block"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritise this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritise the request
* If you are interest

[2021-09-12 00:10] mlcooper commented on #567
@manicminer here is the full request and response I pulled out of the debug log:

[code]

[2021-09-12 11:43] kaovd commented on #566
Hi - This is a different provider that would be responsible for enabling this option, please make an issue here instead https://github.com/hashicorp/terraform-provider-azurerm/issues

[2021-09-13 03:35] andrew-sumner commented on #541
I've got the same problem with "data azuread_application". I can't update the release pipeline to remove and then add back that step, so instead I've be editing the state file and

replaceing: "group_membership_claims": "",
with: "group_membership_claims": [],

[2021-09-13 08:33] manicminer commented on #567
@mlcooper Thanks that's super helpful. As far as I can tell, there's nothing wrong with the request there, so this would appear to be an API bug? I would suggest raising this in a support ticket, and I will also do what I can to let the service team know (though you likely won't get an individual response).

[2021-09-13 11:36] nikolaifa opened #570 "Keepers field should be documented azuread_service_principal_password"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritise this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritise the request
* If you are interest

[2021-09-13 12:24] manicminer commented on #570
Thanks for spotting this omission @nikolaifa! This will be added in the next release.

[2021-09-13 13:59] mlcooper commented on #567
Thank you for taking a look, @manicminer.  I have opened a support ticket with Azure and I will let you know what they find.

[2021-09-13 21:37] manicminer commented on #435
Due to ongoing API issues I'm going to mark this one as blocked for now.

For context, since moving to MS Graph and then again after adding support for unified groups (aka M365/O365 groups) we've had to take great care to conform to new constraints on group ownership whilst maintaining compatibility for Terraform users who may or may not have permissions to read/write all groups in their tenant. A

[2021-09-14 09:24] #354 closed

[2021-09-15 13:20] waynejnicklin commented on #561
Sorry, I think this was my mistake... I will close the issue.

[2021-09-15 13:20] #561 closed

[2021-09-15 14:19] nfeltrin-dkb commented on #478
Hi I'm also getting the "GroupsClient.BaseClient.Post(): unexpected status 400 with OData error:" error. I've managed to isolate some cases where it happens and where it doesn't, hope it's helpful.

Setup:
- group_admin: Groups administrator, User administrator
- app_admin: Application administrator
- user: no assigned role

Errors out:
- tf run as app_admin, no owner set
- tf run as app_admin, ow

[2021-09-15 14:36] manicminer commented on #478
Thanks @nfeltrin-dkb, there are ongoing known service issues with group ownership and I agree what you've documented looks like an API bug.

At this time, we're fairly confident that the provider is doing the right thing with regards to group ownership and the following (misleading) errors, are very likely to be caused by known API bugs:

- `Request contains a property with duplicate values`
- `Th

[2021-09-15 16:09] slyons commented on #538
Just as a heads up this is still an issue in 2.2.1

[2021-09-16 08:53] manicminer commented on #538
Hi @avinashpancham, @dimbleby, @slyons

Thanks for reporting on this issue. I have not observed this error myself however it's likely in my testing I don't have the same configurations of principals and API/directory roles which would cause this to occur.

I would suggest checking that the following conditions are being met by your Azure and Terraform configurations:

- If your authenticated princ

[2021-09-16 08:55] manicminer commented on #478
Thanks again to all who helped debug this issue, your help is greatly appreciated. Since it seems that what remains of this issue is due to an API bug, I've reported this upstream at https://github.com/microsoftgraph/msgraph-metadata/issues/92 and will be closing this issue for now.

[2021-09-16 08:55] #478 closed

[2021-09-16 08:57] manicminer commented on #567
Thanks again for reporting this @mlcooper. For additional context this error has made an appearance in other issues such as https://github.com/hashicorp/terraform-provider-azuread/issues/478. Since it seems that this is due to an API bug, I've reported this upstream at https://github.com/microsoftgraph/msgraph-metadata/issues/92 and will be closing this issue for now.

[2021-09-16 08:57] #567 closed

[2021-09-16 10:33] #50 closed

[2021-09-16 10:41] #418 closed

[2021-09-16 11:22] hbuckle opened #575 "urn redirect uris"
I have an application which uses `urn:ietf:wg:oauth:2.0:oob` as the redirect uri. Using 2.0 I get a validation error:

[code]

Is this format no longer supported in MSGraph?

[2021-09-16 12:05] rafabu opened #576 "azuread_group recreates groups when they are (manually) turned into dynamic groups"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritise this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritise the request
* If you are interest

[2021-09-16 13:53] manicminer commented on #575
Hi @hbuckle, with some quick testing it seems like URNs are supported for web redirect URIs, but not public client or SPA redirect URIs. We can amend the validation in the provider to reflect this.

[2021-09-16 14:52] #568 closed

[2021-09-16 15:09] manicminer commented on #576
Hi @rafabu, thanks for opening this issue. As you have posited, this incompatibility stems from inroduction of support for unified groups (M365 groups) and the way in which the API overloads these two concerns in a single property.

Whilst we could add a workaround to avoid recreating groups with dynamic membership, such a workaround would have to be removed when we soon add proper support for dyn

[2021-09-16 15:11] #565 closed

[2021-09-16 15:12] #566 closed

[2021-09-16 16:29] rafabu commented on #576
Thank you very much @manicminer
Excluding the `types` attribute on the security groups does serve as a perfect workaround for now.

[2021-09-16 23:27] #575 closed

[2021-09-17 07:21] pankajnarang opened #578 "Error: Provider produced inconsistent result after apply"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritise this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritise the request
* If you are interest

[2021-09-17 07:23] pankajnarang commented on #578
<img width="2976" alt="error 01" src="https://user-images.githubusercontent.com/7861905/133741610-ec1c6d20-2384-4a89-8dd7-2155c5f7948f.png">

<img width="2370" alt="error 02" src="https://user-images.githubusercontent.com/7861905/133741658-b3e72cd3-c67a-473b-8e35-e63f560e24ab.png">

<img width="2031" alt="expected result" src="https://user-images.githubusercontent.com/7861905/133741723-e846b302-9d

[2021-09-17 09:24] rafabu opened #579 "azuread_directory_role_member argument documentation is not accurate"
### Terraform Version
[code]

### Additional Context

The documentation on 2.3 resource azuread_directory_role_member should be updated:

- Documentation lists the argument as `directory_role_object_id` but it seems to be just `role_object_id`
- Documentation of `member_object_id` states that this only works for _Users_ and _Service Principals_. However; role assignable groups do also work perfect

[2021-09-17 09:53] manicminer commented on #579
Thanks for reporting these editorial mistakes @rafabu, we'll fix them up with the next release!

[2021-09-17 10:28] jrasanen commented on #175
There are now APIs for creating [AD B2C tenants programmatically](https://docs.microsoft.com/en-us/rest/api/activedirectory/b2c-tenants/create), so is the "upstream" issue tag fixed, or is it still pending the Azure SDK for Go?

[2021-09-17 11:09] manicminer commented on #578
Thanks for reporting this @pankajnarang. I suspect this may be due to eventual consistency issues in Azure AD since creating invitations is slower to reflect new users than just creating a new user directly. Will take a closer look and try to resolve this.

[2021-09-17 11:29] manicminer commented on #175
@jrasanen Thanks for pointing this out! As this is a Resource Manager API, the corresponding resource to create/manage a B2C tenant and it's subscription association will be implemented in the AzureRM provider. The AzureAD provider will implement any resources which can be managed via Microsoft Graph (or potentially any future B2C-specific APIs), to manage the constructs within a B2C tenant.

I ha

[2021-09-17 15:38] rafagsiqueira commented on #559
Creating an azuread_application_certificate also results in the same error.
[code]
Error: Provider produced inconsistent result after apply
When applying changes to module.azure.azuread_application_certificate.tips-api, provider "provider[\"registry.terraform.io/hashicorp/azuread\"]" produced an unexpected new value: Root resource was present, but now absent.

[2021-09-19 19:35] dimbleby opened #581 "intermittent failure to create service principal"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritise this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritise the request
* If you are interest

[2021-09-19 19:42] dimbleby commented on #581
(I've actually run into a different problem before I could reproduce with debug logs...
[code]
This seems surprising, since I am destroying everything that I create.  Not sure whether this is also an azuread bug, or is something funny on Azure where deleted applications aren't "really" deleted for a while...

[2021-09-19 20:40] dimbleby commented on #581
re the above: it turns out that deleted applications aren't permanently deleted but hang around for thirty days.  And I can't find a programmatic way to delete them permanently, one seems to have to do it one by one through the portal.  Which is extremely slow and tedious work.

Which is to say that I may not have a repro that includes the debug logs so soon after all.

[2021-09-20 06:32] jdelforno commented on #395
Looks like this is available in the Graph API but hasn't been implemented yet in the Go SDK
https://docs.microsoft.com/en-us/graph/application-saml-sso-configure-api#step-3-configure-claims-mapping

[2021-09-20 06:37] jdelforno commented on #327
Tag everything! :D

[2021-09-20 06:43] jdelforno commented on #326
v1.0 Graph API Added the ability to manipulate Application Roles; https://docs.microsoft.com/en-us/graph/api/resources/approle?view=graph-rest-1.0

Applies to Update only it seems: https://docs.microsoft.com/en-us/graph/api/application-update?view=graph-rest-1.0&tabs=http

[2021-09-20 06:50] jdelforno commented on #255
I'm not 100% certain but looking at https://docs.microsoft.com/en-us/graph/api/resources/webapplication?view=graph-rest-1.0, this seems to be covered by the Graph API now.

References under Application Update again; https://docs.microsoft.com/en-us/graph/api/application-update?view=graph-rest-1.0&tabs=http

[2021-09-20 07:28] jdelforno opened #582 "Import Existing User, Show > File, Plan fails, Password is required."
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritise this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritise the request
* If you are interest

[2021-09-20 08:39] manicminer commented on #326
Given that appRoles are a property of the app registration rather than the service principal, I'm going to close this issue for now.

App roles can be configured using the [azuread_application](https://registry.terraform.io/providers/hashicorp/azuread/latest/docs/resources/application) resource, and any configured roles will reflect in the attributes of the linked service principal.

[2021-09-20 08:39] #326 closed

[2021-09-20 11:53] manicminer commented on #582
Hi @jdelforno, thanks for raising this issue. This bug has been fixed in newer versions of the provider. Please update your provider to the latest version (v2.3.0 at time of writing) and you should no longer experience this error. Thanks!

[2021-09-20 11:53] #582 closed

[2021-09-20 12:00] manicminer commented on #581
Hi @dimbleby, you are correct that deleted applications (also users and groups) are only soft deleted. This has been the case for a long time but recently API support has been added to purge/restore these deleted object types. We're hoping to add support for this in the provider in the near future.

For the original error, please post a debug log when you next encounter it. The error you pasted oc

[2021-09-20 12:10] dimbleby commented on #581
(I've learned how to delete the soft-deleted applications.  But even though I now have none of those left, I still have no quota!  I suspect that I also have a pile of soft-deleted service prinicipals: but I don't find a way to delete, or even see, those.  So I'm kinda stuck for reproducing this for now).

[2021-09-20 13:57] manicminer commented on #581
If you're keen to keep going, you can always create a new tenant for testing, and delete it once you have exhausted the quota :D

(Portal > Create a Resource > Azure Active Directory)

[2021-09-20 20:20] smark88 opened #583 "Resource: azuread_application group_membership_claims stated as optional in docs not true"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritise this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritise the request
* If you are interest

[2021-09-21 09:15] manicminer commented on #583
Hi @smark88, thanks for raising this issue. I believe the error you are seeing is related to the state upgrade between pre-v2 and v2.x. There is a known issue with the azuread_application data source where, due to internal Terraform limitations, it's not possible to upgrade to v2.x without manual intervention. If you have any azuread_application _data sources_ in your configuration, you will need

[2021-09-21 13:32] smark88 commented on #583
removing the data sources from the state appears to work.

[2021-09-21 14:18] manicminer commented on #583
Thanks for the feedback! We'll add a note to the migration guide about this.

[2021-09-22 03:27] antonbormotov commented on #173
Publishing a comment for those who get following error in AWS Cognito:

`Error in SAML response processing: Invalid user attributes: email: Attribute is required.`

The field "email" is not included in the SAML response, if the Enterprise Application is created via API.
Set email explicitly in section `optional_claims`:

[code]
Terraform import is not catching this, if an application had been prov

[2021-09-22 10:10] nmaarse opened #586 "ERROR: AADSTS50005: User tried to log in to a device from a platform (Unknown)"
Hi,

I tried to move to version 2.3 of the AzureAD provider for terraform. However I cannot get the thing to work as i get the following error:
_Error: building client: unable to obtain access token: running Azure CLI: exit status 1: ERROR: AADSTS50005: User tried to log in to a device from a platform (Unknown) that's currently not supported through Conditional Access policy. Supported device plat

[2021-09-22 11:40] alexwilcox9 opened #587 "Conditional Access - `sign_in_frequency` ignored"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritise this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritise the request
* If you are interest

[2021-09-22 12:08] manicminer commented on #586
Hi @nmaarse, thanks for raising this! The error you're getting would indicate that the API is rejecting the request from this az-cli command which is invoked by the provider (where `00000000-0000-0000-0000-000000000000` is your tenant ID):

[code]

Which should produce a request that looks something like this:

[code]

(note the grant type may be different depending on the auth flow you're using)

[2021-09-22 12:18] manicminer commented on #587
Hi @alexwilcox9, I did some testing and as far as I can tell, the correct request is being sent and even confirmed in the response - whether for POST (i.e. creating the policy) or PATCH (i.e. updating a policy) requests.

This is the same problematic field that I raised upstream in https://github.com/microsoftgraph/msgraph-metadata/issues/93. I'm inclined to believe this an API bug with the handli

[2021-09-22 12:56] nmaarse commented on #586
\AppRegistrations> az account get-access-token --resource-type=ms-graph --tenant <mytenantid>

AADSTS50005: User tried to log in to a device from a platform (Unknown) that's currently not supported through Conditional Access policy. Supported device platforms are: iOS, Android, Mac, and Windows flavors.
Trace ID: 83c4cfac-290c-4c5b-a0cb-3f42bc6a1700
Correlation ID: c5ac02eb-36fb-4423-8990-85e74b47

[2021-09-22 15:41] manicminer commented on #586
Interesting, that's quite strange and I would suggest a bug in Azure CLI and/or Conditional Access.

If you find any workaround such as extra arguments to `az account get-access-token` that works for you, let us know and we'll see what we can do to support that.

[2021-09-22 18:02] bradleyherring opened #588 "Error: ODataId was nil when creating an azuread_group resource"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritise this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritise the request
* If you are interest

[2021-09-22 20:38] manicminer commented on #588
Hi @bher2000, thanks for raising this! Could you post a debug trace that shows the API requests and responses during the failed apply? The access token will be auto redacted but you may wish to redact the tenant ID too. This will really help in diagnosing the source of the error.

For context, when assigning group owners (or owners for other resources), we look up the principal using the directory

[2021-09-22 20:38] #164 closed

[2021-09-22 20:38] #230 closed

[2021-09-22 20:38] #459 closed

[2021-09-22 20:40] #583 closed

[2021-09-22 20:41] #579 closed

[2021-09-22 20:41] #570 closed

[2021-09-22 23:05] enorlando opened #589 "Error: Retrieving Conditional Access Policy with object ID "xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx""
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritise this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritise the request
* If you are interest

[2021-09-23 01:12] manicminer commented on #589
Hi @enorlando, thanks for reporting this! Are you importing an existing policy, or have updated the policy outside of Terraform to enable the above preview feature?

[2021-09-23 01:46] enorlando commented on #589
Hi @manicminer, thanks for the quick response. I imported the existing conditional access policy into terraform when the new resource was available in v2.2.0. Once updating the provider to v2.3.0, it errors out.

[2021-09-23 06:52] nmaarse commented on #586
I did not find a workaround yet. I did post a bug to the azure cli github team [az cli github](https://github.com/Azure/azure-cli/issues/19652)

I'll wait for a reply on that and let you know.

[2021-09-23 08:28] manicminer commented on #589
That makes sense. In v2.2 we were using the beta API for conditional access policies, this was then changed in v2.3.

We're aiming to support the v1.0 API by default for all resources, and use the beta API for additional preview features where necessary, however it looks like this approach won't work for CA policies as the v1.0 API is refusing to serve the policy if preview features are used 🤦

We

[2021-09-23 10:41] manicminer commented on #578
@pankajnarang Please can you provide a [debug trace](https://registry.terraform.io/providers/hashicorp/azuread/latest/docs#logging-and-tracing) that shows the API requests involved when this occurs? This will greatly help to diagnose the source of the error. Thanks!

[2021-09-23 11:52] ilya-git opened #590 "Typo in release description for 2.4"
Release history for 2.4 has a little typo: axuread_app_role_assignment  instead of azuread_app_role_assignment , not so important, but no matches in google if posted directly :)

[2021-09-23 12:23] ilya-git opened #591 "A new resource to assign scopes (delegated oauth permissions) for an application"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritise this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritise the request
* If you are interest

[2021-09-23 12:30] manicminer commented on #590
Thanks @ilya-git, well spotted! 🙌

[2021-09-23 12:30] #590 closed

[2021-09-23 13:28] bher2000 commented on #588
Good morning @manicminer,
Sure the API requests from the TRACE log are below, let me know if you need any more info from the log. Also thanks for the background on what OData ID is, I was having some issues trying to figure out exactly what that value was.

I've tried using a service principal with a client ID and secret (this is what I used for this run to get the TRACE logs) to authenticate and

[2021-09-23 14:18] petr-stupka opened #592 "GroupsClient - invalid query filter clause specified for property 'displayName'"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritise this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritise the request
* If you are interest

[2021-09-23 18:40] kensykora opened #593 "azuread_directory_role provider panics when directory role is misspelled"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritise this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritise the request
* If you are interest

[2021-09-24 08:36] ilya-git opened #595 "azuread_application_pre_authorized cannot be used with msgraph"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritise this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritise the request
* If you are interest

[2021-09-24 08:38] manicminer commented on #593
Hi @kensykora, thanks for reporting this crash! I've opened a PR with mitigation to prevent this which will make it into next week's release.

I agree this would be preferable as a data source. However because directory roles need activating before use, we're unfortunately unable to reliably implement this as a data source.

[2021-09-24 08:41] manicminer commented on #592
Hi @petr-stupka, thanks for reporting this. In v2 we added some more functionality at plan time, and I believe this is due to the display name being sufficiently variable that Terraform doesn't know the value at plan time. We should be able to resolve this, although in such cases the `prevent_duplicate_names` check will only happen at apply time.

[2021-09-24 09:19] #593 closed

[2021-09-24 10:05] manicminer commented on #588
@bher2000 That's great, thanks. That unfortunately confirms that the API is missing the `@odata.id` field from the response. The provider relies on this field to specify owners, for example as in [this docs example](https://docs.microsoft.com/en-us/graph/api/group-post-groups?view=graph-rest-beta&tabs=http#example-2-create-a-security-group-with-an-owner-and-members).

I would recommend raising thi

[2021-09-24 13:39] bher2000 commented on #588
@manicminer,
Thanks for the update and details on this issue! While its unfortunate we cannot use this module for now its honestly not super surprising that Azure Government Cloud is causing the issue :). I will put in a ticket with Azure support on our side about this issue and link this thread.

Thanks again for the quick response!

[2021-09-24 16:55] dvdvorle commented on #591
`pre_authorized` also doesn't work in B2C tenants, so there's another use case.

[2021-09-24 16:58] ilya-git commented on #591
That's actually the case for us! We use B2C, I forgot to mention that as that is probably why it does not work, thanks for noting

[2021-09-24 17:04] ilya-git commented on #595
I am also using Azure ADB2C which can probably affect this.

[2021-09-26 05:02] jlaundry opened #598 "azuread_directory_role causes crash if display_name is incorrect"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritise this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritise the request
* If you are interest

[2021-09-26 13:24] manicminer commented on #598
Hi @jlaundry, thanks for taking the time to report this crash! This was reported earlier in #593 and a fix was merged in #594 which will be included in the next release of the provider.

As this is a duplicate, and a fix is on the way, I'm going to close this for now. Please feel free to open any other issues if you encounter bugs or problems, your contribution is highly appreciated. Thanks!

[2021-09-26 13:24] manicminer commented on #598
Duplicates #593

[2021-09-26 13:25] #598 closed

[2021-09-26 18:59] jlaundry commented on #598
Sorry for the duplicate @manicminer, I must've searched with an Open filter...

Keep up the good work!

[2021-09-27 06:52] whoracle opened #599 "azuread_invitation permission denied w/ service principal and client secret"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritise this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritise the request
* If you are interest

[2021-09-27 06:53] whoracle commented on #599
I'm not sure if this is a bug, a "problem" with the documentation or a problem with my reading of the docs or something else Im doing wrong, but I can't figure this one out.

According to all docs I can find this should work. What am I missing here?

If I just missed some docs, kindly point me to the right direction. Thanks!

[2021-09-27 07:31] dsfrederic opened #600 "azuread_user does not find Guest users by mail_nicknames t"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritise this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritise the request
* If you are interest

[2021-09-27 11:18] manicminer commented on #599
Hi @whoracle, thanks for reporting. We are now trying to document the required permissions by resource based on our testing in Azure Public. It's possible the permissions may be different, alas we don't have access to a tenant/subscription in Azure Germany.

Have you tried with a very broad API permission such as `Directory.ReadWrite.All` (this is somewhat of a superuser permission to my knowledge

[2021-09-27 11:25] manicminer commented on #600
Hi @dsfrederic, thanks for raising this. Guest users don't have a `mailNickname` field so at this time you would have to search by UPN, e.g. `jdoe_guest.com#EXT#@example.net`

This is an API design issue; as there is no `mailNickname` field, there's nothing for the provider to match against. In future we may be able to add the ability to look up using the `mail` field (see feature request #280).

[2021-09-27 11:26] petr-stupka opened #601 "azuread_service_principal - null value for 'tags'"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritise this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritise the request
* If you are interest

[2021-09-27 11:36] manicminer commented on #601
Hi @petr-stupka, thanks for reporting this! This is definitely a bug in the provider - we are not setting the tags correctly when all `features` are disabled. The fix in #602 should resolve this.

[2021-09-28 14:05] ruial opened #604 "User-assigned managed identity stopped working in v2"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritise this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritise the request
* If you are interest

[2021-09-28 14:10] manicminer commented on #604
Hi @ruial, thanks for reporting and for the detailed analysis. We'll look to resolve this!

[2021-09-29 12:13] #532 closed

[2021-09-29 12:47] manicminer commented on #273
After consultation with the service team, we recently changed the `identifier_uris` property from a list to a set. Accordingly, the provider no longer enforces the order of identifier URIs and this bug should now be resolved.

[2021-09-29 12:47] #273 closed

[2021-09-29 13:00] sheeeng opened #605 "What are the least privileges Azure AD built-in roles needed to create azuread_service_principal resource?"
What are the least privileges [Azure AD built-in roles](https://docs.microsoft.com/en-us/azure/active-directory/roles/permissions-reference#application-developer) needed to create [azuread_service_principal](https://registry.terraform.io/providers/hashicorp/azuread/latest/docs/data-sources/service_principal) resource?

For example, [Application Developer](https://docs.microsoft.com/en-us/azure/act

[2021-09-29 13:49] manicminer commented on #605
Hi @sheeeng, the permissions vary depending on what you want users to be able to to do with a service principal. By default, non-guest users can create service principals and modify some properties of SPs that they own. [These official docs](https://docs.microsoft.com/en-us/azure/active-directory/fundamentals/users-default-permissions) are a good resource but you'd have to experiment with Terrafor

[2021-09-29 15:55] OmnipotentOwl opened #606 "myapp://auth B2C Proxy IEF Redirect Uri blocked by validation"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritise this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritise the request
* If you are interest

[2021-09-29 16:04] dimbleby commented on #581
So although I was failing to reproduce this with the small clean configuration above, I started saving off the debug logs from our pipelines - and this morning we have a repro.

Unfortunately the repro happening in our pipeline means that I can't share our full terraform definitions with you, and also that the logs are noisier than they would have been from the minimal repro.  But the application

[2021-09-29 19:12] TomHowarth commented on #68
Please stick me as a Plus 1 on implementing this in Azuread

[2021-09-29 21:32] manicminer commented on #600
As the root cause here is an API issue, and we're already tracking a feature request to look up users by their `mail` field, I'm going to close this for now. If I have misunderstood, please comment again with more details and we'll be happy to reopen and take another look. Thanks!

[2021-09-29 21:32] #600 closed

[2021-09-29 21:48] manicminer commented on #606
Hi @OmnipotentOwl, thanks for raising this! I've opened a PR to correct this validation discrepancy.

[2021-09-29 22:04] manicminer commented on #581
@dimbleby That's great, many thanks for posting the log. I can see from the requests that the application was created in the second preceding the error, and then returned by the API, before the request to create the service principal was sent and rejected. So it looks very much like an eventual consistency issue.

Usually in this scenario we'll see an error response that contains a message like `T

[2021-09-29 23:38] masoud-fereidonian commented on #68
+1

[2021-09-30 06:50] sheeeng commented on #605
Hi Tom, thank you for the clarification. I will close this issue at this moment.

[2021-09-30 06:50] #605 closed

[2021-09-30 09:44] dimbleby commented on #581
Super, thanks!

[2021-09-30 12:39] dsfrederic commented on #600
Thanks for your response!

[2021-09-30 13:38] whoracle commented on #599
Hi @manicminer . From what I can see I've granted `Directory.ReadWrite.All` and have granted Consent. At least from what I can see via azure portal. I'll try to gather a few screenshots tomorrow from both ends if that helps?

[2021-09-30 15:44] manicminer commented on #599
@whoracle Screenshots would be handy, as well as a [log trace](https://registry.terraform.io/providers/hashicorp/azuread/latest/docs#logging-and-tracing) if you can generate one. With that we should be able to confirm whether tne issue lies with the provider or the API. Though I suspect this is likely an API issue since I don't believe the provider is doing anything unexpected.

[2021-09-30 20:00] #592 closed

[2021-09-30 20:05] #551 closed

[2021-09-30 20:08] #581 closed

[2021-09-30 20:12] #601 closed

[2021-09-30 20:20] dimbleby commented on #559
https://gist.github.com/dimbleby/8e8de445756bb08ac46db66718042ac9 is a debug log that ends in this error, this time on an `azuread_application_password`.

Again this comes from a larger pipeline and I fear that I can't share our entire configuration: but the relevant fragment is:
[code]

Hope this helps!

[2021-09-30 20:24] #606 closed

[2021-09-30 20:31] helayoty commented on #588
I'm facing the same issue

I got the following error:
[code]

Here is the provider versions
[code]

[2021-09-30 20:37] manicminer commented on #588
@helayoty Thanks for the report, are you also running in Azure Government? L4?

[2021-09-30 20:40] helayoty commented on #588
No, Azure.

[2021-09-30 20:54] manicminer commented on #559
@dimbleby That was very helpful, thanks for providing the log. At the risk of sounding like a broken record, this very much looks like API inconsistency! We should be able to implement a workaround for this.

[2021-09-30 21:00] manicminer commented on #588
@helayoty Interesting, could you isolate this with a test configuration and post a [debug trace](https://registry.terraform.io/providers/hashicorp/azuread/latest/docs#logging-and-tracing)? It seems the API response is not what we're expecting but it would be good to see what's actually being returned. Thanks!

[2021-10-01 01:00] mlcooper commented on #588
@manicminer I too am facing this same issue; here is my info.  I am using Azure, not Azure Government.

**Error:**
[code]

**Version info:**
[code]
**Debug output:**
[code]

[2021-10-01 03:04] kgangasani opened #609 "Sample on Microsoft Graph API"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritise this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritise the request
* If you are interest

[2021-10-01 09:51] J0F3 opened #610 "Check for duplicate app roles / OAuth2.0 permission scopes still relevant?"
The provider check if  `app_roles` and `oauth2_permission_scope`  of an application have duplicated values or ids. The behavior is also correctly documented in the documentation:

While my first reacation was that this is really meaningful but after using the provider I am actually not sure if this restriction is stillt true and if therefore this check should be made by the provider.

I have just

[2021-10-01 11:48] manicminer commented on #609
Hi @kgangasani, thanks for opening this issue. The AzureAD Terraform Provider no longer uses the [Azure Active Directory Graph API](https://docs.microsoft.com/en-us/azure/active-directory/develop/active-directory-graph-api) and instead uses the [Microsoft Graph API](https://docs.microsoft.com/en-us/graph/overview). If you are new to the provider, I suggest [reading the documentation](https://regis

[2021-10-01 11:48] #609 closed

[2021-10-01 20:15] DmytryEmery commented on #588
As of today, I'm also experiencing a similar error with AzureCloud (not government),

but it's even with `azuread_application` creation.

I suspect this is the same issue, it looks like a response that doesn't contain what `azuread` provider is expecting.

I can create a separate issue, but I suspect this is the same root cause.

Error:
[code]

Providers:
[code]

Debug output:
[code]

[2021-10-01 20:54] parameshjava commented on #327
Is there any SLA for this please?

[2021-10-02 11:20] kaovd commented on #589
@manicminer Slightly confused here - Upstream still clearly states it is using the Beta endpoint?
https://github.com/manicminer/hamilton/blob/main/msgraph/conditionalaccesspolicy.go#L22

Only other work around is developing seperate _preview resources if applicable although seems like a lot of work

[2021-10-02 11:51] Bj3MaS commented on #588
is there a workaround for this? I didn't have this problem yesterday, I only experienced it today

[2021-10-02 13:45] dimbleby opened #611 "intermittent failure to create service principal"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritise this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritise the request
* If you are interest

[2021-10-02 14:26] manicminer commented on #589
@kaovd We override the endpoint here: https://github.com/hashicorp/terraform-provider-azuread/blob/main/internal/services/conditionalaccess/client/client.go

The problem of using a feature toggle is that it can only be implemented using an environment variable and not a configuration property, as the schema has to be declared by the provider before it's able to read the config.

[2021-10-02 14:28] manicminer commented on #588
Unfortunately there is no workaround at present. We are raising this API regression with the relevant service team.

[2021-10-02 16:15] kaovd commented on #589
Ah OK if Theres a local override easy env var implemenation

[2021-10-02 17:23] manicminer commented on #589
If we were to feature toggle this resource, the other problem is that, because of the API incompatibility, it's a one-way switch. So opting into beta resources say provider-wide would preclude users from switching back without manually destroying the breaking resources. It would translate to a poor user experience, and hinging this behavior solely on an environment variable is non-intuitive.

[2021-10-02 18:07] manicminer commented on #611
Hi @dimbleby, thanks for your patience with this issue. I'm sorry the latest release didn't eliminate this problem for you and I'll take a look at your supplied log to try and work out what's happening.

[2021-10-03 09:31] stazz commented on #588
Hey!

Looking at the debug output, I've noticed the following header in Graph API responses:
[code]

I then tried the following curl request, using the URL that is used by the TF provider in my case:
[code]

And I got the response with `@odata.id` attribute!
[code]

Perhaps the Microsoft has recently changed the definition of what is `"minimial"` OData, and this why the ID is no longer returned by

[2021-10-03 14:50] mlcooper commented on #588
I did some research and in the odata standard there are some standard request parameters that can be used, including `odata.metadata=minimal` and `odata.metadata=full`.  So I agree with @stazz, I think that line in the Hamilton library simply always needs to use `odata.metadata=full. You can see the odata standard [here](http://docs.oasis-open.org/odata/odata-json-format/v4.0/errata03/os/odata-jso

[2021-10-04 06:24] whoracle commented on #599
Hi @manicminer - attached is the debug.log of the following call:
`TF_LOG=DEBUG terragrunt apply -auto-approve --target=module.invite_mgerber.azuread_invitation.this > debug.log` - Resource targeting so the log is at least somewhat concise. Running the same without targeting yields the same results.

[debug.log](https://github.com/hashicorp/terraform-provider-azuread/files/7275841/debug.log)

Also

[2021-10-04 10:22] kaovd commented on #589
Well yep completely agree would be on users - as would rather provide the option with proper warning - although would end up requiring a new schema definition for blocks which are in preview, or could handle preview error api responses and explain to users they need to toggle for xyz feature. Considering whether having seperate preview resources would just be easier to do at this rate

[2021-10-04 12:45] J0F3 commented on #610
So while playing around and investigating a bit further I found out that is is possibile to configure a app roles and an scope which you exactly the same value and id. This can be done by updating the manifest of the app registration through the portal. The only restriction is that the descriptions do also match.

This seems to be how the app registration in our tenant was configured which I hade

[2021-10-04 13:31] manicminer commented on #588
@stazz @mlcooper Many thanks for digging into this.

I'm working on an implementation to support OData-related HTTP headers and have pushed a test build to manicminer/terraform-provider-azuread. This is another class of issue that is not affecting any of our testing tenants, so if anyone affected by this issue is able to test and give feedback it would be highly appreciated!

You can give this a s

[2021-10-04 13:39] mlcooper commented on #588
Hi @manicminer thank you for working on this and pushing a build to test. I am ready to test it out, however it does not appear the `12.0.0` has been published on the TF Registry yet. I will keep an eye out for it and test as soon as it's there:

https://registry.terraform.io/providers/manicminer/azuread/latest

[2021-10-04 13:40] manicminer commented on #588
Thanks and sorry I was a bit hasty, forgetting that Registry publishing sometimes takes awhile to fully sync!

[2021-10-04 13:46] mickeder commented on #588
@manicminer I've just tested your solution, and unfortunately it doesn't work.
Earlier I stumbled upon this issue:
[code]
Now there is another problem:
[code]

[2021-10-04 13:48] manicminer commented on #610
Thanks @J0F3, I was planning to have a look at this a bit later but it would be good to get any clarity on the intended behavior here 👍

[2021-10-04 13:52] manicminer commented on #588
Thanks @mickeder, I'll take a look and try to resolve that

[2021-10-04 13:56] manicminer commented on #588
@mickeder Would you be able to post a [debug trace](https://registry.terraform.io/providers/hashicorp/azuread/latest/docs#logging-and-tracing)? It would be great it you could limit it to a small configuration containing only the resource that's failing. If you could try and create a test application so that you don't have to redact the UUIDs that would be even better. Thanks!

[2021-10-04 14:14] mickeder commented on #588
Here's the minimal's test app TF code:
[code]

And here's some debug info:
[code]

[2021-10-04 14:25] mlcooper commented on #588
@manicminer  I got the same type of error as @mickeder; here is my debug with the data immediately prior to the GET request:

[code]

[2021-10-04 14:31] stazz commented on #588
Hey @manicminer ,

I'm using TF AzureAD provider via [Pulumi AzureAD provider](https://www.pulumi.com/docs/intro/cloud-providers/azuread/) (it has some kind of TF bridge), so can't control the version of the underlying provider that easily. I can mash up small TF sample though, once the above errors are fixed. :)

[2021-10-04 14:33] manicminer commented on #588
@stazz If you could repro with a minimal native Terraform config and send a debug trace in the event it does not resolve for you that would be great :)

[2021-10-04 14:36] manicminer commented on #588
@mlcooper Many thanks for the trace. Alas that indicates an API bug - either the ID format is/has changed and the applications API doesn't know about it, or the directoryObjects API is returning nonsense :(

[2021-10-04 14:38] mlcooper commented on #588
I have an active case opened with the Graph API team at Microsoft. If I were to send them this trace I just posted, would they be able to also quickly and clearly see there is a bug with their API?

[2021-10-04 14:41] manicminer commented on #588
@mlcooper I would say so, it's definitely a departure from what I'd expect it to return which would normally look something like:

[code]

If indeed the format has changed, other APIs should accept the value you're getting.

[2021-10-04 14:43] mlcooper commented on #588
Thank you, I will send it to Microsoft ASAP! Also, @manicminer, if you would like to be looped into this case I have with them, I can do that.

[2021-10-04 15:47] stazz commented on #588
@manicminer  I just tried with minimal TF code:
[code]

And got same result as @mlcooper . I could see that the value for `"@odata.id"` property was werid-ish to my eyes already when I posted the initial message to this thread, but I guess it really is unexpected... OTOH, the value like `"directoryObjects('<guid>')"` can at least be easily parsed... :) I do wish tho that this would be properly cla

[2021-10-04 16:48] manicminer commented on #588
Thanks @stazz, appreciate your time helping to debug this.

The OData ID seems fairly predictable despite having various flavors, for example I've seen these:

[code]

In my testing, some of these were accepted by some APIs and others not. I've also only observed Azure Global (public) so cannot know if these formats are ubiquitous across national/government clouds, which is why the code defers to

[2021-10-04 17:10] stazz commented on #588
@manicminer The hacks are the backbone of everything ;) The `12.1.0` version worked! I could create an app now, with owners and also without.

There was just small hiccup: when I change `owners` value:
- If application already has an owner, the owner is not removed
- If application does not have an owner, TF crashes:

[code]

I notice that URL has `beta` prefix - is that on purpose?

[2021-10-04 18:19] stazz commented on #588
Also, just a question, as I am unfamiliar with the code - is it feasible to ditch using opendata/openid? What is gained by using it instead of relying on native IDs? Is there some entity which does not have `"id"` property?

[2021-10-04 18:26] manicminer commented on #588
Thanks @stazz - I didn't touch the update code yet so there's probably a bugbear in there that needs the workaround too.

In terms of IDs versus OData IDs, generally we use the underlying object IDs wherever possible, however when creating an object sometimes the only way to specify relational fields is via OData fields. This is a problem for `owners` in general because, aside from other considera

[2021-10-04 18:30] mlcooper commented on #588
@manicminer I tried `12.1.0` to create an `azuread_group` and while that group was being created I assigned an owner to it (other than myself) and one member, and it worked!

[2021-10-04 18:34] manicminer commented on #599
Hi @whoracle, thanks for providing the screenshots and logs.

I think the problem is likely the type of API permissions that have been assigned. You will need to grant roles (application-level permissions) rather than the scopes (delegated permissions) you have assigned.

[2021-10-04 21:01] drewgonzales360 commented on #588
I also ran into this, but to unblock myself, I just created the resources in the Azure portal UI and `terraform import`'ed the resources so they were in the statefile.

[2021-10-04 22:25] mlcooper commented on #588
@manicminer I just spoke with an Azure Graph API support engineer and learned two things:

1. There was indeed a recent change made to the `@odata.id` field to bring the format of it up to odata v4 specifications, which I would imagine is why this just "broke" the `azuread` Terraform provider

2. Azure stated that Terraform should NOT use the `@odata.id`, `@odata.type` or `@odata.context` fields b

[2021-10-05 06:38] whoracle commented on #599
Hi @manicminer : I'm not sure I'm following you - App Roles are only available in the original tenant of the service principal - all other tenants access the principal via Enterprise Application. However, from both your answer and some information I gathered around the net I think my whole basic setup seems wrong somehow, and it's not the provider that's at fault, neither its documentation.

I'll

[2021-10-05 07:54] jiwanovski87 commented on #588
Hi everybody,

yesterday I was able to create an ```app registration``` with the ```azuread v2.5``` provider during the day.
At the afternoon / night I was not able to create an ```app registration```.

Today I tried ```v2.1``` but this is still not working.
I also tried to create the ```app registration``` manually and importing this into the terraform cloud environment - this is failing too. We

[2021-10-05 08:24] manicminer commented on #588
@jiwanovski87 This is most likely an eventual consistency / API SLA issue, and doesn't appear related to this issue. Please raise this as a new issue if you're continuing to experience this, including a reproducible configuration and a [debug trace](https://registry.terraform.io/providers/hashicorp/azuread/latest/docs#logging-and-tracing), thanks!

[2021-10-05 08:38] manicminer commented on #588
Thanks for the info @mlcooper.

Whilst I can understand that report being sensible and correct for many metadata fields, it unfortunately isn't true for `@odata.id` as it is [required](https://docs.microsoft.com/en-us/graph/api/team-post-members?view=graph-rest-1.0&tabs=http#request) [for](https://docs.microsoft.com/en-us/graph/api/conversationmember-add?view=graph-rest-1.0&tabs=http#request) [man

[2021-10-05 08:48] manicminer commented on #599
@whoracle We don't support multi-tenant applications for authenticating the provider at this time, you will likely need to create an app registration in each tenant being managed.

In order to enable us to focus on provider issues, I'm going to close this one for now. Although closed, the issue will not go anywhere and you'll be able comment further for 30 days. As this develops, if you believe th

[2021-10-05 08:48] #599 closed

[2021-10-05 09:26] Andrei-Predoiu commented on #595
## Input
[code]
## Plan Output
[code]
## Apply output
[code]

[2021-10-05 09:29] Andrei-Predoiu commented on #595
@ilya-git I have the same problem, though I think according to the documentation you should use the ms graph object_id and not application_id.

[2021-10-05 10:33] mickeder commented on #588
@manicminer Thanks to your new version `12.1.0` I was able to deploy `azuread_application`s with owners.

Currently, this could be used as a workaround instead of creating resources manually and then importing them with `terraform`:
1. Change the official `hashicorp/azuread` provider to `manicminer/azuread` version `12.1.0`
2. Deploy problematic resources (in my case `azuread_application`s with ow

[2021-10-05 12:58] mlcooper commented on #588
@manicminer That is interesting - in your examples above, clearly part of the `request` body(ies) container `@odata` fields, which based on what Azure told me yesterday, doesn't make full sense to me. I will ask them about it right now.

However, none of your examples that I can see require `@odata.id` in the request, and all of the responses do contain the `id` field which Azure said to use inste

[2021-10-05 14:25] petr-stupka commented on #588
@manicminer in my case `azuread_application` affected

[code]

Can confirm using `manicminer/azuread` version `12.1.0` fixed the problem

[2021-10-05 14:32] MartinNuuday commented on #588
I have a similar problem as @petr-stupka but only when calling through modules

So:
**** main.tf ***
terraform {
  required_providers {
    azuread = {
      source  = "manicminer/azuread"
      version = "12.1.0"
    }
  }
}

data "azuread_group" "api_owner" {
  display_name = "swiss-owner-UG"
}

resource "azuread_application" "this" {
  display_name     = "swiss-please-deleted-me"
  owners

[2021-10-05 14:38] petr-stupka commented on #588
@MartinNuuday did you also specify provider block in you module? If not then I think it will use the `hashicorp/azuread` by default. It works in module for me.

[code]

[2021-10-05 14:38] manicminer commented on #588
The `fieldName@odata.bind` fields references other objects by their `@odata.id` attribute. Using the schema ID (`id` field value) for this doesn't work and produces errors like:

[2021-10-05 14:43] MartinNuuday commented on #588
Ah yes that was the reason. Works after I specified the provider in the module.
Thx @petr-stupka!

[2021-10-05 14:47] stazz commented on #588
Hmm, good catch. I thought "I wonder if specifying owners via separate REST API call would make it work", and checked the [spec](https://docs.microsoft.com/en-us/graph/api/application-post-owners?view=graph-rest-1.0&tabs=http). However, it looks like even there, the ID is specified with `"@odata.id"`.

@mlcooper  Since you got case going on with MS support, what do they say to that? Seems like the

[2021-10-05 14:54] fgrossin commented on #588
FYI, I had an issue with azuread_application using hashicorp/azuread 2.0.5

Error :
json.Marshal(): json: error calling MarshalJSON for type msgraph.Application:
json: error calling MarshalJSON for type *msgraph.Owners: marshaling Owners:
encountered DirectoryObject with nil ODataId

I tryied using manicminer/azuread 12.1.0 and this had fix the issue.

[2021-10-05 14:54] dorianm commented on #588
Same problem here in a `azuread_application` resource. I try with the @manicminer provider (thank you for your work !) but it doesn't work in my case. I don't know why. Please find some informations below, I hope it can help you 😊

This is the *required_providers* block

[code]

My `azuread_application` resource :

[code]

I get the following error :

[code]

And this is the debug information abou

[2021-10-05 14:56] petr-stupka commented on #588
@dorianm see https://github.com/hashicorp/terraform-provider-azuread/issues/588#issuecomment-934476683

[2021-10-05 15:06] mlcooper commented on #588
I agree - I am reaching out to MS about this now.

[2021-10-05 15:22] mlcooper commented on #588
MS has responded with this concerning comment above:

[2021-10-05 15:35] dorianm commented on #588
Oh my bad. I think it's was enough to add it in root module. It works now, thank you very much !

[2021-10-05 15:37] stazz commented on #588
Thank you @mlcooper for asking! That is a bit worrying answer, but let's hope they manage to sort it out. I hope that whatever their final result is, they would make it uniform across whole API.

[2021-10-05 15:43] Costo commented on #588
Hi, I have this issue as well. Changing the provider to `"manicminer/azuread"` (`"12.1.0"`) fixed the error when creating `azuread_application`.

However, now I'm unable to add the service principal to a group. It seems related to the OData Id too.

[code]

I get the following error :

[code]

Here's the debug information:

[code]

[2021-10-05 16:16] J0F3 commented on #588
🤔
At least the request goes now to the (only) people who can give a clear answer on that. 😉

I do not really know much about OData but I looks like using `"@odata.id"` in a request body (as it is in the examples) has a special meaning in term that it tells the API to do an other request to lookup the actual object . It has probably also something to do with the `$ref` in the URL. But the value spe

[2021-10-05 16:24] kensykora commented on #588
We're seeing this issue too -- Not on Gov Cloud, standard Azure Environment. Occurs when trying to create an `azuread_group` and also an `azuread_service_principal`. Ignoring the `owner` property had no impact (which is expected as noted above, the field being required and defaulting to the logged in user)

If it helps, here is the debug log when performing the operation:

[code]

terraform output

[2021-10-05 17:24] haflidif commented on #588
We are having exactly the same problem as well.

[code]

[2021-10-05 17:28] RishiR2 commented on #588
I am also facing the same issue from today, please help to fix this ASAP.

[2021-10-05 17:44] callppatel commented on #588
Can someone please confirm, if this fix is working?

[2021-10-05 17:49] fgrossin commented on #588
This is my current provider and it works
[code]

[2021-10-05 18:23] RishiR2 commented on #588
I have tried as suggested but still getting the same error.

updated the code :
terraform {
  backend "azurerm" {}
  required_providers {
    azuredevops = {
      source  = "microsoft/azuredevops"
      version = "= 0.1.1"
    }
    azuread = {
      source  = "manicminer/azuread"
      version = "12.1.0"
    }
  }
}

and the error is "
Error: Could not create application

  with module.azure_pro

[2021-10-05 18:44] digigek commented on #588
I also tried the different provider and it doesn't work for me either

[code]

Getting the error

[2021-10-05 18:47] callppatel commented on #588
This is showstopper for us. Can we get solution around this.

[2021-10-05 18:49] haflidif commented on #588
@manicminer When using

[code]

for azuread_group_member we are getting the following error:

[code]

[2021-10-05 18:55] petr-stupka commented on #588
For those who have affected resources in modules (i can see all of you) see https://github.com/hashicorp/terraform-provider-azuread/issues/588#issuecomment-934472731

[2021-10-05 18:58] haflidif commented on #588
To provide update, this error has nothing to do with not requesting provider within the module, the configuration works on all other resources except azuread_group_member

we have added required provider within the module as well as within the main template.

[2021-10-05 19:16] manicminer commented on #588
Thanks to everyone who has posted debug logs. At this time we're fairly confident of the causes of this issue and the workaround will be included in this week's release. I have removed the test builds as mentioned. We no longer need further log output to diagnose this issue, thanks!

If you have used a test build and have still seen errors like `ODataId was nil` or `DirectoryObject encountered wit

[2021-10-05 19:22] fgrossin commented on #588
@manicminer  I have now removed the test builds as mentioned.
Does it means your
[code]
is not available anymore ?

[2021-10-05 19:36] callppatel commented on #588
@manicminer - Do we have any workaround for this? We have huge impact due to this.

[2021-10-05 23:00] mlcooper commented on #588
@manicminer here is the latest update from an Azure support engineer who has been in contact with the Graph API product group:

I am also working to get the Product Group to post directly to this issue

[2021-10-05 23:39] nelg commented on #588
Impacted by this when creating a resource "azuread_application".

[2021-10-06 02:07] oWretch opened #614 "Failure to retrieve calling principal object when creating Azure AD Groups"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritise this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritise the request
* If you are interest

[2021-10-06 02:09] oWretch commented on #614
Duplicate of #588

[2021-10-06 02:09] #614 closed

[2021-10-06 03:30] siim-m commented on #588
Also impacted by this in regular non-government Azure. Cannot create `azuread_application` resources.

│
│   with module.example_service_principal_2.azuread_application.this,
│   on ../../main.tf line 3, in resource "azuread_application" "this":
│    3: resource "azuread_application" "this" {
│
│ json.Marshal(): json: error calling MarshalJSON for type msgraph.Application: json: error calling Mars

[2021-10-06 07:52] Threpio opened #615 "Feature: Auto-Generate New User Passwords - azuread_user"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritise this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritise the request
* If you are interest

[2021-10-06 08:27] anarsen commented on #588
@benjbellMS https://github.com/hashicorp/terraform-provider-azuread/issues/588#issuecomment-934699783

[2021-10-06 09:57] andrewCluey commented on #588
Not for me. Provider doesn't seem to exist when i run init. 404 Not ~Found on output and when I try to view the github repository in a browser I also get 404 Not Found.

Completely stuck now, official provider not working and neither is the proposed workaround.

[2021-10-06 10:19] kh-sonrai opened #617 "Creation of azuread_application fails: error calling MarshalJSON for type *msgraph.Owners"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2021-10-06 11:19] fgrossin commented on #588
@andrewCluey This is odd. Here's what I do right now :
[code]
And here's the result of : `terraform init -upgrade`
[code]
Hopefully, pull request #616 will be merged asap and you'll have a resolution.
Apparently, it will be included in tomorrow's release according to this comment :
https://github.com/hashicorp/terraform-provider-azuread/issues/617#issuecomment-935921356

[2021-10-06 12:16] khanali21 commented on #588
When it is available tomorrow, will it be accessible with version 2.5.1?
[code]

[2021-10-06 16:15] nerddtvg opened #619 "Path in Makefile Needs Quotes"
If the folder path of `GOPATH` has a space in it, this command fails (seen on Windows):

https://github.com/hashicorp/terraform-provider-azuread/blob/2fca067da68dc73c9edba822cefd227308bcdca5/GNUmakefile#L20

[code]

A change to include quotes works:

[code]

Log:
[code]

[2021-10-06 16:52] nerddtvg commented on #619
@manicminer,

Yes, I can confirm it works in that arrangement:

[code]

[2021-10-06 17:30] anarsen commented on #588
@everyone _screaming_ for a timeframe: Do you require the features in >= 2.0.0 of the provider? If not, just reference 1.6.0 and be happy until the fix is out.

[2021-10-06 17:34] stazz commented on #588
@callppatel @anarsen Good points both of you. I do think, tho, that demanding timeframes for fixes in OSS software that people are using without paying anything at all, is a bit over-the-top.

[2021-10-07 14:11] binte commented on #588
I am still having the exact same issue I was having yesterday, and I am using the latest version. If I start using v.2.6.0, some things break...

Should I assume I need to deal with the issues I am now having for downgrading the provider version, or should I wait for the fix to be released in other versions?

[2021-10-07 14:57] valerio-battelle opened #622 "azuread_group returning 401"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritise this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritise the request
* If you are interest

[2021-10-07 19:35] Maximo1990 commented on #588
@brnwn4 thanks for your help, let me try whit this roles.

[2021-10-07 19:43] brnwn4 commented on #588
@Maximo1990 - No problem. Should work out, i initially hit the same error on my initial deploy with a SP.

[2021-10-07 22:39] Maximo1990 commented on #588
@brnwn4 the issue still continue.

[2021-10-07 23:30] manicminer commented on #588
@Maximo1990 Thanks for reaching out. As this is our issue tracker, used mainly for bug reports and feature requests, I would suggest following our [Authentication Guide](https://registry.terraform.io/providers/hashicorp/azuread/latest/docs/guides/service_principal_configuration) to get set up to use the provider. After this, if you are still experiencing problems I recommend our [Discuss forum](ht

[2021-10-08 19:03] valerio-battelle commented on #622
Hey @manicminer, that for replying so quickly.  Good catch on the graph.microsoft.com being called.  That is indeed the wrong endpoint but I'm not entirely sure how I control that and thus can't verify if my environment is configure incorrectly.

I assume when you do a tf apply on the above HCL it works for you in Azure gov cloud?

The output of `az cloud show` displays the correct endpoint url fo

[2021-10-08 21:02] irons commented on #428
Immutability concerns don't appear to conflict with the suggestion of incorporating the Application ID as a default, as the portal does when exposing an API by hand. If someone has a reason to define a distinct `identifier_uris` array, they can continue to do so at resource creation time.

[2021-10-11 07:02] kyrios opened #624 "azuread: GroupsClient.BaseClient.Post(): unexpected status 400 with OData error: Request_BadRequest: Request contains a property with duplicate values."
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritise this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritise the request
* If you are interest

[2021-10-11 11:25] manicminer commented on #428
Whilst we try to provide equivalent functionality to the Portal, the two workflows (interactive and stateful infrastructure-as-config) don't always match up.

Providing this as a default would allow us to embed the app ID in the URI, but it wouldn't allow users to customise this, to add additional URIs, or to return to that value after changing it to something else. The portal achieves this by pat

[2021-10-11 11:58] kyrios commented on #624
Maybe as some additional information: It worked a week ago with version 2.4.0

[2021-10-11 13:22] #622 closed

[2021-10-11 14:47] manicminer opened #626 "Strategy for 1.0 and beta API features"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritise this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritise the request
* If you are interest

[2021-10-12 05:29] zoonoo opened #627 "provider crash when managing a service principal resource"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritise this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritise the request
* If you are interest

[2021-10-12 12:53] mlcooper commented on #624
I hit this with #567.  My workaround is to assign someone **other than myself** as an `owner` of the Azure AD group. Terraform then successfully creates the AAD group and automatically makes my ID an owner as well as the other individual I specified. It got me past this "duplicate values" error.

[2021-10-12 21:27] manicminer commented on #615
Hi @Threpio, thanks for requesting this. If we were to auto generate passwords for new users, there would be no way to retrieve or expose this in Terraform, as the password is never returned back by the API. Obviously we would know the value that was generated, but for this reason we could not reliably set an attribute, which means any user accounts you created with such an option would be unusabl

[2021-10-13 08:57] dvdvorle commented on #591
Hi @manicminer, I'm pretty sure there already is programmatic access to this feature. Please take a look at the [oAuth2PermissionGrant resource type](https://docs.microsoft.com/en-us/graph/api/resources/oauth2permissiongrant?view=graph-rest-1.0).

I currently use this module as a workaround, as if it's said resource in the title of this issue:
[code]

p.s. coming from the OIDC spec, I very much di

[2021-10-13 09:12] dvdvorle commented on #591
Thanks @ilya-git, that's what I was using before! But that command still uses the old aad graph api under the hood. The resource I linked to is part of the newer ms graph api, so I think that's what @manicminer was looking for.

[2021-10-13 09:18] manicminer commented on #591
@dvdvorle Thanks! I stand corrected 🙇

In that case, marking this is a feature request and we'll be happy to implement this :)

[2021-10-13 09:22] #595 closed

[2021-10-13 11:16] manicminer commented on #611
One thing I've noticed is that replication delays can seemingly be isolated to a particular tenant - perhaps due to some underlying rate limiting. If I generate lots of activity in a single tenant, I've observed increasing delays that do not occur with a neigboring same-region tenant.

[2021-10-13 12:55] fmayerhof opened #631 "Add additional app_role & app_role_assignment to existing application"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritise this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritise the request
* If you are interest

[2021-10-13 13:00] kyrios commented on #624
That workaround seems to be working. Thanks a lot for sharing it @mlcooper!

Here is the code we are using:

[code]

[2021-10-14 05:50] fmayerhof commented on #631
Hi @manicminer, when i use the app_role_ids from the application the role assignment works as expected. I can add additional roles & assignments at the same time. Thanks for sharing.

[2021-10-14 09:20] manicminer commented on #626
@mariussm Thanks for weighing in! That's pretty much my thinking that 1.0 features should use the 1.0 endpoint regardless of whether beta features are enabled, but beta features should only work when a user specifically opts in. I think this would satisfy a broad range of requirements and give confidence to users who must use 1.0 exclusively for internal compliance.

For stability reasons, it's un

[2021-10-14 09:26] manicminer commented on #631
@fmayerhof Thanks for confirming! I'll look into this a little deeper and see if we can improve how the computed `app_role_ids` attributes are managed here.

[2021-10-14 09:38] #619 closed

[2021-10-14 21:24] marcosgm opened #633 "Cloud Shell doesn't allow running the TF Azure AD 2.x code due to MSI error"
see https://github.com/Azure/CloudShell/issues/112

[code]

[2021-10-14 23:47] abergie commented on #428
After upgrading to version 2 of the provider our application `identifier_uris` were removed and now see no way to revert them back to the previous values (which default to `https://<AAD Primary Domain>/<Application ID>` in version 1) except to update via portal (in App registrations) and add a `lifecycle { ignore_changes = [identifier_uris] }` block to prevent them from being removed on next apply

[2021-10-15 03:06] jeff-knurek opened #634 "importing azuread_group requires the AzureCli to be installed locally"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritise this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritise the request
* If you are interest

[2021-10-15 08:21] manicminer commented on #634
@jeff-knurek The provider attempts authentication by trying each configured auth method in turn until one succeeds. Azure CLI authentication is always performed at the final attempted method so if all other auth methods fail, you'll see an error like the one you have pasted. I don't believe this is specific to importing resources but simply when running the provider in general.

You can disable Az

[2021-10-15 10:21] jeff-knurek commented on #634
hmm, ok. so it seems that the underlying problem is the difference in the way `terraform plan/apply` works on remote execution, and that `terraform import` doesn't support remote: https://www.terraform.io/docs/cloud/run/index.html#import and therefor the authentication happens locally as well.
sorry, this indeed is not a bug with azuread provider.

[2021-10-15 15:11] #604 closed, assigned to nobody

[2021-10-16 15:48] Divya1388 opened #635 "terraform azuread_application error with identifier urls"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritise this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritise the request
* If you are interest

[2021-10-16 18:10] Divya1388 commented on #635
Looks like this is the issue:
https://thewindowsupdate.com/2021/10/14/azure-active-directory-breaking-change-impacting-azure-cli-and-azure-powershell/
https://github.com/Azure/azure-powershell/issues/16097

[2021-10-18 00:09] edyoung commented on #633
@manicminer let us know if you think this is due to an error in Cloud Shell. I can reproduce the issue but I'm not clear what the problem is.

[2021-10-18 18:49] marcosgm commented on #633
I went ahead and tested the Go library (Hamilton) and filed a bug as they don't support the MSI endpoints inside cloudshell https://github.com/manicminer/hamilton/issues/116

[2021-10-18 20:20] nerddtvg commented on #635
We just got hit with this today. Per the [documentation](https://docs.microsoft.com/en-us/azure/active-directory/develop/reference-breaking-changes#appid-uri-in-single-tenant-applications-will-require-use-of-default-scheme-or-verified-domains), there is no workaround other than to remove the URI (if possible) or use a valid URI. Not sure there is anything to fix inside the provider.

[2021-10-19 07:40] mariussm opened #637 "Unable to write mail_nickname to security groups"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritise this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritise the request
* If you are interest

[2021-10-20 09:36] Ledermayer opened #638 "Reintroducing azuread_service_principal_password value argument in 2.x.x"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritise this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritise the request
* If you are interest

[2021-10-21 07:39] adamrushuk commented on #635
Thanks for the link to the breaking changes doc @nerddtvg, I just had to change to a supported format and all is working again 👍🏼

[2021-10-21 08:01] daramir opened #639 "UPN needs single-quote escaping"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritise this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritise the request
* If you are interest

[2021-10-21 09:58] chris-pateman opened #640 "azuread_application_password Too Many Passwords"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritise this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritise the request
* If you are interest

[2021-10-21 14:18] chris-pateman opened #641 "azuread_application_password secret management"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritise this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritise the request
* If you are interest

[2021-10-21 17:41] sgettys commented on #635
@adamrushuk did you change to using a verified domain or were you able to get the ".azurewebsites.net" working?

[2021-10-21 20:46] pjfebbraro opened #642 "Mobile App URIs with Custom Schemes in public_client.redirect_uris Incorrectly Fail Provider Validation"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritise this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritise the request
* If you are interest

[2021-10-25 08:38] tiwood opened #644 "Support for managing claims mapping policies (`azuread_claims_mapping_policy`, `azuread_claims_mapping_policy_assignment`)"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritise this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritise the request
* If you are interest

[2021-10-25 12:10] #638 closed, assigned to nobody

[2021-10-25 12:22] #641 closed, assigned to nobody

[2021-10-26 15:14] #637 closed, assigned to nobody

[2021-10-28 18:40] ppanyukov opened #650 "azuread_invitation: support same properties as in azuread_user"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritise this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritise the request
* If you are interest

[2021-10-28 21:22] #642 closed, assigned to nobody

[2021-10-30 17:48] vp777 opened #652 "azuread_service_principal not properly provisioned before running its dependencies"
I am trying to create an application with a service principal using the following config:

[code]

But while trying to provision this configuration i get the error:
[code]

But if i add a delay, e.g. sleep 60 before trying to grant a permission then it executes correctly.
It looks like the azuread_service_principal returns prematurely. I have also tried using a null_resource with dependency on the

[2021-10-31 09:35] Ali-Razmjoo commented on #218
It is very much needed. Please consider making it a priority in the backlog.

[2021-10-31 14:01] noampc opened #651 "Nesting is currently not supported for groups that can be assigned to a role"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritise this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritise the request
* If you are interest

[2021-11-01 04:53] katbyte commented on #652
Hey @vp777 - Sorry your having this issue but i believe it is a problem with the AAD provider not azurerm so as such i am going to transfer it

[2021-11-01 16:35] Bhodges94 opened #653 "Azure AD Guest Users"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritise this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritise the request
* If you are interest

[2021-11-01 17:36] #653 closed

[2021-11-02 00:48] manicminer commented on #633
@edyoung Thanks for reaching out - this isn't strictly due to an error in Cloud Shell, rather it's arisen from an assumptoin that MSI endpoints respond similar in various environments. There is a sanity check at configuration time that tries to get a 200 response from the metadata service, but either there isn't such a service in Cloud Shell or the URL is different. It's not a huge problem, the sa

[2021-11-02 11:14] aktifit commented on #578
We are having the same issue with azure_ad_group resources, it appears intermittently. I'm assuming it is the same issue, but it's difficult to replicate as it doesn't happen regularly. We are deploying and destroying our infrastructure on schedule every two hours, that's how we noticed in the first place, as it would fail once we receive this error on terraform apply. We will enable debug and rep

[2021-11-02 14:27] harshpatel-acerta opened #654 "Managing Aliases from terraform using azure ad."
Hey All,

Is there a way at the moment in azuread module that we can manager Aliases for users ?

At the moment proxy_addresses are only read only settings in azuread_user resource, It will be good if we can manage aliases using terraform.

Please vote if you looking for similar feature.
Thanks

[2021-11-02 15:58] aktifit commented on #578
I managed to reproduce the error, I attached the logs created with TF_LOG=debug, TF version 1.0.9 and azuread provider version 2.8.0
[tf.log](https://github.com/hashicorp/terraform-provider-azuread/files/7462166/tf.log)

[2021-11-03 04:28] hayorov opened #655 "azuread_application.identifier_uris validation disallow schemaless value that supported by Azure Portal"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritise this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritise the request
* If you are interest

[2021-11-03 09:56] manicminer commented on #655
Hi @hayorov, thanks for raising this! App manifest validation is a complex topic and we'd like to get this right! We do however have to cater for all scenarios and also take into account potential incompatibilities. I was trying to reproduce your particular setup but as I have encountered previously, the portal does not allow identifier URIs without a valid scheme:

![Screenshot 2021-11-03 at 09 4

[2021-11-03 10:02] manicminer commented on #654
Hi @harshpatel-acerta, thanks for requesting this! Unfortunately at the moment, the `proxyAddresses` property is read-only and we are unable to set it. We do support changing the `mail` property in case this helps.

[2021-11-03 10:12] manicminer commented on #635
Whilst this breaking change is unfortunate, it looks like there's nothing for us to do here. Accordingly I'm going to close this issue for now. Thanks again for reporting!

[2021-11-03 10:12] #635 closed

[2021-11-03 10:15] hayorov commented on #655
@manicminer many thanks for this quick response. Unfortunately, I'm a bit far from Azure AD things, and I have my personal strong opinion about this product.

Meanwhile,

Manual onboarding of this app was done using the “Enterprise Application” blade in azure that usually accepts the Entity ID without https://.

Screenshots (azure portal);

[2021-11-03 10:35] manicminer commented on #655
@hayorov Thanks for the reply and clarification. Unfortunately in this instance these fields are not quite the same thing. Whilst it's true that if you update the SAML entity ID in the Enterprise Apps blade, it does also update the App ID URI for the linked app registration when in the same tenant, the reverse is not true. Ultimately it looks like this is a convenience/hack on the part of the Ente

[2021-11-03 10:40] hayorov commented on #655
@manicminer should I address it MS?

TLDR: use of `https://` fails with unverified domain 401(0) error based on weird non-backward-compatible changes from MS, ref https://docs.microsoft.com/en-us/azure/active-directory/develop/reference-breaking-changes#appid-uri-in-single-tenant-applications-will-require-use-of-default-scheme-or-verified-domains

am I right that each domain (aka custom must be ad

[2021-11-03 11:11] manicminer commented on #655
@hayorov It is possible that the recent "verified domain in app ID URI" breaking change may have incompatibilities with SAML configurations. Unfortunately testing on all counts here is difficult for us due to the lack of API support both for SAML configurations and for verifying domains.

[2021-11-03 13:44] manicminer commented on #652
Hi @vp777, thanks for reporting this. Handling replication delays like these is challenging because the API caches new objects, making it impossible for us to tell for sure whether an object has finished creating. There is a trick we can do to detect early replication delay, and whilst it does not always work, whilst testing using your example config I was able to go from around 80% failure of the

[2021-11-03 14:37] #652 closed

[2021-11-03 14:38] harshpatel-acerta commented on #654
Hey @manicminer, thanks for accepting it as a feature request. Using `mail` property is not neat as it messes up primary domain setting for user account. Thanks

[2021-11-03 14:40] manicminer commented on #654
I'm happy to leave this issue open to track this, although we are blocked until functionality is found or made available :)

[2021-11-03 14:52] manicminer commented on #650
Hi @ppanyukov, thanks for requesting this. Whilst the Invitation object contains a User container, this is read-only and only the user's ID is returned by the API.

We could potentially implement this by updating the guest user separately after the invitation is created, but I'd first like to experiment and see if this can be done with the existing user resource, and also investigate to see which

[2021-11-03 22:56] TheBlackMini opened #657 "azuread_group API permission issue in documentation"
After updating to provider 2.x and trying to create a group and getting the below error constantly.

[code]

I ended up stumbling across this forum entry.

https://discuss.hashicorp.com/t/insufficient-privileges-when-trying-to-create-azuread-group-azuread-2-0-1/28866

Which pointed me to the below tables being out of date for the provider. I'm not sure if this is the only permission missing though

[2021-11-05 06:20] hayorov commented on #655
@manicminer Ic, i plan to talk with our MS guys about this problem earlier next week and will update this iisue.

[2021-11-05 07:14] gscher commented on #624
Is there any update on this issue?

[2021-11-05 12:54] manicminer commented on #624
This issue is due to, and blocked by, an API bug which is reported at https://github.com/microsoftgraph/msgraph-metadata/issues/92

[2021-11-05 16:05] ppanyukov commented on #650
Hmm, I really hoped this wouldn't be the case but oh well...

Would it be breaking "tf resource best practice" if we do two operations (create and then update) on a single resource? Say create succeeds but update fails for some reason (network issue), what happens with the tf state? Tainted? Although `azurerm` provider does lots of these "combined operations", e.g. `azurerm_app_service` is full of

[2021-11-05 20:41] manicminer commented on #650
Performing multiple operations for a single logical operation in Terraform is fine, as you say we do this in lots of places. If the create operation gets far enough to assign a resource ID, then it is in fact tainted on failure.

[2021-11-08 11:21] manicminer commented on #657
Hi @TheBlackMini, thanks for reporting this documentation discrepency. The permissions tables in the v2 upgrade guide, and the guide on configuring a principal, are intentionally incomplete for brevity - there is a note beneath each table suggesting to consult the documentation page for the particular resource to get the latest permissions.

However, this permission is indeed missing from the [azu

[2021-11-09 11:58] maxhillaert commented on #578
I think we are hitting the same issue:

Running again later fails.

[2021-11-09 21:50] enorlando commented on #587
@manicminer I am getting something similar where I am updating the `included_applications` argument in the `applications` block of an existing CA policy in terraform and when I run a plan it notices the change however if I try and apply, I get the following error

[code]

[2021-11-10 02:34] hayorov commented on #655
UPD (for MS representatives) Support request ID: 2111100060000473

[2021-11-10 13:04] ppanyukov commented on #650
Oh, while we are at it, this makes me **_very_** sad :(

[2021-11-10 16:32] ppanyukov commented on #578
So @manicminer is my understanding correct that it fails here?

[code]

So it's nothing to do with the fact that the users are invited?

If this is the case, then the workaround would be in the provider to retry/delay or similar?

Incidentally we've just hit this too, and of course running terraform apply again fails because group membership already exists, and to fix this we need to do one of:

1

[2021-11-10 16:39] ToniCipriani commented on #587
Seeing the same issue with the current 2.8.0 Provider. Only workaround is to destroy and reapply the policy.

[2021-11-10 16:41] manicminer commented on #578
@maxhillaert That looks like a separate bug for the azuread_app_role_assignment resource, please could you raise this as a new issue and post a [debug log](https://registry.terraform.io/providers/hashicorp/azuread/latest/docs#logging-and-tracing) if you can? Thanks!

[2021-11-10 16:47] manicminer commented on #578
@ppanyukov It's almost certainly an eventual consistency issue due to the distributed architecture of Azure AD. We try to handle this as best we can with retries, but it's complicated by the fact that the API often returns a valid response long before an object is fully replicated. This makes it impossible in some cases for us to reliably tell whether a new resource is completed and ready to use.

[2021-11-10 16:49] manicminer commented on #587
As best I can tell, the issue with 400 responses for `signInFrequency` is an API bug which, as I noted earlier, is reported upstream at https://github.com/microsoftgraph/msgraph-metadata/issues/93

[2021-11-10 18:32] ppanyukov commented on #578
@manicminer and all others, since this is the propagation delay in the invited users, the workaround I've tested and found works well is to use `time_sleep`, like in the following example (we use loops and it works there too). Hope it helps everyone looking for a temporary workaround while waiting for the provider patch.

[code]

Ditto with loops, just in case:

[code]

[2021-11-12 00:13] #657 closed

[2021-11-12 00:34] #578 closed

[2021-11-12 00:34] #611 closed

[2021-11-12 00:47] #633 closed

[2021-11-12 14:21] belaie commented on #218
This should be solved relatively quick as this is just another "resource" within Microsoft graph

[2021-11-13 08:19] hayorov commented on #655
UPD:
I got an official support acknowledgment that for SAML-based application `identifierUris` could omit scheme and it's a legit case.

I plan to support such behavior and raise a PR, @manicminer may i seek your advice on this matter...

the tricky thing is that currently `saml capabilities` are defined via service principal - [preferred_single_sign_on_mode](https://registry.terraform.io/provider

[2021-11-13 13:32] dimbleby opened #661 "Error when destroying azuread_application_password"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritise this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritise the request
* If you are interest

[2021-11-13 14:08] manicminer commented on #655
Thanks @hayorov, we plan to support these once there is a publicly available API endpoint for SAML configuration of service principals

[2021-11-13 14:10] manicminer commented on #661
Hi @dimbleby, thanks for reporting this issue. This looks like an interesting error case, if you are able to reproduce and could post debug output that would be exceedingly helpful. Thanks!

[2021-11-13 14:19] dimbleby commented on #661
I have a repro, just need to redact credentials from the log...  will update shortly.

[2021-11-13 14:37] dimbleby commented on #661
https://gist.github.com/dimbleby/88190ed4b89e0d50542c1e2f86aa109b#file-debug-log

(I've removed the client secret and all access tokens that it obtains.  All applications etc mentioned in this log are now destroyed, so it doesn't matter that their details remain visible).

The 404 appears at line 13689.

I have started seeing this when taking the upgrade from azuread 2.7.0 to 2.9.0.  I don't know

[2021-11-13 19:19] Divya1388 opened #662 "Known_client_applications being ignored in azuread_application api block"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritise this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritise the request
* If you are interest

[2021-11-15 03:24] hayorov commented on #655
@manicminer Appreciate your quick response.

May I ask "publicly available API endpoint" means MS Graph support?
(are we talking about APIs mentioned [here](https://docs.microsoft.com/en-us/graph/application-saml-sso-configure-api#step-3-configure-claims-mapping)) e.g.:

- https://graph.microsoft.com/v1.0/servicePrincipals/XXX/claimsMappingPolicies/$ref
- https://graph.microsoft.com/v1.0/servicePr

[2021-11-15 09:40] manicminer commented on #662
Hi @Divya1388, thanks for raising this issue. Are you perhaps looking for the [azuread_application_pre_authorized](https://registry.terraform.io/providers/hashicorp/azuread/latest/docs/resources/application_pre_authorized) resource? The `known_client_applications` property is different and is used for [bundling/combining consent](https://docs.microsoft.com/en-us/azure/active-directory/develop/v2-o

[2021-11-15 13:56] dimbleby commented on #661
Just updating to note that after a few retries both up- and down-level: I am pretty convinced that we hit this at 2.9.0 but not at 2.7.0

[2021-11-15 18:37] manicminer commented on #655
@hayorov No problem - any endpoint that exposes the initial SAML configuration for service principals would do. The corresponding portal blade uses an internal API to do this.

[2021-11-15 22:49] dimbleby commented on #661
Noting, in case it helps, that it seems that we do not hit this at 2.8.0 (but do continue to hit it at 2.9.0)

[2021-11-16 00:12] manicminer commented on #661
Thanks @dimbleby, all of this is extremely helpful! We did add some changes in 2.9 that might be related. I'll dig into this sometime tomorrow 👍

[2021-11-16 12:30] russellhart commented on #652
@manicminer thanks for improving this. We are also seeing the issue for group member resource. Can the same fix be applied to that? Thanks

[2021-11-16 13:05] manicminer commented on #652
@russellhart Unfortunately the same fix cannot be applied for group members as it's a POST/DELETE only endpoint. I intend to try and raise this with the API team and perhaps collaborate on a proper fix, but this will take time.

[2021-11-16 15:56] TheMacStack commented on #650
What we struggle with not having any way to set the First and Last names for the created object, this is an issue with things like AAD SCIM sync to sync the guests to other 3rd party apps, (AWS SSO for example) that require First and Last name attributes.

I understand this is likely limitation on the azure api but still my 2 cents

[2021-11-17 13:58] arsalan-ahmad opened #664 "azuread_group does not remove the last member from an AD group"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritise this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritise the request
* If you are interest

[2021-11-17 21:46] asos-alastairwilkins opened #665 "403 forbidden error when attempting to provision azuread_application"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritise this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritise the request
* If you are interest

[2021-11-17 22:40] mausv commented on #501
Any update on this?

[2021-11-17 22:58] manicminer commented on #665
Hi @asos-alastairwilkins, I would suggest double checking the owner ID and that it does match the object ID of the SP used by Terraform. This is exposed as the `object_` attribute by the azuread_client_config data source.

Please also ensure that you have read the [2.0 upgrade guide](https://registry.terraform.io/providers/hashicorp/azuread/latest/docs/guides/microsoft-graph) as there are breaking

[2021-11-17 23:04] #665 closed

[2021-11-18 00:37] manicminer commented on #664
Hi @arsalan-ahmad, thanks for raising this. Unfortunately this is by design of the API and is known and [noted in the documentation](https://registry.terraform.io/providers/hashicorp/azuread/latest/docs/resources/group#argument-reference) for this resource:

![Screenshot 2021-11-18 at 00 35 57](https://user-images.githubusercontent.com/251987/142317310-cfb70149-e169-475b-bf41-cc1ec6b5d9d7.png)

[2021-11-18 09:30] asos-alastairwilkins commented on #665
Yes, I can confirm the owner ID does match the SP used by Terraform.

Here is the permission it has:
![image](https://user-images.githubusercontent.com/79162634/142388650-7273b8a1-680d-4338-a231-df03639b2c8a.png)

The permissions page you link above shows `azuread_application` requiring ReadWriteAll, yet the documentation page on `azuread_application` contradicts this?

Please confirm which it is

[2021-11-18 09:38] manicminer commented on #665
@asos-alastairwilkins Thanks for confirming. It looks like you haven't added permissions for Microsoft Graph - your screenshot shows "Windows Azure Active Directory" which is the old API :)

[2021-11-18 09:43] asos-alastairwilkins commented on #665
D'oh. Thanks for letting me know. Will get the ReadWrite.OwnedBy from Graph added and try again - Sorry for the confusion, appreciate the quick response.

[2021-11-18 11:02] manicminer commented on #661
Hi @dimbleby, from what I can tell, the provider is doing the right things during this sequence. I simulated the API error with an intercepting proxy and observed the same on my end. The error itself seems quite likely to be an API bug - at 14:13:08 the application is retrieved and the password credential is included in the response, yet shortly after a series of requests to delete that password f

[2021-11-18 11:41] dimbleby commented on #661
Thanks.  Please let me know if there's anything I can do to chip in on encouraging upstream to address the probable API bug.

Curious that we only start hitting this with 2.9.0, did anything change about the way that the provider accesses the API?  Maybe just the timings?

(Quite the shame too - I was hoping to pick up the mitigation for #611.)

One oddity that I spotted is that after a DELETE we

[2021-11-18 12:36] hayorov commented on #655
UPD: from the MS ticket I got confirmation that if app is created via API (e.g. tf app resource) and the owner added it will not allow editing SAML attributes - like claims. They recommend creating an app via Portal (UI)...

[2021-11-18 14:28] manicminer commented on #655
@hayorov Thanks, appreciate your feedback from chasing this up. Whilst that may be unsatisfactory for many, unfortunately it does correlate with the lack of API support for this aspect of SAML configuration.

We're already tracking this in https://github.com/hashicorp/terraform-provider-azuread/issues/173, as mentioned here and in that thread we're waiting on this API support before we can impleme

[2021-11-18 14:33] manicminer commented on #661
@dimbleby I'm not certain that any changes in 2.9.0 are contributing to your seeing this more with that version, could it perhaps be coincidence due to the intermittent nature of this API bug? We haven't changed anything with regards to deletion of app or SP passwords, and assuming that your Terraform config defines a relationship between the app and it's secrets, such that the secrets are destroy

[2021-11-18 14:44] manicminer commented on #651
Hi @noampc, thanks for reporting this! I have done some testing with the Graph Explorer and with the Portal and it seems like this is actually not supported? Can you confirm how you were able to do this outside of Terraform?

![Screenshot 2021-11-18 at 14 43 13](https://user-images.githubusercontent.com/251987/142436994-ae8c0e95-cfbd-438f-a813-a18ee968c64b.png)

![Screenshot 2021-11-18 at 14 42 13

[2021-11-18 14:53] dimbleby commented on #661
If it is only coincidence, it's becoming a very strong one - we have never hit this prior to 2.9.0 (and continue not to hit it in our continuing pipelines) whereas we hit it more often than not at 2.9.0.

(Each of our pipelines sets up and destroys several applications and passwords; just one of these passwords erroring out is enough for the pipeline to fail.  So I don't necessarily mean that we h

[2021-11-18 22:30] arsalan-ahmad commented on #664
Hi @manicminer Thank you for the prompt reply.

I did wonder if this was related to the owners limitation which is documented in the docs you referenced however this raises some questions;

1. The docs states "a group cannot be without an `owner` therefore the principal being used to execute terraform is given owner." This is fine and I am not trying to remove this.
2. The behaviour I have noted i

[2021-11-19 01:25] #639 closed

[2021-11-19 01:43] manicminer commented on #664
Hi @arsalan-ahmad, thanks for the clarification and apologies, I misread your initial report as being about removal of owners. I also missed your gist link nestled in the code block there. Sorry about this confusion!

After digging further, I can confirm that this is definitely a bug which was being missed by our acceptance testing. I've opened a PR #666 to address this and we'll look to get this

[2021-11-19 01:48] manicminer commented on #627
Thanks again for reporting this crash. I'm going to take no news as being good news and tentatively close this issue as resolved in v2.6.0. If this isn't the case, please let me know and I'll be happy to reopen the issue for further investigation. Thanks!

[2021-11-19 01:48] #627 closed

[2021-11-19 01:52] manicminer commented on #661
@dimbleby I can think of a potential cause if Terraform has not inferred a direct dependency between your application resource and your application_password resource. In that event, the recent changes in 2.9.0 could potentially be causing this error to surface.

Could you perhaps share a small configuration piece showing these two resources? It would be useful in trying to reproduce this.

[2021-11-19 03:18] #664 closed

[2021-11-19 08:26] jayendranarumugam opened #667 "Support for creating custom AAD roles"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritise this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritise the request
* If you are interest

[2021-11-19 09:14] dimbleby commented on #661
We follow a pattern something like this:
[code]

[2021-11-19 09:32] arsalan-ahmad commented on #664
Thank you very much @manicminer for the quick release on this! I have given it a quick test and it seems to have fixed my issue :) Will report back if there is anything else.

Thanks again @manicminer!

[2021-11-19 14:15] manicminer commented on #661
Thanks, I'll try and use that for further testing to track this down

[2021-11-19 18:38] josefismael opened #668 "Conditional Access : terraform show missing required blocks when not defined in the policy"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritise this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritise the request
* If you are interest

[2021-11-19 18:51] josefismael opened #669 "Conditional Access - add Device Filter conditions to tf file argument syntax"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritise this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritise the request
* If you are interest

[2021-11-21 16:42] Uvindu96 opened #671 "Azure AD app secret rotation"
I have several azure AD apps and and their secret expiring dates are getting closes, So there is a requirement to rotate the AD app secrets, I have implemented a pipeline to rotate the secretes, but the problem is since AD apps are configured using terraform, after I rotate the secrets, next time when I apply terraform it will give me a diff in password object that I currently have for my AD apps.

[2021-11-22 11:08] manicminer commented on #669
Thanks for requesting this @josefismael, we'll look to add it as soon as we can. Thanks!

[2021-11-22 11:19] manicminer commented on #671
Hi @Uvindu96, thanks for opening this issue.

It looks like you may be using an older 0.x or 1.x provider version - whilst I'm not sure of the behavior with 0.x releases, with a recent 1.x version you should be able to provide a new value for `value` and Terraform will rotate the password.

In v2.0, the `value` property for `azuread_application_password` was removed due to API constraints, and I w

[2021-11-22 11:19] #671 closed

[2021-11-22 15:41] josefismael commented on #668
Correct - I am importing conditional access policy resources in an attempt to capture a snapshot of what already exists in a client's environment. The import works as expected, and creates a .tfstate config with all the required blocks (`Grant_controls` and `locations`). I was hoping to be able to write the output of `terraform show` to create a .tf file, but that command only returns those 2 bloc

[2021-11-22 18:38] manicminer commented on #668
Thanks for confirming @josefismael, I'll see if something can be done to mitigate this.

[2021-11-22 22:04] manicminer commented on #668
@josefismael Unfortunately I haven't been able to reproduce this as yet. Would you be able to to share an example policy that triggers this for you, and the corresponding Terraform configuration that you would be trying to import to?

[2021-11-22 22:08] manicminer commented on #667
Hi @jayendranarumugam, thanks for requesting support for custom AAD roles. Unfortunately we're unable to implement this at the moment as the required functionality is only available via a private endpoint on the deprecated AAD Graph API. We will need to wait for support to be added to Microsoft Graph.

I've marked this feature request as blocked for now, but we'll revisit once API support is avail

[2021-11-23 11:47] Uvindu96 opened #674 "Azure pipeline failed after AD app secret rotation configured"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritise this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritise the request
* If you are interest

[2021-11-23 16:39] #674 closed

[2021-11-23 16:54] Uvindu96 opened #675 "Error: Provider produced inconsistent result after apply"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritise this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritise the request
* If you are interest

[2021-11-24 10:40] huwjeffries commented on #218
+1 for this feature. We have many 100's of access packages, which are time-consuming and potentially error prone to create by hand. We'd really like this to be managed as infrastructure as code. Thanks.

[2021-11-24 13:11] manicminer commented on #675
Hi @Uvindu96, we're aware of some consistency related bugs with this resource. These are difficult to track down since reproduction depends on a number of factors, some outside our control.

Would you be able to post a [debug trace](https://registry.terraform.io/providers/hashicorp/azuread/latest/docs#logging-and-tracing) which will show the HTTP requests involved leading up to this error?

[2021-11-24 16:46] gtmtech opened #678 "azuread_application_app_role is not documented"
`azuread_application_app_role` was created in response to https://github.com/hashicorp/terraform-provider-azuread/issues/306 and https://github.com/hashicorp/terraform-provider-azuread/issues/150 and available since v1.0.0

However it is not documented and does not appear in the docs (see https://registry.terraform.io/providers/hashicorp/azuread/latest/docs/resources/application)

[2021-11-24 16:50] gtmtech commented on #678
I since found that it's been removed in v2.0.0, so that's why.

[2021-11-24 16:56] gtmtech opened #679 "Is it possible to be authoritative on approle-assignments for a particular approle."
Closely related to https://github.com/hashicorp/terraform-provider-azuread/issues/306, I used to use the virtual `azuread_application_app_role` resource to create app-roles on eapps that were given to me by another team to manage. I had no ability to create eapps or manage the eapp resource, only approles on the eapps.

A requirement has now come in that the tooling I work on is authoritative for

[2021-11-24 18:13] drdamour opened #680 "oauth2_permission_scope forces replace for updatable description fields"
i noticed while modifying some descriptions that tf wants to seem to replace the scope blocks if the description changes...but these are updatable fields...i would expect it show only a modification of the descriptions i've changed.  i'd expect the id to maybe matter?
![image](https://user-images.githubusercontent.com/1514496/143292648-f37a75d5-f3d3-4f6d-9ccf-f7945182b7af.png)

### Community Note

[2021-11-25 04:33] Uvindu96 commented on #675
Hi @manicminer Thanks for looking into this, I just tried to change the `rotation_hours` to `rotation_minutes` then again I got the same error, I exported all the related logs, please check the following log file,
**Log File :**
[apply-log.txt](https://github.com/hashicorp/terraform-provider-azuread/files/7600204/apply-log.txt)

[2021-11-25 08:42] Uvindu96 commented on #671
Hi @manicminer ,

I just checking this again, I have created the configurations as you mentioned, I just want to when we add the attribute `rotate_when_changed` it will create a new password resource according to the timestamp we set right ? and I want to know that this is a feature that Terraform only provides or this is a feature from Azure AD ? since Azure AD does not provide the key rotation f

[2021-11-25 10:41] manicminer commented on #678
Hi @gtmtech, that's correct, this resource was removed in v2.0

[2021-11-25 10:41] #678 closed

[2021-11-25 10:52] manicminer commented on #675
Hi @Uvindu96, thanks for the log output. Looking at it again more closely, I see that the error is actually originating from the `time_rotating` resource and not the `azuread_service_principal_password` resource.

Since this issue relates to a different provider, with different maintainers, I'm going to transfer this issue over to the [hashicorp/terraform-provider-time](https://github.com/hashicor

[2021-11-25 11:03] manicminer commented on #679
Hi @gtmtech, I believe it's possible to meet your requirements with the provider. For some background, we did indeed remove the `azuread_application_app_role` resource in order to resolve a conflict with, and improve handling of, the corresponding `app_role` block in the `azuread_application` resource.

As of v2.0 of the provider, the `app_role` block is no longer Computed, which makes it possible

[2021-11-25 11:20] manicminer commented on #680
Hi @drdamour, thanks for opening this issue. The way Terraform represents changes to this, and similar blocks like `app_role`, are due to the way they are represented internally as sets. The plan is not entirely accurate in its portrayal as in the case of changing updatable fields like `description` - since the scope isn't actually deleted and recreated in the manifest.

The way this works under t

[2021-11-25 11:45] manicminer commented on #671
@Uvindu96 As per the documentation, `rotate_when_changed` will trigger reprovisioning (hence rotation) of the password when any of its keys or values change

[2021-11-25 11:48] Uvindu96 commented on #671
@manicminer Thanks for the clarification, one last thing I want to know, This is a Terraform feature right ? Because there is no rotation feature provided in azure.

[2021-11-25 12:19] manicminer commented on #671
@Uvindu96 Correct, the net result is rotation but that's just a useful way of saying that Terraform removes and recreates the password

[2021-11-25 12:51] #591 closed

[2021-11-25 15:15] gtmtech commented on #679
THanks @manicminer  - it _sounds_ like the apps are authoritative for app_roles, but perhaps the app_roles arent yet authoritative for approle_assignments (which we'd also need). (Would want to ensure nobody could be a member of an approle outside terraform)

I will POC and confirm and get back to you.

[2021-11-25 16:34] manicminer commented on #680
We can definitely look at adding a note to the docs explaining this in more detail. At the moment, the specific behavior isn't explicitly documented, save for perhaps [this section](https://registry.terraform.io/providers/hashicorp/azuread/latest/docs/guides/microsoft-graph#new-required-uuid-fields) of the v2.0 Upgrade Guide on the fact that the `id` property is now required for roles and scopes:

[2021-11-25 19:50] manicminer commented on #679
@gtmtech Ah right, sorry I misread your question. Your interpretation is correct, at the moment we don't have a way to _authoritatively_ configure app role assignments for a specific app role, or service principal. At face value I don't see a reason why we could not implement such a resource, subject to feasibility testing.

[2021-11-25 22:37] #669 closed

[2021-11-26 10:44] Uvindu96 commented on #675
@manicminer Thanks for the follow up, I have created this issue in the https://github.com/hashicorp/terraform-provider-time repo to keep a track of this issue.

[2021-11-26 13:04] Andrei-Predoiu opened #681 "azuread_service_principal_delegated_permission_grant when a grant already exists"
Regarding the new feature here
https://github.com/hashicorp/terraform-provider-azuread/pull/676

Currently, i am using a null resource that calls `az ad app permission grant` as a workaround. I would like to use the new resource
`azuread_service_principal_delegated_permission_grant`.

I have over 50 applications in my state and it seems like i have to import the existing grants, otherwise i will g

[2021-11-26 13:05] Bhodges94 opened #682 "azuread_invitation - doesn't send email to user"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritise this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritise the request
* If you are interest

[2021-11-26 13:19] Va55ago opened #683 "azuread_application custom redirect_uris for "Mobile and Desktop applications""
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritise this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritise the request
* If you are interest

[2021-11-26 13:22] manicminer commented on #681
Hi @Andrei-Predoiu, thanks for opening this issue. I believe the grant details can be retrieved with `az ad app permission list-grants`, it looks like the `objectId` field here contains the ID you need when importing.

You should be able to script something around this if you have a lot of grants that you'd like to import into Terraform - both to generate some Terraform configuration and to build

[2021-11-26 13:28] manicminer commented on #682
Hi @Bhodges94, the invitation email is sent by Azure and not something the provider handles. I have just tested and it works fine for me. I would suggest checking your email logs etc, and if you're certain that no message is delivered to your mail server at all, I would contact Azure support to investigate.

[2021-11-26 13:28] #682 closed

[2021-11-26 13:41] Andrei-Predoiu commented on #681
Hi @manicminer thanks! The command seems to give me what i need : `az ad app permission list-grants --id <appID>` but when i try to import it i get
[code]
Obviously, import should be possible, even according to [the docs](https://registry.terraform.io/providers/hashicorp/azuread/latest/docs/resources/service_principal_delegated_permission_grant#import). Is this a bug or am i missing something?